<div class="page_home_wrapper">
  <div class="row">
    <div class="col">

      <div class="title site_name">
        <h1 class="title mt-5">Eurocorporation e Conflavoro PMI insieme per la tua azienda</h1>
      </div>

      <div class="content" style="display:none;">{{sitedata.body|striptags }}</div>

    </div>
  </div>



    <div id="articlesbox">
      <!-- <h2 class="color_primary display-4">Gli ultimi articoli</h2> -->
      <div class="">

        <div class="row">
          {% for article in articles|slice(0, 9) %}
          {{ include( themefolder ~ '/teasers/home_article.html') }}
          {% endfor %}
          {# /#articlesbox #}
        </div>
      </div>

    </div>

    <div class="body_wrapper">
      {{sitedata.body|raw }}
    </div>


</div>
