@media (min-width: 992px) {
  body {
    max-width: 100vw;
    overflow-x: hidden;
    margin: auto;
  }

  .page_article .node_body .col-md-8 h1 {
    padding-right: 10vw;
  }

  .page_article .node_body .col-md-8 p:last-child {
    margin: 0;
  }

  div#logowrapper {
    text-align: center;
    width: 100%;
  }

  .navbar-expand-lg .navbar-collapse {
    width: 100%;
  }

  .navbar-expand-lg .navbar-nav {
    justify-content: space-around;
    width: 100%;
  }

  .navbar.navbar-expand-lg>.container-fluid {
    flex-direction: column;
  }

  .node_top_block {
    padding-bottom: 15vh;
  }

  .red_circle * {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .red_circle * {
    font-size: 2.5rem;
  }
}

@media (min-width: 1400px) {
  .red_circle * {
    font-size: 3rem;
  }
}

@media (min-width: 1600px) {
  .red_circle * {
    font-size: 3.5rem;
  }
}

/* Responsive behaviour */
@media (min-width: 1920px) {

  body,
  #header {
    max-width: 1920px;
    margin: auto;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .page_home .red_circle {
    left: -7.5vw;
    width: 35vw;
    height: 35vw;
  }

  .page_article .red_circle {
    top: 12vh;
  }

  .bottom_block .col-right h1 {
    margin-bottom: 3rem;
  }
}

@media (max-width: 1399px) {
  .page_article .nav-tabs li {
    margin: .25rem;
  }
}

@media (max-width: 1199px) {}

@media (max-width: 991px) {
  .red_circle {
    display: none;
  }

  #header {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .bottom_block .col-left,
  .bottom_block .col-right h1 {
    margin-bottom: 2rem;
  }
}

@media (max-width: 767px) {
  .row.mb-5 {
    margin: 0 !important;
  }

  .column {
    margin-bottom: 2rem;
  }
}
