/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v25-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/montserrat-v25-latin-500italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v25-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/montserrat-v25-latin-700italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* golabl */
body {
  font-family: 'Montserrat';
}

h1 {
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
}

.btn-primary,
.btn-primary *,
.btn-primary:hover,
.btn-primary:hover * {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

#book > ul {
  padding-inline-start: 0;
}

#book .btn-primary {
  animation-name: box_shadow;
  animation-duration: .65s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* box-shadow:         0px 0px 5px 0px rgba(228, 11, 58, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(228, 11, 58, 0.75);
  -moz-box-shadow:    0px 0px 5px 0px rgba(228, 11, 58, 0.75); */
}

@keyframes box_shadow {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: 0px 0px 5px 0px rgba(228, 11, 58, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(228, 11, 58, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(228, 11, 58, 0.75);
    transform: scale(1.1);
  }
}

/* header */
#header {
  background-color: #fff;
  margin-left: -.75rem;
  margin-right: -.75rem;
  box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.51);
  -webkit-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.51);
  -moz-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.51);

}

#logoimg {
  max-width: 120px;
  height: auto;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("black_burger.svg");
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
  color: #e40b3a;
}

.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
  color: #000;
}

/* Home */
.video_wrapper {
  position: relative;
  margin: 0 -.75rem;
}

.video_wrapper video,
.video_wrapper img.top_image,
.tips_page_wrapper .node_cover,
.page_article .node_cover,
.img_page {
  border: 4px solid #E51D46;
  border-left: 0;
  border-right: 0;
}

.page_article .node_body {
  position: relative;
}

.page_article h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.page_article .node_cover {
  margin-left: -.75rem;
  margin-right: -.75rem;
}

.page_article .body_wrapper a {
  color: #e40b3a;
  text-decoration: none;
}

.page_article .tour_details_col p {
  margin-bottom: 0;
}

.page_article .nav-tabs .nav-link:focus,
.page_article .nav-tabs .nav-link:hover {
  /* border: 0; */
  border-color: #e40b3a00;
}

.page_article .nav-tabs .nav-item .nav-link {
  color: #000;
}

.page_article .nav-tabs .nav-item.show .nav-link,
.page_article .nav-tabs .nav-link.active {
  color: #e40b3a;
  background-color: #fff;
  border-color: #e40b3a00;
  border-bottom: 1px solid #e40b3a;
}

.page_article .nav-tabs li {
  margin-right: .25rem;
}

.node_cover {
  margin-bottom: 2rem;
}

.playme {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}

.playme_inner {
  position: absolute;
  left: 50%;
  top: 50%;
}

.playme_icon {
  display: block;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  transition: 0.5s linear all;
}

@keyframes logoplayAnimation {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  to {
    transform: scale(1.2);
    -webkit-transform: scale(1.1);
  }
}

.playme_icon #logoplay {
  width: 75px;
  margin-top: 22px;
  margin-left: 15px;
  height: auto;
  animation-name: logoplayAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.node_top_block {
  position: relative;
}

.red_circle {
  position: absolute;
  bottom: 60px;
  left: -2.5vw;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: #E40B3A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.red_circle * {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

.page_article .red_circle {
  left: auto;
  bottom: auto;
  top: 20vh;
  right: -2.5vw;
}

#articlesbox .article_wrapper {
  height: 100%;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#articlesbox a {
  color: #000;
  text-decoration: none;
}

#articlesbox a h2 {
  font-weight: 700;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

#articlesbox .node_body a {
  position: absolute;
  bottom: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
}

#articlesbox .article_wrapper:hover * {
  color: #E40B3A;
}

.node_cover {
  overflow: hidden;
}

#articlesbox .article_wrapper .node_cover {
  border-bottom: 4px solid transparent;
}

#articlesbox .article_wrapper img {
  transition: all linear 0.5s;
}

#articlesbox .article_wrapper:hover img {
  transform: scale(1.1);
}

#articlesbox .article_wrapper:hover .node_cover {
  border-bottom: 4px solid #E51D46;
}

.bottom_block {
  margin-top: 4rem;
}

.bottom_block .col-6 {
  border-bottom: 8px solid #E40B3A;
  padding: 0;
}

.bottom_block .col-right {
  padding-left: 2vw;
  padding-right: 10vw;
}

.bottom_block .col-right h1 {
  font-size: 3rem;
  margin-bottom: 8rem;
}

.faq_wrapper {
  margin-top: 4rem;
}

.faq_wrapper h3 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #E40B3A;
  margin-bottom: 3rem;
}

.accordion-item {
  margin-bottom: 2rem;
}

button.accordion-button.collapsed,
.accordion-button:not(.collapsed) {
  background: #E40B3A;
  color: #fff;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* Web Page */
.tips_page_wrapper a {
  color: #E40B3A;
  text-decoration: none;
}

/* Contacts page */
.contact-col img {
  max-height: 35px;
  width: auto;
  margin-bottom: .5rem;
}

.contact-col h4 {
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.contact-col p {
  margin-bottom: .5rem;
}

.page_wrapper a {
  color: #E40B3A;
  text-decoration: none;
}

/* Footer */
#footer {
  background-color: #E40B3A;
  margin: 0 -.75rem;
  padding: 2rem;
  margin-top: 8rem;
}

#footer *,
#powered * {
  color: #fff;
  text-decoration: none;
}

#footer a:hover {
  color: #000;
}

#footer p {
  font-size: .9rem;
}

#footer .description {
  font-size: .8rem;
}

#powered {
  background-color: #000;
  margin: 0 -.75rem;
  padding: .75rem;
  font-size: .75rem;
}

#powered a:hover {
  color: #E40B3A;
}

#powered .heart {
  color: red;
}

#ourtour_wrapper{
  position: fixed;
  bottom: 1vh;
  right: 1vh;
  text-align: center;

  background-color: #E40B3A;
  border: 5px solid #ffffff;

  padding: 1rem;
}

#ourtour_wrapper a{
  color: #ffffff;
  text-decoration: none;
}

#ourtour_wrapper a h3{
  font-size: 18px;
}

#ourtour_wrapper a h2{
  font-size: 28px;
  font-weight: bold;
}

/* cookie Preferences */
#cookiePreferences {
  border: 2px solid #666666;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #ffffff;
  padding: 0.3rem 1rem;
  height: 2rem;
  cursor: pointer;
}
