<div class="col-12 col-sm-6 col-md-4">
  <div class="card-body">
    <div class="card-text">
      <a href="{{sitedata.baseurl}}{{article.path}}"><img class="fluid card-img-top" src="{{article.cover_url}}" alt="{{article.cover_alt}}"></a>
      <h3 class="color_primary pt-2">
        <a href="{{sitedata.baseurl}}{{article.path}}">
          {{ article.title|length > 64 ? article.title|slice(0, 64)|raw ~ '...' : article.title|raw }}
        </a>
      </h3>

      <hr />

      {{article.body|striptags|slice(0, 400)|raw ~ '...'}}

      <hr />

      {% for cat in article.categories %}
      {% autoescape false %}
      <a class="btn btn btn-outline-primary btn-block border_bg_primary color_primary bg-secondary-hover" href="{{sitedata.baseurl}}{{cat.path}}">{{cat.title}}</a>
      {% endautoescape %}
      {% endfor %}

      <hr />

      <a class="btn btn btn-primary btn-block" href="{{sitedata.baseurl}}{{article.path}}">Leggi tutto</a>

    </div><!-- ./card-text -->
  </div><!-- ./card-body -->
</div>
