<div class="col-sm-12 col-lg-8 order-2 order-lg-1">
  <img class="fluid img-fluid" src="{{article.cover_url_original}}" alt="{{article.cover_alt}}" />
</div>
<div class="col-sm-12 col-lg-4 order-1 order-lg-2">
  <h2><a href="{{sitedata.baseurl}}{{article.path}}">{{article.title}}</a></h2>
  <p>{{article.body|striptags|slice(0, 200)|raw ~ '...'}}</p>
  <a href="{{sitedata.baseurl}}{{article.path}}">Leggi tutto</a>
</div>
