  <div class="col-12">
    <article>
      <div class="article-item shadow">
        <div class="cover-img">
          <a href="{{sitedata.baseurl}}{{article.path}}"><img src="{{article.cover_url}}" class="d-block w-100" alt="..."></a>
        </div>
        <div class="text-box">
          <div class="category color_secondary">
            {% for cat in article.categories %}
            {% autoescape false %}
            <div class="category-item colorbg_primary">
              <a href="{{sitedata.baseurl}}{{cat.path}}">{{cat.title}}</a>
            </div>
            {% endautoescape %}
            {% endfor %}
          </div>
          <div class="title">
            <a href="{{sitedata.baseurl}}{{article.path}}">
              <strong>{{ article.title|length > 64 ? article.title|slice(0, 64)|raw ~ '...' : article.title|raw }}</strong>
            </a>
          </div>
          <div class="created">
            <p><em>pubblicato il {{ article.created|date("d/m/Y") }}</em></p>
          </div>
          <div class="description">
            <p>{{article.body|striptags|slice(0, 400)|raw ~ '...'}}</p>
          </div>
        </div>
      </div>
    </article>
  </div>
