<div class="most_seen_articles">
  {% for cat in article.categories %}
  {% autoescape false %}
  <div class="category-item color_primary">
    <a href="{{sitedata.baseurl}}{{cat.path}}">{{cat.title}}</a>
  </div>
  {% endautoescape %}
  {% endfor %}
  <div class="title">
    <a href="{{sitedata.baseurl}}{{article.path}}">
      <strong>{{ article.title }}</strong>
    </a>
  </div>
  <div class="created">
    <p><em>{{ article.created|date("d/m/Y") }}</em></p>
  </div>
</div>
