<div class="col-12 col-md-4">
  <div class="article_wrapper">
    <a href="{{article.link_url}}" target="_blank">
      <div class="node_cover">
        <img src="{{article.cover_url_original}}" class="d-block w-100" alt="{{article.title}}">
      </div>
    </a>
    <div class="node_title">
      <a href="{{article.link_url}}" target="_blank">
        <h2>{{article.title}}</h2>
      </a>
    </div>
    <div class="node_body">
      <a href="{{article.link_url}}" target="_blank">
        {{article.body_summary|raw }}
      </a>
    </div>
  </div>

</div>
