<article class="grid-item">
  <div class="grid-item_inner card">

  <div class="card-body">
    <h3 class="color_primary display-5">
      <a href="{{sitedata.baseurl}}{{article.path}}">
        {{ article.title|length > 64 ? article.title|slice(0, 64)|raw ~ '...' : article.title|raw }}
      </a>
    </h3>
    <div class="card-text">
      <div class="row">
        <div class="col-12 col-md-12">
            <img class="fluid card-img-top" src="{{article.cover}}" alt="{{article.cover_alt}}">
        </div>

        <div class="col-12 col-md-12">
            {{article.body|striptags|slice(0, 400)|raw ~ '...'}}
            {% for cat in article.categories %}
            <li class="list-group-item">
              {% autoescape false %}
              <a href="{{sitedata.baseurl}}/{{cat.path}}">{{cat.name}}</a>
              {% endautoescape %}
            </li>
            {% endfor %}
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-12 col-md-12">
            <a class="btn btn btn-outline-primary btn-block" href="{{sitedata.baseurl}}{{article.path}}">Leggi tutto</a>
        </div>
      </div>
    </div>
  </div>
</article>
