@media (min-width: 992px) {
  .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 1920px) {
  body {
    max-width: 1920px;
    margin: auto;
  }
}


@media (max-width: 575px) {
  .navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .navbar-brand img {
    max-width: 375px;
  }
}

@media (max-width: 375px) {
  .navbar-brand img {
    max-width: 250px;
  }
}
