/* FONTS */
/* playfair-display-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/playfair-display-v30-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* playfair-display-italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/playfair-display-v30-latin-italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* playfair-display-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/playfair-display-v30-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* playfair-display-700italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/playfair-display-v30-latin-700italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* GLOBAL */
body {
  font-family: 'Playfair Display';
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

.inline-block {
  display: inline-block;
}

.small_caps {
  font-variant: small-caps;
  font-weight: 700;
}

/* HEADER */
#header {
  margin: 0 -.75rem;
  font-variant: small-caps;
  background-color: #fff;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
}

h1.front_h1 {
  text-transform: uppercase;
  font-weight: 700;
}

.separator {
  display: block;
  height: 5px;
  width: 100%;
}

#navbarNav ul.navbar-nav li.nav-item a,
#navbarNav .categories>a {
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
}

#navbarNav ul.navbar-nav li.nav-item a::before,
#navbarNav .categories>a::before {
  display: inline-block;
  content: '♦';
  margin-right: .5rem;
}

/* MAIN */
#lastarticle {
  align-items: center;
  margin: 30px 0;
}

/* Articles Grid */
.article-item {
  margin-bottom: 2rem;
}

.article-item .cover-img a {
  position: relative;
  display: block;
}

.article-item .cover-img .overtitle {
  display: inline-block;
  position: absolute;
  top: 5%;
  width: 90%;
  left: 5%;
}

.article-item .cover-img .overtitle h3 {
  background-color: #fff;
  display: inline;
  font-weight: 900;
}

.article-item .text-box {}

.category-item {
  display: inline-block;
  text-transform: capitalize;
  font-weight: bold;
}

.article-item .title {
  text-transform: uppercase;
  font-size: 20px;
}

.grid-item {
  width: 33%;
}

.grid-item_inner {
  margin: 1rem;
  padding: 1rem;
}

.readmore {
  display: inline-block;
  padding: 0.2rem 0.5rem;
}

#about-us {
  padding: 1rem;
}

#about-us h4 {
  font-weight: 700;
}

/********************
ARTICLE
*********************/
/* article explosed */
#white_box {
  background-color: #fff;
  padding: 0 90px 30px 90px;
  margin-top: 60px;
}

.title_box {
  text-align: center;
}

.title_box .title {
  text-transform: uppercase;
}

#white_box .links {
  margin-top: 90px;
}

#white_box .links h4 {
  margin-bottom: 15px;
}

#white_box .links ul {
  margin: 0;
  padding: 0;
}

#white_box .links li {
  list-style-type: none;
  margin-bottom: 1.5rem;
}

#other_articles {
  margin: 2rem 0;
}

#other_articles .separator {
  margin-bottom: 2rem;
}

#other_articles h4 {
  text-transform: uppercase;
  margin-bottom: 60px;
}

/****************************************
  FULL ARTICLE
****************************************/
.page_article .category-item a {
  margin-right: .5rem;
}

.links > h4 {
  font-weight: 700;
}

.page_article .category-item a::before {
  display: inline-block;
  content: "♦";
  margin-right: 0.5rem;
  color: #000;
}

.page_article h1 {
  font-weight: 700;
}

/* Footer */
#footer {
  padding: 1rem;
}

.cookie {
  margin-bottom: 30px;
}

.card,
.cover {
  margin-bottom: 1rem;
}

.card {
  padding: 0.5rem;
  border-radius: 0;
  color: #000;
}

.card-body {
  padding: 0.5rem;
}

.btn {
  border-radius: 0;
}

/* other websites */
#other-websites h4 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 700;
}

.websites_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.websites_wrapper>a {
  margin: .5rem;
}

/* FOOTER */
#footer {
  padding-bottom: 1rem;
}
