<div class=" col-12">
  <article>
    <div class="article-item">
      <div class="cover-img">
        <a href="{{sitedata.baseurl}}{{article.path}}">
          <picture>
            <source media="(min-width:992px)" srcset="{{article.gamma_home}}">
            <img src="{{article.cover_url_original}}" class="teaser-image-home d-block w-100" alt="{{article.title}}">
          </picture>
        </a>
      </div>
      <div class="text-box">
        <div class="category color_primary">
          {% for cat in article.categories %}
          {% autoescape false %}
          <div class="category-item">
            <a href="{{sitedata.baseurl}}{{cat.path}}">{{cat.title}}</a>
          </div>
          {% endautoescape %}
          {% endfor %}
        </div>
        <h3 class="title color_secondary">
          <a href="{{sitedata.baseurl}}{{article.path}}">
            <strong>{{ article.title|length > 64 ? article.title|slice(0, 64)|raw ~ '...' : article.title|raw }}</strong>
          </a>
        </h3>
        <div class="created">
          <p>{{ article.created|date("d/m/Y") }}</p>
        </div>
      </div>
    </div>
  </article>
</div>
