  <article class="column-centrale col-md-6 col-lg-10 col-xl-10">
      <div class="article-item-category">
        <div class="cover-img-category">
          <a href="{{sitedata.baseurl}}{{article.path}}"><img src="{{article.cover_url_original}}" class="teaser-img-category d-block w-100" alt="..."></a>
        </div>
        <div class="text-box">
          <div class="category color_secondary">
            {% for cat in article.categories %}
            {% autoescape false %}
            <div class="category-item">
              <a href="{{sitedata.baseurl}}{{cat.path}}">{{cat.title}}</a>
            </div>
            {% endautoescape %}
            {% endfor %}
          </div>
          <h3 class="title color_primary">
            <a href="{{sitedata.baseurl}}{{article.path}}">
              <strong>{{ article.title|length > 64 ? article.title|slice(0, 64)|raw ~ '...' : article.title|raw }}</strong>
            </a>
          </h3>
          <div class="created">
            <p>{{ article.created|date("d/m/Y") }}</p>
          </div>
        </div>
      </div>
  </article>
