/* Responsive behaviour */

@media (max-width: 1600px) {
  .grid-item {
      width: 25%;
  }

}

@media (max-width: 1399px) {
  .grid-item {
      width: 33%;
  }

  .card-header .articoli {
    font-size: .9rem;
  }

}

@media (max-width: 1199px) {
  .grid-item {
      width: 50%;
  }

  .navbar-brand{
    width: 100%;
    display: block;
  }

  #logowrpper img,
  #logowrpper h1{
    display: block;
  }

  #logowrpper img{
    width: 50%;
    margin: auto;
  }

  #logowrpper h1{
    font-size: 2.0rem;
    text-align: center;
    padding-top: 0.5rem;
  }

  .display-3 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .display-4 {
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .article-item .title {     /* SUBTITOLO ARTICOLO  */
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  .card-header .articoli {
    font-size: .8rem;
  }

  .description {
      padding: 0 2rem;
  }

}

@media (max-width: 991px) {
  .home-row>.col-lg-4 {
    max-width: 100%;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, .1);
  }

  .card-body {
    padding: .5rem;
  }

  .card-header .text-white {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
  }

  .card-header .articoli {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
  }

  .card-article {
    padding: 1rem 2rem;
  }

  #white_box {
    padding: 3rem 0;
  }

  .category_group {
    justify-content: center;
    padding: .4rem;
  }

  #category-info p {
    padding: 0 10%
  }

  .article-item .text-box {
    padding: 15px;
  }

  #category-info {
    margin-bottom: 0;
  }

}

@media (max-width: 767px) {
  .navbar-dark .navbar-nav .nav-link {
    margin-left: 40px;
  }

  #about-us {
    padding: 15px;
  }

  .card-body {
    padding: 2rem;
  }

  .height100 {   /* QUESTO E PER ARTICLE */
    max-width: 32%;
    margin: .6%;
  }

  .group_fourcolumn { /* QUESTO E PER CATEGORY */
      margin: .6%;
      max-width: 31%;
    }

  .carousel-item .article {
    padding: 1rem;
    justify-content: center;
  }

  .description {
      padding: 0 1rem;
  }

  .title .titolo-article {
    font-size: 1.8rem
  }

  .group_fourcolumn {   /* QUESTO E PER CATEGORY */
    margin: 1%;
    background-color: #fff;
    max-width: 48%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  }

  #category-info p {
    padding: 0 5%;
  }

  .m-category {
    margin-top: 1rem;
  }

}

@media (min-width: 576px) and (max-width: 767px) {
  .page_article .col_article {
    padding: 0.95rem;
  }

  .page_article .col_article .card-article {
    padding: 0;
  }
}

@media (max-width: 575px) {

  #logoimg{
    height: 90px;
    width: auto;
  }

  .grid-item {
      width: 100%;
  }

  #white_box {
    padding: 15px;
    padding-top: 0;
  }

  #category-info h1 {
    font-size: 2rem;
  }

  .card-body {
    padding: 1rem;
  }

  .height100 {   /* QUESTO E PER ARTICLE */
    margin: 3% 0;
    max-width: 80%;
  }

  .group_fourcolumn { /* QUESTO E PER CATEGORY */
    margin: 3% 0;
    max-width: 90%;
  }

  .carousel-item .article {
    padding: 0;
  }

  .link-article {
      padding: 10px;
      font-size: 12px;
    }

    .title .titolo-article {
      font-size: 1.5rem
    }

    .provando {
        margin: 0;
    }

    .shadows {
      padding: 0 20px;
    }


}

@media (max-width: 450px) {
  .group_fourcolumn {   /* QUESTO E PER CATEGORY */
    margin: 5%;
    max-width: 100%;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .15);
  }

  #category-info h1 {
    font-size: 1.7rem;
    margin-bottom: none;
  }

  .category_group {
    padding: 2rem 1.5rem;
}

}

@media (max-width: 375px) {

  #logoimg{
    height: 80px;
    width: auto;
  }

  .link-article {
    padding: 10px;
    font-size: .9rem;
    display: inline-block;
  }

  .title .titolo-article {
    font-size: 1.3rem
  }

  .other-website {
    display: block;
    margin: 15px;
  }

  #other-websites {
    padding: 25px 0 50px 0;
    margin-top: 20PX;
  }

  .card-article {
    padding: 1rem 1rem;
  }

  #category-info h1 {
    font-size: 1.5rem;
  }

}


@media (max-width: 319px) {

  #logoimg{
    height: 70px;
    width: auto;
  }

  .cover-img {
    min-height: 140px;
  }

  .category {
    min-height: 140px;
  }

  .link-article {
    padding: 10px;
    font-size: .8rem;
    display: inline-block;
  }

  .card-article {
    padding: 1rem 0;
  }

  .title .titolo-article {
    font-size: 1.1rem;
  }
}
