body {
  font-size: 14px;
  max-width: 2000px;
  overflow-x: hidden;
  margin: 0 auto;
}

.container-fluid {}

p {}

a {
  color: #000;
}

a:hover, a:visited {}

a:hover {
  text-decoration: none;
}

/* Header */

#header {}

#logoimg {
  margin-right: 1rem;
}

#logowrpper img,
#logowrpper h1 {
  display: inline-block;
}

#about-us {
  padding: 1rem;
  border-radius: 5px;
  margin: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .35);
}


#about-us p {
  margin: 0;
}

#about-us h3 {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}

/* NAVBAR */

nav {
  margin: 0 -15px;
}

#navbarNav {
  justify-content: flex-end;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000;
  text-transform: uppercase;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("black_burger.svg");
}

.category_item {
  text-decoration: none;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  padding: .25rem .5rem;
  border-radius: 5px;
}

.category_item:hover {
  color: #fff;
}

/* HOMEPAGE */

.site_name {
  margin: 30px 0;
  text-transform: uppercase;
}

/* Articles Grid */

.article-item {
  margin: 15px 0;
}

.m-category {
  margin-top: 2rem;
}

.shadows {
  box-shadow: 0 .1rem .1rem rgba(0, 0, 0, .10);
  margin-bottom: 40px;
}

.article-item .text-box {
  /* SFONDO  */
  padding: 15px;
  background-color: #fff;
}

.category-item {
  /* TITOLO ARTICOLO  */
  display: inline-block;
  text-transform: capitalize;
}

.article-item .title {
  /* SUBTITOLO ARTICOLO  */
  text-transform: uppercase;
  font-size: 1.1rem;
}

.article-item .title a {
  text-decoration: none;
}

.article-item .text-box a {
  text-decoration: none;
}

.article-item .text-box .category-item a:hover {
  color: #000;
}

.grid-item {
  width: 33%;
}

.grid-item_inner {
  margin: 1rem;
  padding: 1rem;
}

/* OTHER WEBSITES */

#other-websites {
  padding: 15px 0 50px 0;
  margin-top: 60px;
}

#other-websites h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #000;
}

.other-website {
  display: inline-block;
  margin: 15px;
}

/**************************
CATEGORY
*************************/
/* category page */

#category-info,
#home-welcome {
  padding: 30px 0;
  margin: 30px 0px;
  background-color: #fff;
}

#category-info h1,
#home-welcome h1 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2rem;
}

#category-info p {
  padding: 0 20%;
}

#home-welcome p {
  padding: 0 7.5%;
}

.row.colorbg_primary.category_group {
  justify-content: center;
}

/********************
ARTICLE
*********************/
/* article explosed */

#white_box {
  background-color: #fff;
  padding: 3rem;
  margin-top: 3rem;
}

#white_box a {
  text-decoration: none;
}

.link-article {
  padding: 10px;
}

#white_box .cover img {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.40);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.40);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.40);
}

.title_box {
  text-align: center;
}

.title_box .title {
  text-transform: uppercase;
}

.page_article #white_box .description  ul {
  display: inline-block;
}

#white_box .links {
  margin-top: 40px;
}

#white_box .links h4 {
  margin-bottom: 15px;
}

#white_box .links ul {
  margin: 0;
  padding: 0;
}

#white_box .links li {
  list-style-type: none;
  margin-bottom: 1.5rem;
}

#other_articles {
  margin-top: 18px;
}

#other_articles h4 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
}

.last_article_column .col_article:last-child .article-item {
  margin-bottom: 0;
}

/* Footer */

.card,
.cover {
  margin-bottom: 1rem;
}

.card {
  padding: 0.5rem;
  border-radius: 0;
  color: #000;
}

.card-body {
  padding: 1.5rem;
}

.btn {
  border-radius: 0;
}

/*********************
PAGINA ARTICOLO ESPLOSO
*************************/
/* CUSTOM CLASS */

.inline-block {
  display: inline-block;
}

.heart {
  color: red;
}

.card.mb-3 {
  padding: 0;
}

.card-header .text-white {
  font-size: 1.2rem;
  font-style: italic;
}

#footer {
  line-height: 10px;
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  margin: 0 -0.75rem;
}

#footer a {
  color: #fff;
}

.description {
    padding: 0 5rem;
}

/*********************
PAGINA HOME
*************************/

.home-row>.col-lg-4,  /* QUESTO E PER HOME */
.height100 {   /* QUESTO E PER ARTICLE */
  margin: 1.65%;
  background-color: #fff;
  max-width: 30%;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.group_fourcolumn {   /* QUESTO E PER CATEGORY */
  margin: .8%;
  background-color: #fff;
  max-width: 23%;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.home-row .article-item {
  margin-top: 0;
}

.home-row .article-item .cover-img-article {
  margin: 0 -.75rem;
}
