<a href="{{sitedata.baseurl}}{{article.path}}"> <img src="{{article.cover_url_original}}" class="d-block w-100" alt="...">
  <div class="carousel-caption d-none d-md-block">
    <h5><strong style="color: #fff">{{article.title}}</strong></h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
</a>
