<div class="col-sm-12 col-lg-8 order-2 order-lg-1">
  <a href="{{sitedata.baseurl}}{{article.path}}">
      <img class="fluid img-fluid" src="{{article.cover_url_original}}" alt="{{article.cover_alt}}" />
  </a>
</div>
<div class="col-sm-12 col-lg-4 order-1 order-lg-2">
  <h2><a href="{{sitedata.baseurl}}{{article.path}}">{{article.title}}</a></h2>

  <em>{{article.created|date("l d F Y")}}</em>
  <hr/>
  <div id="categories">
    <strong>Pubblicato in:</strong>
    <br/>
    {% for cat in article.categories %}
    <span>
      {% autoescape false %}
      <a href="{{sitedata.baseurl}}{{cat.path}}">{{cat.title}}</a><br/>
      {% endautoescape %}
    </span>
    {% endfor %}
    <hr/>
  </div>


  <p>{{article.body|striptags|slice(0, 600)|raw ~ '...'}}</p>

  <strong class="colorbg_tertiary readmore"><a href="{{sitedata.baseurl}}{{article.path}}">Leggi tutto »</a></strong>
</div>
