
  <div class="col-sm-12 col-md-4">

    <article class="article-item">
        <div class="cover-img">
          <a href="{{sitedata.baseurl}}{{article.path}}">
            <img src="{{article.cover_url_original}}" class="d-block w-100" alt="{{article.title}}">
            <div class="overtitle">
              <h3>{{ article.title|length > 64 ? article.title|slice(0, 64)|raw ~ '...' : article.title|raw }}</h3>
            </div>
          </a>

        </div>
        <div class="text-box">
          <div class="category color_secondary">
            {% for cat in article.categories %}
              {% autoescape false %}
              <div class="category-item">
                <a href="{{sitedata.baseurl}}{{cat.path}}">{{cat.title}}</a>
              </div>
              {% endautoescape %}
            {% endfor %}
          </div>
          <div class="created">
            <p><em>{{article.created|date("l d F Y")}}</em></p>
          </div>
          <hr/>
          <p>{{article.body|striptags|slice(0, 200)|raw ~ '...'}}</p>

          <strong class="colorbg_tertiary readmore"><a href="{{sitedata.baseurl}}{{article.path}}">Leggi tutto »</a></strong>
        </div>
    </article>

  </div>
