<div class="category_page_wrapper my-5">
  <div id="category-info" class="container mb-5">
    <h1 class="color_secondary">{{ path.content.title }}</h1>
    <p>{{ path.content.description|striptags }}</p>

    <div class="row first_article">
      {% for article in path.articles|slice(0, 1) %}
      {{ include(themefolder ~ '/teasers/category_article_big.html') }}
      {% endfor %}
    </div>

    <div class="row second_article category_article_full_width">
      {% for article in path.articles|slice(1, 1) %}
      {{ include(themefolder ~ '/teasers/category_article_full_width.html') }}
      {% endfor %}
    </div>

    <div class="row home_article">
      {% for article in path.articles|slice(2, 3) %}
      {{ include(themefolder ~ '/teasers/home_article.html') }}
      {% endfor %}
    </div>

    <div class="row first_article">
      {% for article in path.articles|slice(5, 1) %}
      {{ include(themefolder ~ '/teasers/category_article_big.html') }}
      {% endfor %}
    </div>

    <div class="row home_article">
      {% for article in path.articles|slice(6, 6) %}
      {{ include(themefolder ~ '/teasers/home_article.html') }}
      {% endfor %}
    </div>
  </div>

  <div class="container">
    {% if sitedata.show_otherwebsites%}
    <div id="other-websites" class="col text-center shadow banner-box py-3">
      <div class="color_secondary">
        <h4>I nostri siti web</h4>
      </div>
      <div class="websites_wrapper">
        {% for website in sitedata.network_websites %}
        <a href="{{website.url}}" target="_blank" title="{{website.title}}">
          <div class="other-website">
            <div class="cover">
              <img src="{{website.logo}}" alt="{{website.title}}">
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>

</div>
