<div class="container my-5">
  <div class="row">
    <div class="col text-center">

      <div class="title site_name">
        <h1>{{sitedata.title}}</h1>
      </div>

      <div class="content website_body">{{sitedata.body|striptags }}</div>

    </div>
  </div>



  <div id="articlesbox">

    <div class="row">
      {% for article in articles|slice(0, 1) %}
      {{ include( themefolder ~ '/teasers/category_article_full_width.html') }}
      {% endfor %}
      {# /#articlesbox #}
    </div>

    <div class="row">
      {% for article in articles|slice(1, 3) %}
      {{ include( themefolder ~ '/teasers/home_article.html') }}
      {% endfor %}
      {# /#articlesbox #}
    </div>

    <div class="row">
      {% for article in articles|slice(4, 1) %}
      {{ include( themefolder ~ '/teasers/category_article_big.html') }}
      {% endfor %}
      {# /#articlesbox #}
    </div>

    <div class="row">
      {% for article in articles|slice(5, 9) %}
      {{ include( themefolder ~ '/teasers/home_article.html') }}
      {% endfor %}
      {# /#articlesbox #}
    </div>

  </div>


  {% if sitedata.show_otherwebsites%}
  <div id="other-websites" class="col text-center shadow banner-box py-3">
    <div class="color_secondary">
      <h4>I nostri siti web</h4>
    </div>
    <div class="websites_wrapper">
      {% for website in sitedata.network_websites %}
      <a href="{{website.url}}" target="_blank" title="{{website.title}}">
        <div class="other-website">
          <div class="cover">
            <img src="{{website.logo}}" alt="{{website.title}}">
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}


</div>
