<div class="container my-5">
  <div class="row">
    <div class="col-12 col-md-8">
      <div id="article_column">
        <div class="cover mb-3">
          <img class="img-fluid" src="{{ path.content.cover_rectangle }}" alt="{{ path.content.cover_alt }}" />
        </div>
        <div class="title_box">
          <div class="categories mb-3">
            {% for cat in path.content.categories %}
            {% autoescape false %}
            <div class="category-item color_secondary">
              <a href="{{cat.path}}">{{cat.title}}</a>
            </div>
            {% endautoescape %}
            {% endfor %}
          </div>
          <div class="created">
            <i>{{ path.content.created|date("d/m/Y") }}</i>
          </div>
          <div class="title">
            <h1 class="">{{ path.content.title }}</h1>
          </div>
        </div>
        <div class="description">
          {{ path.content.body|raw }}
        </div>
        <div class="links my-5">
          <h4 class="color_secondary">LINK</h4>
          <ul class="">
            {% for link in path.content.links %}
            <li class="">
              {% autoescape false %}
              <a href="{{link.uri}}" target="_blank" rel="noopener">{{link.title}}</a>
              {% endautoescape %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div id="other_articles" class="col-12 col-md-4">
      <h4 class="color_secondary">POTREBBERO INTERESSARTI</h4>
      <div class="row">
        {% for article in articles|slice(0, 6) %}
        {{ include( themefolder ~ '/teasers/carousel_item.html') }}
        {% endfor %}
        {# /#articlesbox #}
      </div>
    </div>
  </div>

  {% if sitedata.show_otherwebsites%}
  <div id="other-websites" class="col text-center shadow banner-box py-3">
    <div class="color_secondary">
      <h4>I nostri siti web</h4>
    </div>
    <div class="websites_wrapper">
      {% for website in sitedata.network_websites %}
      <a class="website_item" href="{{website.url}}" target="_blank" title="{{website.title}}" >
        <div class="other-website">
          <div class="cover">
            <img src="{{website.logo}}" alt="{{website.title}}">
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}

</div>
