.titolo {
  text-transform: uppercase;
  margin-top: 30px;
}

.info h1 {
  color: #757575;
}

/*****BANNER********/
.car_wrapper {
  background-color: #f0f0f083;
  padding: 30px 0;
}

.go_to_car {
  text-decoration: none;
}

.numberDiv {
  padding: 0 15px;
}

.numberDiv.uno {
  padding-left: 0;
}

.numberDiv.tre {
  padding-right: 0;
}

.car_image,
.car_image img {
  position: relative;
  z-index: 1;
}

.car_image .colorbox {
  position: absolute;
  top: -5%;
  left: 0;
  height: 110%;
  width: 60%;
  z-index: 0;
}

.info-destra {
  text-align: right;
  margin: auto;
  padding-left: 30px;
}

.info-destra img {
  max-width: 250px;
}

.info-destra p {
  color: #757575;
}

.info-destra h4 {
  font-weight: 600;
  margin: 20px;
  padding-top: 0;
}

.bullet_points li {
  margin-bottom: 15px;
}

/************ TEXT SOTTO ***********/
.text-sotto {
  display: block;
  margin: auto;
  max-width: 80%;
}

.bullet_points .text-sotto {
  max-width: 100%;
}

/**************  RESPONSIVE  ************/
@media (max-width: 1199px) {
  .info-destra h4 {
    margin: 10px;
  }
}

@media (max-width: 991px) {
  .car_image {
    margin-bottom: 60px;
  }

  .info-destra {
    text-align: center;
    padding: 0;
  }

  .info-destra h4 {
    margin: 20px;
  }

  .info-destra p {
    display: block;
    margin: auto;
    max-width: 90%;
    padding: 0 15px;
    margin-bottom: 30px;
  }

  .numberDiv.uno,
  .numberDiv.tre {
    padding: 0 15px;
  }
}

@media (max-width: 767px) {
  .info-destra p {
    padding: 0 20px;
  }

  .numberDiv {
    margin-bottom: 30px;
  }

  .text-sotto {
    max-width: 100%;
    padding: 0 15px;
  }
}

@media (max-width: 575px) {
  .info {
    padding: 0 20px;
  }
}
