.thankyou .thankyou_banner {
  background-color: rgb(48, 131, 239);
}

.thankyou .text-content {
  color: #ffff;
}

.thankyou .thankyou-banner-content {
  padding-bottom: 93px;
}

.thankyou .text-content h1 {
  font-weight: 700;
  padding-bottom: 50px;
}

.thankyou .text-content h3 {
  font-weight: 400;
  font-size: 1.3rem;
  padding: 0 60px;
}

.thankyou .autoingros {
  display: block;
  text-align: center;
  margin: auto;
  max-width: 180px;
}

.thankyou .autoingros-logo {
  margin-top: 60px;
}

/**********************    RESPONSIVE   *********************/
@media (min-width: 992px) {}

/**********************    1200 PX   *********************/
@media (max-width: 1199px) {
  .thankyou .text-content h3 {
    font-weight: 100;
    font-size: 1.2rem;
  }
}

/**********************    992 PX   *********************/
@media (max-width: 991px) {
  .thankyou .text-content h1 {
    padding-bottom: 10px;
  }

  .thankyou .text-content h3 {
    font-size: 1rem;
    padding: 0 30px;
  }

  .thankyou .fiat {
    max-width: 120px;
    padding-bottom: 5px;
  }
}

/**********************    768 PX   *********************/
@media (max-width: 767px) {
  .thankyou .text-content h3 {
    padding: 0;
  }

  .thankyou .text-content h1 {
    font-size: 1.5rem;
  }

  .thankyou .fiat {
    max-width: 100px;
    padding-top: 30px;
  }

  .thankyou .collage {
    padding: 0 20px;
  }
}

/**********************    576 PX   *********************/
@media (max-width: 575px) {
  .thankyou .thankyou_banner {
    padding-top: 2rem;
  }

  .thankyou .collage {
    padding: 0;
    margin-top: 20px;
  }

  .thankyou .text-content h3 {
    padding: 0 70px;
    margin: 30px 0;
  }
}

/**********************    376 PX   *********************/
@media (max-width: 375px) {
  .thankyou .text-content h3 {
    padding: 0 40px;
  }
}
