img {
  max-width: 100%;
  height: auto;
}

body {
  font-size: 1rem;
  max-width: 2000px;
  overflow-x: hidden;
  margin: 0 auto;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
}

/* NAVBAR */
nav {
  margin: 0 -15px;
}

#navbarNav {
  justify-content: flex-end;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000;
  text-transform: uppercase;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("black_burger.svg");
}

/* homepage */
.site_name {
  margin: 30px 0;
  text-transform: uppercase;
}

/* Header */
#logoimg {
  margin-right: 1rem;
}

#logowrpper img,
#logowrpper h1 {
  display: inline-block;
}

/* Footer */
#footer {
  padding: 1rem 0;
  background-color: #ddd;
}

#footer p {
  margin: 0;
}

.card,
.cover {
  margin-bottom: 1rem;
}

.card {
  padding: 0.5rem;
  border-radius: 0;
  color: #000;
}

.btn {
  border-radius: 0;
}

/*********************
PAGINA ARTICOLO ESPLOSO
*************************/
/* CUSTOM CLASS */
.inline-block {
  display: inline-block;
}

/***************************************************
  AUTOINGROS
****************************************************/
.row.first_row {
  --bs-gutter-x: 0;
  padding-left: 30px;
  margin-bottom: 60px;
}

.page_wrapper .global_blocks.top_block {
  text-align: center;
}

/* topblock text */
.website_wrapper .banner .banner-content *,
.page_home_wrapper .global_blocks.top_block * {
  text-shadow: 2px 2px 2px #000;
}

/* webform */
.webform_wrapper {
  padding: 15px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.89);

}

.webform_form .error {
  display: none;
}

/*************************************
  PAGINA ESPLOSO AUTOMOBILE
**************************************/
.page_wrapper img.img-full-width {
  width: 100%;
}

.page_wrapper .banner {
  padding: 60px 0px;
  padding-top: 15px;
}

.page_wrapper .logo {
  width: 100px;
}

.container-fluid,
.page_wrapper .container-fluid,
.page_wrapper .row {
  --bs-gutter-x: 0;
}

.page_wrapper .banner-content {
  position: relative;
  display: inline-block;
}

.page_wrapper .banner-content img {
  z-index: 1;
  position: relative;
}

.page_wrapper .banner-content h2 {
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.43);
  position: absolute;
  top: -12.5%;
  z-index: 0;
}

.page_wrapper .banner-content h2 {
  text-align: center;
  width: 100%;
}

.page_wrapper .banner-content .bottom_txt {
  margin-top: -100px;
  z-index: 1;
  position: relative;
}

.page_wrapper .banner-content h3 {
  font-size: 5.8rem;
  color: #fff;
}

.page_wrapper .banner-content p {
  font-size: 1.2rem;
  color: #fff;
}

/************* FORM *********/
.form-item.form-group.customer_note {
  display: none;
}

.page_wrapper .webform_wrapper {
  background-color: #e9e9e94d;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  font-size: 13px;
}

.page_wrapper .webform_wrapper input:not(.radio) {
  margin-bottom: 15px;
}

.page_wrapper .checkbox_wrapper {
  display: flex;
  align-items: baseline;
}

.page_wrapper .checkbox_wrapper .radio {
  margin-right: 5px;
}

.page_wrapper .logo_and_text_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.page_wrapper .logo_and_text_wrapper>div {
  margin-right: 15px;
}

.page_wrapper .logo_and_text_wrapper p {
  margin: 0;
  font-size: 1.75rem;
}

.page_wrapper .webform_wrapper img {
  max-width: 60px;
}

.page_wrapper .webform_wrapper input {
  padding: 5px;
  font-size: 13px;
}

.page_wrapper .webform_wrapper input::placeholder {
  color: rgb(206, 206, 206);
  font-size: 13px;
}

/************* TESTO *********/
.page_wrapper .testo-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* Griglia AUTO */
.page_wrapper .car-content a,
.car-link-form,
.car-link-form:hover {
  text-decoration: none;
  /*  color: inherit; */
}

.page_wrapper .car-content img {
  margin-bottom: 1rem;
  max-height: 200px;
}

/* hyundai */
.page_wrapper .hyundai_cars .car-content img {
  max-height: 150px;
}

.page_wrapper .car-content .inner {
  padding: 15px;
}

.page_wrapper .car-content .inner:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #eeeeee;
  box-shadow: 0px 0px 10px 0px #eeeeee;
}

.page_wrapper .car-content .inner:hover .btn {
  /* color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca; */
}

/************* BANNER SOTTO *********/
.page_wrapper .bannersotto-content {
  position: relative;
}

.page_wrapper .bannersotto-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page_wrapper .bannersotto-text h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
}

.page_wrapper .bannersotto-text p {
  color: rgb(255, 255, 255);
  padding: 0 20%;
}

.page_wrapper .bannersotto-text h4,
.page_wrapper .bannersotto-text p,
.page_wrapper .bannersotto-text a {
  text-shadow: 2px 2px 2px #000;
}

.page_wrapper .bannersotto-text .btn.btn-primary {
  box-shadow: 2px 2px 2px #000;
}

.page_wrapper .bannersotto-text img {
  max-width: 180px;
  margin-bottom: 20px;
}

/**********************    RESPONSIVE  *********************/
@media (max-width: 1199px) {

  /****** BANNER *****/
  .page_wrapper .banner-content h2 {
    font-size: 4.5rem;
    position: absolute;
    top: -17%;
  }

  .page_wrapper .banner-content h3 {
    font-size: 4.5rem;
  }

  /****** BANNER SOTTO *****/
  .page_wrapper .bannersotto-text img {
    max-width: 170px;
  }
}

/********  992 PX   **********/
@media (max-width: 991px) {

  /****** BANNER *****/
  .page_wrapper .banner-content h2 {
    font-size: 3.4rem;
  }

  .page_wrapper .banner-content h3 {
    font-size: 3.4rem;
  }

  .page_wrapper .banner-content p {
    font-size: 1rem;
  }

  /****** CAR *****/
  .page_wrapper .car-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /******* BANNER SOTTO *********/
  .page_wrapper .bannersotto-text {
    width: 100%;
  }

  .page_wrapper .bannersotto-text h4 {
    font-size: 2.5rem;
  }

  .page_wrapper .bannersotto-text p {
    padding: 0 100px;
  }

  .page_wrapper .bannersotto-text img {
    max-width: 160PX;
  }
}

/********  768 PX   **********/
@media (max-width: 767px) {
  .page_wrapper .first_row {
    text-align: center;
    margin-bottom: 30px;
  }

  /****** BANNER *****/
  .page_wrapper .banner-content {
    margin: 50px 0;
    margin-bottom: 0;
  }

  .page_wrapper .webform_wrapper {
    margin-top: 10%;
  }

  .page_wrapper .logo_and_text_wrapper {
    margin-bottom: 30px;
  }

  .page_wrapper .banner-content h2 {
    font-size: 6rem;
  }

  .page_wrapper .banner-content h3 {
    font-size: 6rem;
  }

  .page_wrapper .banner-content p {
    font-size: 1.5rem;
  }

  /********* BANNER SOTTO **********/
  .page_wrapper .bannersotto-text h4 {
    font-size: 2rem;
  }

  .page_wrapper .bannersotto-text img {
    max-width: 140px;
    margin-bottom: 10px;
  }

  .page_wrapper .bannersotto-text p {
    padding: 0 30px;
    font-size: 15px;
  }
}

/********  576 PX   **********/
@media (max-width: 575px) {

  /********* BANNER  ********/
  .page_wrapper .webform_wrapper {
    margin: 20px
  }

  .page_wrapper .banner-content h2 {
    font-size: 3.5rem;
  }

  .page_wrapper .banner-content h3 {
    font-size: 3.5rem;
    text-align: center;
  }

  .page_wrapper .banner-content p {
    font-size: 1rem;
    text-align: center;
  }

  /**********  BANNER SOTTO *********/
  .page_wrapper .bannersotto-text {
    position: inherit;
    margin-top: 40px;
    top: auto;
    left: auto;
    transform: translate(0);
  }

  .page_wrapper .bannersotto-text h4 {
    color: rgb(59, 59, 59);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    padding: 0 10px;
  }

  .page_wrapper .bannersotto-text p {
    color: rgb(59, 59, 59);
    padding: 0 5%;
  }

  .page_wrapper .bannersotto-text img {
    max-width: 120px;
  }

}

/********  376 PX   **********/
@media (max-width: 375px) {

  /************ BANNER  ***************/
  .page_wrapper .webform_wrapper {
    margin: 0 5px;
  }

  .page_wrapper .banner-content img {
    min-width: 100px;
  }

  .page_wrapper .banner-content h2 {
    font-size: 3rem;
    top: -14%;
    margin: auto;
  }

  .page_wrapper .banner-content h3 {
    font-size: 3rem;
    margin: auto;
  }

  .page_wrapper .banner-content p {
    font-size: 1rem;
  }

  /************ TESTO *************/
  .page_wrapper .testo-content h2 {
    font-size: 2rem;
  }

  /*************** BANNERSOTTO *************/
  .page_wrapper .bannersotto-text {
    top: 20%;
  }
}

/********  322 PX   **********/
@media (max-width: 322px) {

  /**********    BANNER    *********/
  .page_wrapper .banner-content h2 {
    font-size: 2.8rem;
    top: -16%;
    left: 60px;
  }

  .page_wrapper .banner-content h3 {
    font-size: 2.8rem;
    left: 20px;
  }

  .page_wrapper .banner-content p {
    font-size: 1rem;
    left: 20px;
  }

  .page_wrapper .webform_wrapper button {
    font-size: 0.8rem;
  }

  /**********    TESTO    *********/
  .page_wrapper .testo-content h2 {
    font-size: 1.7rem;
  }

  /**********    CAR    *********/
  .page_wrapper .car-content p {
    font-size: 1rem;
  }

  .page_wrapper .car-content a {
    font-size: 0.8rem;
  }

  /**********    BANNER SOTTO    *********/
  .page_wrapper .bannersotto-text h4 {
    font-size: 1.5rem;
    padding: 0 30px;
  }

  .page_wrapper .bannersotto-text p {
    font-size: 1rem;
    padding: 0 30px;
  }

  .page_wrapper .bannersotto-text a {
    font-size: 0.8rem;
  }
}
