img {
  max-width: 100%;
  height: auto;
}

.page_home_wrapper .banner {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/banner4.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 100px 0;
}

.Jeep .page_home_wrapper .banner {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/jeepbg.jpg");
}

.Lancia .page_home_wrapper .banner {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/lanciabg.jpg");
}

.Cupra .page_home_wrapper .banner {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/cuprabg.jpg");
}

.Citroen .page_home_wrapper .banner {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/citroenbg.jpg");
}

.page_home_wrapper .banner-content img {
  position: absolute;
  top: 3%;
}

.page_home_wrapper .banner-content {
  color: #fff;
}

.page_home_wrapper .banner-content h5 {
  line-height: 50px;
}

.page_home_wrapper .banner-content h3 {
  font-size: 2.5rem;
  font-weight: 500;
}

.page_home_wrapper .banner-content p {
  font-size: 14px;
}

.website_wrapper.Jeep .banner .banner-content *,
.website_wrapper.Lancia .banner .banner-content *,
.website_wrapper.Cupra .banner .banner-content *,
.website_wrapper.Citroen .banner .banner-content * {
  text-shadow: 2px 2px 2px #000;
}

/*************************/
.container, .row,
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 0;
}

/*************************/
/************* FORM *********/
.webform_wrapper p {
  margin: 0;
}

.page_home_wrapper .logo_wrapper {
  margin-bottom: 15px;
}

.page_home_wrapper .logo_and_text_wrapper .txt_wrapper {
  font-size: 1.5rem;
  font-weight: 600;
}

.page_home_wrapper .form-content {
  background-color: #f8f8f888;
  border-radius: 10px;
  color: white;
  font-size: 13px;
  padding: 40px 30px;
  float: right;
}

.page_home_wrapper .form-content img {
  width: 60px;
}

.page_home_wrapper .form-content input {
  padding: 5px;
  font-size: 13px;
}

.page_home_wrapper .form-content input::placeholder {
  color: rgb(187, 187, 187);
  font-size: 13px;
}

.page_home_wrapper .form-content button {
  margin: 10px 0;
}

/*************************  SFONDO BIANCO ***************/
.page_home_wrapper .sfondobianco {
  color: #141414;
  margin: 40px 0;
}

.page_home_wrapper .sfondobianco-text {
  padding: 0 100px;
}

.page_home_wrapper .sfondobianco-text h3 {
  font-weight: 700;
}

.page_home_wrapper .sfondobianco-text h6 {
  font-weight: normal;
  margin: 20px 0;
}

.page_home_wrapper .sfondobianco-content {
  text-align: center;
}

.page_home_wrapper .sfondobianco-content img {
  max-width: 300px;
}

.page_home_wrapper .uls_wrapper {
  display: flex;
  justify-content: space-between;
}

.page_home_wrapper .uls_wrapper>ul,
.page_home_wrapper .car-item>ul {
  margin-right: 60px;
  list-style-type: none;
  padding-inline-start: 0;
}

.page_home_wrapper .uls_wrapper>ul li,
.page_home_wrapper .car-item>ul li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  text-align: left;
}

.page_home_wrapper .uls_wrapper>ul li:before,
.page_home_wrapper .car-item>ul li:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  background-color: #0F54C5;
  border-radius: 50%;
  border: 1px solid #0F54C5;
}

.page_home_wrapper .car-item>ul li:before {
  background-color: #D9D9D9;
  border: 1px solid #D9D9D9;
}

/*********************  CAR  **************/
.page_home_wrapper .carousel_wrapper {
  max-width: 60vw;
  height: auto;
  margin: auto;
}

.page_home_wrapper .carousel_wrapper .carousel-item img {
  margin: 0;
  margin-bottom: 1rem;
  width: 100%;
  max-height: none;
  height: auto;
}

.page_home_wrapper section.car {
  padding: 45px 100px;
}

.page_home_wrapper .car .car_link {
  color: inherit;
  text-decoration: none;
}

.page_home_wrapper .car .car_link .btn-primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  border-color: #000;
}

.page_home_wrapper .car .car_link svg {
  fill: #000;
  stroke: #000;
}

.page_home_wrapper .car-item:hover {
  box-shadow: -1px -1px 16px 0px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: -1px -1px 16px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: -1px -1px 16px 0px rgba(255, 255, 255, 0.5);
}

.car .car_link:hover .btn-primary {
  color: #fff;
  border-color: #fff;
}

.car .car_link:hover svg {
  fill: inherit;
  stroke: inherit;
}

.page_home_wrapper .car-content {
  padding: 20px 20px;
  line-height: 30px;
}

.page_home_wrapper .car-content h4 {
  font-size: 1.3rem;
  font-weight: 700;
}

.page_home_wrapper .car-content .car-cover img {
  margin-bottom: 20px;
}

.page_home_wrapper .car1,
.page_home_wrapper .car2,
.page_home_wrapper .car3 {
  padding: 30px;
  border: 1px solid rgba(44, 44, 44, 0.486);
  background-color: #fff;
}

/* car_carousel */
section.car_carousel .carousel_wrapper {
  max-width: 60vw;
  height: auto;
  margin: auto;
}

section.car_carousel .carousel_wrapper .carousel-item img {
  margin: 0;
  margin-bottom: 1rem;
  width: 100%;
  max-height: none;
  height: auto;
}

section.car_carousel {
  padding: 45px 100px;
}

section.car_carousel .car_link {
  color: inherit;
  text-decoration: none;
}

section.car_carousel .car_link .btn-primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  border-color: #000;
}

section.car_carousel .car_link svg {
  fill: #000;
  stroke: #000;
}

section.car_carousel .car-item:hover {
  box-shadow: -1px -1px 16px 0px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: -1px -1px 16px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: -1px -1px 16px 0px rgba(255, 255, 255, 0.5);
}

section.car_carousel .car_link:hover .btn-primary {
  color: #fff;
  border-color: #fff;
}

section.car_carousel .car_link:hover svg {
  fill: inherit;
  stroke: inherit;
}

section.car_carousel .car-content {
  padding: 20px 20px;
  line-height: 30px;
}

section.car_carousel .car-content h4 {
  font-size: 1.3rem;
  font-weight: 700;
}

section.car_carousel .car-content .car-cover img {
  margin-bottom: 20px;
}

section.car_carousel .car1,
section.car_carousel .car2,
section.car_carousel .car3 {
  padding: 30px;
  border: 1px solid rgba(44, 44, 44, 0.486);
  background-color: #fff;
  text-align: center;
}

/* end car_carousel */


/*****************  VECTOR AUTO ************/
.page_home_wrapper .vector {
  padding: 0 300px;
}

.page_home_wrapper .vector-content {
  padding: 60px 20px;
}

.page_home_wrapper .vector-content h5 {
  font-weight: 700;
}

.page_home_wrapper .vector-content img {
  max-width: 100px;
  margin-bottom: 20px;
}

/*********************  TESTO CENTRALE  **************/
.page_home_wrapper .test {
  padding-bottom: 50px;
}

.page_home_wrapper .test-content h4 {
  font-size: 1.5rem;
  padding: 20px auto;
  font-weight: 700;
}

/******************* RECENSIONI ***********************/
.page_home_wrapper .Recensioni {
  padding: 60px 100px;
}

.page_home_wrapper .Recensioni-content {
  padding: 0 20px;
}

.page_home_wrapper .Recensioni-content h4 {
  font-size: 1.2rem;
}

.page_home_wrapper .Recensioni .row.justify-content-between {
  align-items: stretch;
}

.page_home_wrapper .Recensioni .row.justify-content-between>div {
  padding: 30px 10px;
  border: 1px solid rgba(202, 202, 202, 0.486);
  box-shadow: 2px 2px 2px 2px #e6e6e698;
}

/**************** RECENSIONI CARD **************/
.page_home_wrapper .card {
  border: none;
}

.page_home_wrapper .ratings i {
  color: #cecece;
  font-size: 25px;
}

.page_home_wrapper .rating-color {
  color: #fbc634 !important;
}

.page_home_wrapper .review-count {
  font-weight: 400;
  margin-bottom: 2px;
  font-size: 24px !important;
}

.page_home_wrapper .small-ratings i {
  color: #cecece;
}

.page_home_wrapper .review-stat {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 2px;
}

/*******************  MAPS ******************/
.maps {
  width: 100%;
  height: 450px;
}

/**********************    RESPONSIVE   *********************/
@media (max-width: 1199px) {
  .page_home_wrapper .car1,
  .page_home_wrapper .car2,
  .page_home_wrapper .car3 {
    padding: 20px;
    background-color: #fff;
  }

  .page_home_wrapper .car-content {
    padding: 20px 15px;
    line-height: 20px;
  }
}

/**********************    992 PX   *********************/
@media (max-width: 991px) {

  /**************  BANNER   *********/
  .page_home_wrapper .banner {
    padding: 80px 0;
  }

  .page_home_wrapper .banner-content {
    padding: 0 10px;
  }

  .page_home_wrapper .form-content {
    padding: 20px 20px;
  }

  /***************** CAR *************/
  .page_home_wrapper .car {
    padding: 30px 0;
  }

  .page_home_wrapper .car-content {
    padding: 0 10px;
  }

  /**************  sfondobianco   *********/
  .page_home_wrapper .sfondobianco-text {
    padding: 0 50px;
  }

  /**************  RECENSIONI   *********/
  .page_home_wrapper .Recensioni-content {
    padding: 20px 0;
  }
}

/**********************    767 PX   *********************/
@media (max-width: 767px) {

  /**************  AUTO   *********/
  .page_home_wrapper .car {
    padding: 40px 150px;
    text-align: center;
  }

  .page_home_wrapper .car-content {
    padding: 20px;
  }

  /**************  sfondobianco   *********/
  .page_home_wrapper .sfondobianco-text {
    padding: 0 15px 0;
  }

  .page_home_wrapper .sfondobianco-text h3 {
    font-weight: 700;
    font-size: 20px;
  }

  .page_home_wrapper .sfondobianco-text h6 {
    font-weight: normal;
    margin: 5px 0;
  }
}

/**********************    576 PX   *********************/
@media (max-width: 575px) {

  /**************  BANNER   *********/
  .page_home_wrapper .banner {
    padding: 40px 50px;
  }

  .page_home_wrapper .banner-content {
    padding: 20px 0;
    margin: 30px 0;
  }

  .page_home_wrapper .form-content {
    padding: 20px;
  }

  /**************  sfondobianco   *********/
  .page_home_wrapper .sfondobianco-text {
    padding: 0 80px;
    text-align: center
  }

  .page_home_wrapper .sfondobianco-content {
    margin-top: 20px;
  }

  /**************  AUTO   *********/
  .page_home_wrapper .car {
    padding: 40px 40px;
    text-align: center;
  }

  .page_home_wrapper .car-content {
    padding: 20px;
  }

  .page_home_wrapper .car-content img {
    margin: 0;
  }

  .page_home_wrapper .car-content a {
    margin-top: 10px;
  }

  /*************** RECENSIONI **************/
  .page_home_wrapper .Recensioni {
    padding: 20px 50px;
  }
}

/**********************    375 PX   *********************/
@media (max-width: 375px) {

  /**************  AUTO   *********/
  .page_home_wrapper .car {
    padding: 40px 20px;
    text-align: center;
  }

  /**************  sfondobianco   *********/
  .page_home_wrapper .sfondobianco-text {
    padding: 0 30px;
    text-align: center
  }

  /**************  BANNER   *********/
  .page_home_wrapper .banner {
    padding: 40px 30px;
  }

  .page_home_wrapper .banner-content {
    padding: 20px 0;
    margin: 30px 0;
  }

  .page_home_wrapper .banner-content h3 {
    font-size: 1.8rem;
  }

  .page_home_wrapper .form-content {
    padding: 20px;
  }

  /*************** RECENSIONI **************/
  .page_home_wrapper .Recensioni {
    padding: 20px 30px;
  }
}

/***************************** 250 PX  *******************/
@media (max-width: 250px) {

  /**************  BANNER   *********/
  .page_home_wrapper .banner {
    padding: 40px 20px;
  }

  /**************  AUTO   *********/
  .page_home_wrapper .car {
    padding: 40px 10px;
    text-align: center;
  }
}

/********************************************
  override style.css
*******************************************/
#about-us h3 {
  color: inherit;
}

#about-us .sfondobianco-text {
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
}
