img {
  max-width: 100%;
  height: auto;
}

/*************************/
.container, .row,
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 0;
}

/*  BANNER */
.page_wrapper .banner.F-Type {
  padding: 60px 0px;
  padding-top: 25px;
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/banner-esplosor-f-type.jpg");
  background-position: center;
  background-size: cover;
}

.page_wrapper .banner.F-Pace {
  padding: 60px 0px;
  padding-top: 25px;
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/banner-esplosor-f-pace3.jpg");
  background-position: center;
  background-size: cover;
}

.page_wrapper .banner.FX {
  padding: 60px 0px;
  padding-top: 25px;
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/banner-esplosor-fx.jpg");
  background-position: center;
  background-size: cover;
}

.page_wrapper .banner-content .bottom_txt {
  margin-top: -300px;
}

.page_wrapper .webform_wrapper img {
  max-width: 120px;
}

/* TEXT SECTION TOP */
.first-logo-esplosor {
  max-width: 220px;
}

.line {
  height: 2px;
  width: 100px;
  background-color: #dd1b1b;
  margin: auto;
  margin-bottom: 2.5rem;
}

.parallax {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/jaguar-esplosor-1.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/banner-esplosor-f-pace2.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-3 {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/jaguar-esplosor-fx1.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-jaguar {
  max-width: 250px;
  margin: 0 auto;
  display: flex;
}

.isologo {
  margin-top: -10px;
  max-width: 50%;
  margin: 0 auto;
}

.info-esplosor .text p {
  margin: 0 auto;
}

.info-esplosor .text h1 {
  margin: 1rem auto;
  color: #dd1b1b;
}

.sfondo_top_section {
  margin: 2rem 0;
}

.text {
  text-align: center;
}

.text h1 {
  font-weight: 300;
  font-size: 3.5rem;
}

.text p:last-child {
  padding: 0 9rem;
  margin: 2rem 0 3rem;
}

/* CAMBIAMENTO */
.linea {
  height: 5px;
  width: 100%;
}

.card {
  padding: 0;
  margin: 0 20px;
}

.link_sotto {
    margin: 0 auto;
}
/* FINE */

/* TEXT ESPLOSOR */
.text-esplosor {
  margin: auto;
}

.text-esplosor-2 {
  margin: auto;
  padding: 0 3rem;
  color: #000;
  text-align: center;
  margin: 3rem auto;
}

.text-esplosor h4,
.text-esplosor-2 h4 {
  color: #16283f;
    font-size: 2rem;
}

.back-nero {
  color: #fff;
  padding: 4rem 0 2rem;
}

.back-nero-2 {
  color: #fff;
  padding: 0 2.5rem 4rem;
}

.text-back,
.text-back-2 {
  height: auto;
}

.text-back-2 p {
  padding-right: 60%;
}

.text-bottom-2 {
  padding: 0 32%;
}

.bottoni-esplosor {
  display: inline-flex;
  margin: 20px 0;
}

.bottone-form-1 {
  padding: 7px 32px;
  background-color: #ffffff;
  display: inline-block;
  cursor: pointer;
  transition: .5s;
  text-decoration: none;
  color: #000;
}

.bottone-form-2 {
  padding: 6px 30px;
  display: inline-block;
  cursor: pointer;
  transition: .8s;
  text-decoration: none;
  color: #444444;
  border: .1px #282828 solid;
}

.bottone-scopri {
  padding: 7px 32px;
  display: inline-block;
  cursor: pointer;
  transition: .5s;
  text-decoration: none;
  color: #fff;
  background-color: #0f125a;
}

.bottone-form-1:hover {
  background-color: #2a3e59;
  color: #ffffff;
  border: .1px #fff solid;
}

.bottone-form-2:hover {
  color: #000000;
}

.bottone-scopri:hover {
  background-color: #2423c7;
  color: #fff;
}

.text-back img {
    display: none;
}

/* RESPONSIVE */

@media (max-width: 1399px) {
  .text p:last-child {
    padding: 0 2.5rem;
    margin: 2rem 0 3rem;
  }
}

@media (max-width: 1199px) {
  .text-bottom-2 {
    padding: 0 28%;
  }
}

@media (max-width: 991px) {
  .parallax,
  .parallax-2,
  .parallax-3 {
    min-height: 300px;
  }

  .text-esplosor {
    margin: auto;
  }

  .text-esplosor-2 {
    padding: 0;
  }

  .isologo {
    max-width: 80%;
    margin-bottom: 2rem;
  }

  .text-bottom-2 {
    padding: 0 22%;
  }

  /* CAMBIAMENTO BANNER ESPLOSOR */

  .page_wrapper .banner-content h3 {
    font-size: 4.5rem;
  }

  .page_wrapper .logo_and_text_wrapper {
    align-items: normal;
    flex-direction: column;
  }

  .page_wrapper .logo_and_text_wrapper p {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .text p:last-child {
    padding: 0 1rem;
    margin: 1.2rem 0;
  }

  .parallax {
    background-attachment: local;
  }

  .parallax-2 {
    background-attachment: local;
  }

  .parallax-3 {
    background-attachment: local;
  }

  .text-esplosor {
    text-align: center;
    margin-bottom: 3rem;
  }

  .text-esplosor p {
    padding: 0 4rem;
    margin-bottom: 2rem;
  }

  .back-nero {
    padding: 0;
  }

  .text-back-2 {
    width: auto;
  }

  .text-bottom-2 {
    padding: 0 4rem;
  }

  .text-esplosor-2 {
    margin: 0;
  }

  .text-esplosor-2 p {
    padding: 0 4rem;
  }

  .text-bottom {
    padding: 3rem 0;
  }

  .back-nero {
    padding: 0 2rem;
  }

  .back-nero-2 {
    padding: 2rem 2rem;
  }

  .back-nero-2 div {
    padding: .5rem 0;
  }

  /* CAMBIAMENTO BANNER ESPLOSOR */

  .page_wrapper .banner-content .bottom_txt {
    margin-top: -80px;
  }

  .global_blocks.top_block.container-fluid {
    margin: 2rem auto;
  }

  .page_wrapper .banner-content h3 {
    font-size: 4.5rem;
  }

  .page_wrapper .webform_wrapper {
    margin-top: 0;
  }

  .link_sotto {
      margin: 1rem auto;
  }
}

@media (max-width: 576px) {
  .text h1 {
    font-size: 3rem;
  }

  .text-bottom-2 {
    padding: 3rem;
  }

  .text-bottom {
    padding: 2rem 3rem 0;
  }

  .bottoni-esplosor {
    display: block;
    margin: 20px 0;
  }

  .bottoni-esplosor a {
    margin: .5rem 0;
  }

  .bottone-form-2 {
    padding: 6px 51px;
  }

  .text-bottom-2 {
    padding: 0 3rem 3rem;
  }

  .text-esplosor p {
    padding: 0;
  }

  .text-esplosor-2 p {
    padding: 0;
  }

}

@media (max-width: 420px) {
  .text h1 {
    font-size: 2.5rem;
  }

  .text-esplosor h4,
  .text-esplosor-2 h4 {
      font-size: 1.7rem;
  }

  .isologo {
    max-width: 90%;
    margin-bottom: 3rem;
  }

  .text-bottom-2 {
    padding: 0 1rem 3rem;
  }

  .text-bottom {
    padding: 3rem 1rem;
  }

  .text-esplosor {
    padding: 0 1rem;
  }
}

@media (max-width: 375px) {
  .text-bottom {
    padding: 1rem;
  }

  .text-bottom-2 {
    padding: 0 1rem 3rem;
  }

  .text-bottom-2 p {
    padding: 0;
  }

  .text p:last-child {
    padding: 0 .5rem;
  }

  .first-logo-esplosor {
    max-width: 180px;
  }

  .logo-jaguar {
    max-width: 220px;
  }

  .text-esplosor {
    padding: 0;
  }

  .text h1 {
    font-size: 2rem;
  }

  /* CAMBIAMENTO BANNER ESPLOSOR */
  .page_wrapper .webform_wrapper {
    margin: 15px;
  }

  .page_wrapper .banner {
    padding: 30px 0px;
  }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .page_wrapper .banner.F-Type,
  .page_wrapper .banner.F-Pace {
    height: auto;
  }
}

/* Portrait and Landscape */
@media only screen and (min-width: 1280px) and (max-height: 720px) {
  .page_wrapper .banner.F-Type,
  .page_wrapper .banner.F-Pace {
    height: auto;
  }
}

@media (min-width: 768px) {

  .back-nero-2 img {
    padding: 0 .5rem;
  }

  .back-nero-2.img {
    padding: 0 .5rem;
  }

  .page_wrapper .banner.F-Type,
  .page_wrapper .banner.F-Pace {
    height: 100vh;
  }

  .text-back img {
    display: block;
  }

  .text-back, .text-back-2 {
    margin: auto;
    justify-content: center;
    display: flex;
  }

  .text-esplosor {
    margin: auto;
    padding: 0 3rem;
    margin-bottom: 3rem;
  }

  .back-nero {
    padding: 0rem 0 2rem;
  }
}

@media (min-width: 992px) {

  .back-nero-2 {
    padding: 0 1.5rem 4rem;
  }

  .text-esplosor {
    padding: 0 2rem 0 0;
    margin: auto;
  }

  .text-back, .text-back-2 {
    align-items: end;
    margin: 0;
    padding: 0 .5rem;
    justify-content: end;
  }

  .back-nero {
    padding: 2rem 1.5rem 4rem 2rem;
  }

  .text-esplosor-2 {
    padding: 0;
  }

}

@media (min-width: 1200px) {

  .back-nero {
      padding: 3rem 5.5rem 3rem 6rem;
  }

  .back-nero-2 {
    padding: 0 5.5rem 4rem;
  }

}

@media (min-width: 1400px) {

  .back-nero {
      padding: 3rem 10.5rem 3rem 11rem;
  }

  .back-nero-2 {
    padding: 0 10.5rem 4rem;
  }

}
