.page_home_wrapper .banner {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/banner3.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 100px 0;
}

.Romeo .page_home_wrapper .banner {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/alfaromeobg.jpg");
}

.Hyundai .page_home_wrapper .banner {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/hyundaibg.jpg");
}

.Opel .page_home_wrapper .banner {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/opelbg.jpg");
}

.Honda .page_home_wrapper .banner {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/hondabg.jpg");
}

.banner-content img {
  position: absolute;
  top: 3%;
}

.banner-content {
  color: #fff;
  padding-right: 100px;
}

.banner-content h5 {
  line-height: 50px;
}

.banner-content h3 {
  font-size: 2.5rem;
  font-weight: 500;
}

.banner-content p {
  font-size: 14px;

}

/*************************/
.container, .row,
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 0;
}

/*************************/
/************* FORM *********/
.webform_wrapper p {
  margin: 0;
}

.page_home_wrapper .webform_wrapper .logo_and_text_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.page_home_wrapper .webform_wrapper .logo_and_text_wrapper>div {
  margin-right: 15px;
}

.page_home_wrapper .webform_wrapper .logo_and_text_wrapper p {
  margin: 0;
  font-size: 1.75rem;
}

.form-content {
  background-color: #f8f8f888;
  border-radius: 10px;
  color: white;
  font-size: 13px;
  padding: 20px;
}

.form-content img {
  width: 60px;
}

.form-content input {
  padding: 5px;
  font-size: 13px;
}

.form-content input::placeholder {
  color: rgb(187, 187, 187);
  font-size: 13px;
}

.form-content button {
  margin: 10px 0;
}

/*****************  VECTOR CAR ************/
.vector {
  padding: 0 220px;
}

.vector-content {
  padding: 60px 20px;
}

.vector-content h5 {
  font-weight: 700;
}

.vector-content img {
  max-width: 100px;
  margin-bottom: 20px;
}

/*********************  TESTO CENTRALE  **************/
.test {
  padding-bottom: 50px;
}

.test-content h4 {
  font-size: 1.5rem;
  padding: 20px auto;
  font-weight: 700;
}

/*********************  CAR  **************/
.car_section {
  padding: 40px 100px;
}

.car_section ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.car_section ul li {
  display: flex;
  align-items: center;
}

.car_section ul li:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  background-color: #D9D9D9;
  border-radius: 50%;
  border: 1px solid #D9D9D9;
}

.car-content {
  padding: 0 20px;
  line-height: 30px;
}

.car-content h4 {
  font-size: 1.3rem;
  font-weight: 700;
}

.car-content img {
  margin-bottom: 20px;
}

.car-item {
  padding: 15px;
  border: 1px solid rgba(202, 202, 202, 0.486);
  transition: all linear 0.5s;
}

.car-item:hover {
  box-shadow: -1px -1px 16px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -1px -1px 16px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px -1px 16px 0px rgba(0, 0, 0, 0.5);
}

.car_link {
  text-decoration: none;
  color: inherit;
}

.car-item img {
  max-height: 148px;
  width: auto;
  margin: auto;
  display: block;
  margin-bottom: 30px;
}

/*************************  SFONDO BLUE ***************/
.sfondoblue {
  color: #fff;
  padding-top: 60px;
  padding-bottom: 30px;
}

.sfondoblue-content {
  padding: 40px;
}

.sfondoblue-text {
  padding: 0 100px;
}

.uls_wrapper {
  display: flex;
  justify-content: space-between;
}

.uls_wrapper>ul {
  margin-right: 60px;
  list-style-type: none;
  padding-inline-start: 0;
}

.uls_wrapper>ul li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.uls_wrapper>ul li:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  background-color: #01D23C;
  border-radius: 50%;
  border: 1px solid #01D23C;
}

.sfondoblue-text h6 {
  font-weight: normal;
  margin: 20px 0;
}

/******************* RECENSIONI ***********************/
.Recensioni {
  padding: 60px 100px;
}

.Recensioni .row.justify-content-between.mb-5 {
  align-items: stretch;
}

.Recensioni .row.justify-content-between.mb-5 > div {
  padding: 30px 10px;
  border: 1px solid rgba(202, 202, 202, 0.486);
  box-shadow: 2px 2px 2px 2px #e6e6e698;
}

.Recensioni-content {
  padding: 0 20px;
}

.Recensioni-content h4 {
  font-size: 1.2rem;
}

/********** RECENSIONI CARD **************/
.card {
  border: none;
}

.ratings i {
  color: #cecece;
  font-size: 25px;
}

.rating-color {
  color: #fbc634 !important;
}

.review-count {
  font-weight: 400;
  margin-bottom: 2px;
  font-size: 24px !important;
}

.small-ratings i {
  color: #cecece;
}

.review-stat {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 2px;
}

/*******************  MAPS ******************/
.maps {
  width: 100%;
  height: 450px;
}

/**********************    RESPONSIVE   *********************/
@media (max-width: 1199px) {

  /***************** BANNER ************/
  .banner-content {
    padding: 0;
  }

  /*****************  VECTOR AUTO ************/
  .vector {
    padding: 0 120px;
  }

  /*****************  SFONDOBLUE ************/
  .sfondoblue-text {
    padding: 0 60px;
  }
}

@media (max-width: 991px) {

  /***************** BANNER ************/
  .banner-content {
    padding: 0 10px;
  }

  .banner-content img {
    position: absolute;
    top: 3%;
  }

  /*****************  AUTO ************/
  .car_section {
    padding: 0 60px;
  }

  .car-content {
    line-height: normal;
    padding: 0 10px;
  }

  .car-content p {
    font-size: 16px;
  }

  /******************* VECTOR *************/
  .vector {
    padding: 0 80px;
  }

  .vector-content {
    padding: 50px 20px;
  }

  /*****************  SFONDOBLUE ************/
  .sfondoblue-text {
    padding: 30px 0;
  }

  .sfondoblue-content {
    padding: 0;
    ;
  }

  /****************** RECENSIONI *****************/
  .Recensioni {
    padding: 50px 100px 0;
  }

  .Recensioni-content {
    padding: 15px 100px;
  }
}

@media (max-width: 767px) {

  /***************** BANNER ************/
  .banner-content {
    padding: 0 10px;
  }

  .banner-content img {
    position: absolute;
    top: 3%;
  }

  .webform_wrapper .logo_and_text_wrapper {
    margin-bottom: 30px;
  }

  /***************** VECTOR *************/
  .vector {
    padding: 0 40px;
  }

  .vector-content {
    padding: 40px 10px;
  }

  /*****************  AUTO ************/
  .car_section {
    padding: 0 25%;
  }

  .car1, .car2, .car3 {
    padding: 20px 10px;
  }

  .car-content {
    text-align: center;
    line-height: normal;
    padding: 20px 10px;
  }

  .car-content p {
    font-size: 16px;
  }

  /*****************  TEST ************/
  .test {
    padding-bottom: 30px;
  }

  /*****************  SFONDOBLUE ************/
  .sfondoblue {
    padding: 0 20px;
  }

  .sfondoblue-text {
    padding: 20px 0;
  }

  .sfondoblue-content {
    padding: 20px;
  }

  .sfondoblue-text h3 {
    font-size: 1.5rem;
  }

  .sfondoblue-text h6,
  p {
    padding: 5px 0;
    margin: 0;
    font-size: 15px;
  }

  .sfondoblue-text h6 {
    margin-bottom: 1rem;
  }

  .uls_wrapper {
    flex-direction: column;
}

  /****************** RECENSIONI *****************/
  .Recensioni-content {
    padding: 15px 0;
  }
}

/**************        575 PX           *********/
@media (max-width: 575px) {

  /***************** BANNER  *************/
  .banner {
    padding: 80px 50px 60px;
  }

  .banner-content {
    padding-bottom: 20px;
  }

  .form-content {
    padding: 30px 30px;
  }

  /*****************  VECTOR ************/
  .vector {
    padding: 20px 50px;
  }

  .vector-content {
    padding: 20px 10px;
  }

  /*****************  CAR ************/
  .car_section {
    padding: 0 10%;
  }

  .car1, .car2, .car3 {
    padding: 20px 10px;
  }

  .car-content {
    text-align: center;
    line-height: normal;
    padding: 20px 10px;
  }

  .car-content p {
    font-size: 15px;
  }

  .car-content a {
    margin-top: 10px;
  }

  /*****************  SFONDOBLUE ************/
  .sfondoblue-text {
    padding: 40px 50px 0;
    text-align: center;
  }

  .sfondoblue-content {
    margin-bottom: 10px;
  }

  .sfondoblue-text p {
    font-size: 14px;
  }

  /***************** RECENSIONI ************/
  .Recensioni {
    padding: 50px 20px 0;
  }

  .Recensioni-content {
    padding: 15px 0;
  }
}

/***************************** 375 PX  *******************/
@media (max-width: 375px) {

  /*****************  BANNER ************/
  .banner {
    padding: 70px 30px 40px;
  }

  .banner-content h3 {
    font-size: 1.7rem;
  }

  .form-content {
    padding: 20px 20px;
  }

  /*****************  VECTOR ************/
  .vector {
    padding: 20px 40px;
  }

  .vector-content {
    padding: 20px 10px;
  }

  /*****************  TEST ************/
  .test {
    padding: 0 10px;
  }

  /*****************  CAR ************/
  .car_section {
    padding: 0 10%;
  }

  .car1, .car2, .car3 {
    padding: 20px 10px;
  }

  .car-content {
    text-align: center;
    line-height: normal;
    padding: 20px 10px;
  }

  .car-content p {
    font-size: 15px;
  }

  /****************** SFONDOBLUE ****************/
  .sfondoblue-text {
    padding: 0;
    margin-top: 20px;
  }

  /****************** RECENSIONI ****************/
  .Recensioni {
    padding: 15px 10px;
  }

  .Recensioni-content {
    padding: 15px 20px;
  }
}

/***************************** 280 PX  *******************/
@media (max-width: 280px) {

  /********* BANNER **********/
  .banner {
    padding: 50px 20px;
  }

  .banner-content h3 {
    font-size: 1.4rem;
  }

  .form-content {
    padding: 15px;
  }

  .auto {
    padding: 0 5px;
  }

  /************ CAR  ***********/
  .car-content p {
    font-size: 13px;
  }

  /*********** VECTOR  ************/
  .vector {
    padding: 10px 10px;
  }

  .vector-content p {
    font-size: 13px;
  }

  /**************  SFONDOBLUE   *********/
  .sfondoblue-text h3 {
    font-size: 1rem;
  }

  .sfondoblue-text h6 {
    font-size: 14px;
  }

  .sfondoblue-text p {
    font-size: 13px;
  }

  /**************  RECENSIONI   *********/
  .Recensioni-content p {
    font-size: 14px;
  }
}
