img {
  max-width: 100%;
  height: auto;
}

/*************************/
.container, .row,
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 0;
}

/*  FORM SECTION  */
.page_home_wrapper .banner {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/banner-jaguar-home.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 30px 0 60px;
}

.page_home_wrapper .banner .top_block_wrapper.row {
  align-items: baseline !important;
}

.website_wrapper .banner .banner-content {
  padding-right: .5rem;
}

.website_wrapper .banner .banner-content,
.page_home_wrapper .global_blocks.top_block * {
  color: #fff;
  font-size: 2.5rem;
}

.banner-content h2 span {
  text-transform: uppercase;
  font-weight: 700;
}

/* 1° Section */
#about-us.text-center {
  text-align: left !important;
}

/* INIZIO HOME JAGUAR */
.isologo-jaguar {
  width: 70%;
  height: auto;
  display: flex;
  opacity: .3;
}

.first-logo-2 {
  display: flex;
  margin: 0 auto;
  max-width: 250px;
}

.first-logo {
  margin: 0 auto;
  max-width: 250px;
}

.line {
  height: 4px;
  width: 80px;
  margin: auto;
  margin-bottom: 2.5rem;
}

.parallax {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/banner-jaguar-home.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info-home {
  margin: 0 auto;
}

.text {
  text-align: center;
}

.text h1 {
  font-weight: 400;
  font-size: 4rem;
}

.text p:first-child {
  font-weight: 500;
  color: #202d2b;
}

.text p:last-child {
  padding: 0 9rem;
  margin: 2rem 0;
}

/* tre text */
.tre-text {
  color: #fff;
}

.info h5 {
  font-weight: 400;
}

/* image */
.zona1 {
  padding: 3rem 0;
}

.zona2 h4 {
  color: #202d2b;
}

.zona2 img {
  height: auto;
  width: auto;
}

.column {
  padding: 0 2rem;
}

.zona2 p {
  padding: 0 35% 0 0;
}

.line2 {
  height: 3px;
  width: 50px;
  background-color: #202d2b;
  margin: 2rem auto;
}

.info {
  margin: auto;
  padding: 0 2rem;
}

.image-tre img {
  padding-right: 4rem;
  margin-bottom: 3rem;
}

/* MODELLI */
.home-modelli {
  color: #fff;
}

.text-modelli {
  padding: 1rem 2rem;
  margin: auto;
}

.bottoni-home {
  color: #000;
  cursor: pointer;
  display: inline-block;
  transition: .5s;
  background-color: #ffffff;
}

/* RESPONSIVE */
@media (max-width: 1199px) {
  .text p:last-child {
    padding: 0 4rem;
    margin: 1.5rem 0;
  }

  /* FORM */
  .website_wrapper .banner .banner-content, .page_home_wrapper .global_blocks.top_block * {
    font-size: 2.2rem;
  }
}

@media (max-width: 991px) {
  .image-tre img {
    padding-left: 0;
    padding-right: 0;
  }

  .zona2 p {
    padding: 0 1rem 0 0;
  }

  .info {
    padding: 0 .5rem;
  }

  .parallax {
    height: 300px;
  }

  /* FORM */
  .website_wrapper .banner .banner-content, .page_home_wrapper .global_blocks.top_block * {
    font-size: 2.4rem;
  }
}

@media (max-width: 767px) {
  .text h1 {
    font-size: 3.5rem;
    padding: 0 1rem;
  }

  .image-tre img {
    padding: 0;
  }

  .zona1 img {
    display: none;
  }

  .zona1 {
    padding: 0;
  }

  .column {
    padding: 2rem 0;
    text-align: center;
  }

  .info {
    margin-bottom: 20px;
    padding: 0 2rem;
  }

  .first-logo {
    max-width: 200px;
  }

  .parallax {
    min-height: 250px;
  }

  .isologo-jaguar {
    width: 90%;
    height: auto;
  }

  /* FORM */
  .global_blocks.top_block.container-fluid {
    margin-bottom: 3rem;
  }

  .website_wrapper .banner .banner-content, .page_home_wrapper .global_blocks.top_block * {
    font-size: 2.2rem;
  }
}

/* NIKO FORM SECTION */
@media (max-width: 575px) {

  /* FORM */
  .webform_wrapper {
    margin: 0 15px;
  }

  .global_blocks.top_block.container-fluid {
    padding: 0 15px;
  }

  .parallax {
    height: 300px;
    background-attachment: local;
  }

  .isologo-jaguar {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .text h1 {
    font-size: 3rem;
  }

  .text p:last-child {
    padding: 0 1.5rem;
    margin: 1rem 0;
  }

  .first-logo {
    max-width: 150px;
  }

  .parallax {
    height: 200px;
  }
}

@media (max-width: 425px) {

  /* FORM */
  .website_wrapper .banner .banner-content, .page_home_wrapper .global_blocks.top_block * {
    font-size: 1.8rem;
  }
}

@media (max-width: 375px) {
  .text h1 {
    font-size: 2.5rem;
  }

  .text p:last-child {
    padding: 0 1.5rem;
    margin: 1rem 0;
  }

  /* FORM */
  .website_wrapper .banner .banner-content, .page_home_wrapper .global_blocks.top_block * {
    font-size: 1.5rem;
  }
}
