img {
  max-width: 100%;
  height: auto;
}

/*************************/
.container, .row,
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 0;
}

/*************************************
  FORM SECTION
**************************************/
.page_home_wrapper .banner {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/peugeotbg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 30px 0 60px;
}

.page_home_wrapper .banner .top_block_wrapper.row {
  align-items: baseline!important;
}

.website_wrapper .banner .banner-content *, .page_home_wrapper .global_blocks.top_block * {
  color: #fff;
}

.banner-content h2 span {
  text-transform: uppercase;
  font-weight: 700;
}

/* 1° Section */
#about-us.text-center {
  text-align: left !important;
}

/************* PEUGEOUT  BANNER *********/
.banner-peugeot-208,
.banner-peugeot-308,
.banner-peugeot-2008,
.banner-peugeot-3008 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.banner-peugeot-208 {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/banner-peugeot-208.jpg");
}

.banner-peugeot-308 {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/banner-peugeot-308.jpg");
}

.banner-peugeot-2008 {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/banner-peugeot-20083.jpg");
}

.banner-peugeot-3008 {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/banner-peugeot-3008.jpg");
}

.peugeot {
  justify-content: center;
  color: #fff;
  text-align: center;
  padding-top: 4%;
}

.text-peugeot .subtitolo {
  letter-spacing: 5px;
  font-size: 1.2rem
}

.text-peugeot .titolo {
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 1rem;
  text-shadow: 1px 1px #000000;
}

.text-peugeot p {
  font-size: 1rem;
  text-shadow: 1px 1px #000000;
}


.scopri {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 68%;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.buttons-container a {
  padding: 8px 60px;
  border-radius: 5px;
  transition-duration: .5s;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
}

.bottom1 {
  background-color: #3b3b3b;
  color: #fff;
}

.bottom2 {
  color: #3b3b3b;
  background-color: #fff;
}

p.text-white {
  margin-top: 1rem;
}

/******* PEUGEOUT  INIZIO  *********/
/* Top Section */
.top_wrapper {
  height: auto;
  width: auto;
  padding: 3rem 0;
}

.bottone-sotto {
  margin-top: 2rem;
}

.info-home {
  padding: 0 20px;
}

.info-home h5 {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.altri-modeli {
  padding: 2rem 5rem;
}

.logo-home {
  max-width: 280px;
}

/**********************    RESPONSIVE   *********************/
@media (min-width: 1920px) {
  body {
    max-width: 1920px;
    margin: auto;
  }

  .scopri {
    height: 70%;
  }
}

@media (max-width: 1599px) {
  .scopri {
    height: 64%;
  }
}

@media (max-width: 1399px) {}

@media (max-width: 1279px) {
  .scopri {
    height: 61%;
  }
}

@media (max-width: 1199px) {
  .scopri {
    height: 66%;
  }
}

@media (max-width: 992px) {

  .page-home-wrapper .banner-peugeot-208,
  .page-home-wrapper .banner-peugeot-308,
  .page-home-wrapper .banner-peugeot-2008,
  .page-home-wrapper .banner-peugeot-3008 {
    height: 100vh;
  }

  .altri-modeli {
    padding: 0;
    margin-bottom: 3rem;
  }

}

@media (max-width: 768px) {
  .page-home-wrapper .scopri {
    width: auto;
  }

  .altri-modeli ul{
    list-style: none;
  }

  .logo-home {
    margin: 0 auto;
  }

}

@media (max-width: 575px) {
  .text-peugeot p {
    padding: 0 20px;
  }
}

@media (max-width: 455px) {
  .buttons-container {
    display: grid;
  }

  p.text-white {
    margin-top: .8rem;
  }
}

@media (max-width: 400px) {
  .scopri {
    height: 62%;
  }
}

@media (max-width: 375px) {
  .text-peugeot p {
    font-size: .9rem;
  }

  .scopri p {
    font-size: .9rem;
  }

  .buttons-container a {
    font-size: .9rem;
  }

  .scopri {
    height: 67%;
  }
}

@media (max-width: 320px) {
  .scopri {
    height: 65%;
  }

  .scopri p {
    padding: 0 20px;
    text-align: center;
  }
}
