/*******************************************
  GLOBALS
*****************************************/
.text-left {
  text-align: left !important;
}

.page_home_wrapper .btn.btn-primary span {
  margin: 0 5px;
}

.page_home_wrapper .banner {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/banner2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 0;
  padding-top: 30px;
}

.Abarth .page_home_wrapper .banner {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/abarth1920.jpg");
}

.Seat .page_home_wrapper .banner {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/seatbg.jpg");
}

.Mò .page_home_wrapper .banner {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/seat-mo.webp");
  background-image: -webkit-image-set(url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/seat-mo.webp") 1x, url(/themes/autoingros/image/seat-mo-2x.webp) 2x);
  background-image: image-set(url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/seat-mo.webp") 1x, url(/themes/autoingros/image/seat-mo-2x.webp) 2x);
  background-image: -moz-image-set(url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/seat-mo.webp") 1x, url(/themes/autoingros/image/seat-mo-2x.webp) 2x);
  background-image: -o-image-set(url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/seat-mo.webp") 1x, url(/themes/autoingros/image/seat-mo-2x.webp) 2x);
  background-image: -ms-image-set(url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/seat-mo.webp") 1x, url(/themes/autoingros/image/seat-mo-2x.webp) 2x);
}

.page_home_wrapper .banner-content {
  color: #fff;
  padding-right: 100px;
}

.page_home_wrapper .banner-content h4 {
  line-height: 50px;
}

.page_home_wrapper .banner-content h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

.page_home_wrapper .banner-content img {
  position: absolute;
  max-width: 150px;
  top: 3%;
}

.page_home_wrapper .banner-content p {
  font-size: 16px;
}

.page_home_wrapper .global_blocks.top_block {
  color: #fff;
  padding-right: 5vw;
  padding-left: 5vw;
}

.page_home_wrapper .global_blocks.top_block>* {
  margin-bottom: 1rem;
}

.page_home_wrapper .global_blocks.top_block h2 {
  margin-bottom: 60px;
}

.page_home_wrapper .global_blocks.top_block h2 span {
  text-transform: uppercase;
  font-weight: 900;
}

.page_home_wrapper .webform_wrapper label p {
  margin: 0;
}

.page_home_wrapper .logo_wrapper {
  margin-bottom: 30px;
}

/*************************/
.page_home_wrapper .container,
.page_home_wrapper .row,
.page_home_wrapper .container-fluid,
.page_home_wrapper .container-lg,
.page_home_wrapper .container-md,
.page_home_wrapper .container-sm,
.page_home_wrapper .container-xl,
.page_home_wrapper .container-xxl {
  --bs-gutter-x: 0;
}

/*************************/
/************* FORM *********/
.page_home_wrapper .form-content {
  border-radius: 10px;
  color: white;
  font-size: 13px;
}

.page_home_wrapper .form-content img {
  width: 60px;
}

.page_home_wrapper .form-content input {
  padding: 5px;
  font-size: 13px;
}

.page_home_wrapper .form-content input::placeholder {
  color: rgb(187, 187, 187);
  font-size: 13px;
}

.page_home_wrapper .form-content button {
  margin: 10px 0;
}

/************* TEST *********/
.page_home_wrapper .test {
  margin-top: 4rem;
}

.page_home_wrapper .test-content {
  padding: 0 10px;
}

.page_home_wrapper .test-content h4, p {
  font-size: 16px;
}

.page_home_wrapper .test-content h4 {
  font-size: 18px;
  padding-right: 10px;
}

.page_home_wrapper .test-content h3 span {
  font-weight: 700;
}

.page_home_wrapper .test-content .color {
  color: rgb(6, 95, 184);
}

.page_home_wrapper .cta-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
}

/*****************  CAR ************/
.page_home_wrapper .car-content {
  padding: 0 20px;
  position: relative;
  margin-bottom: 60px;
}

.page_home_wrapper .car-content:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  border-radius: 15px;
}

.page_home_wrapper .car-content:hover .txt_wrapper,
.page_home_wrapper .car-content:hover:after {
  display: block;
}

.page_home_wrapper .car-content:hover .nohover {
  opacity: 0;
}

.page_home_wrapper section.car .txt_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  color: #fff;
  z-index: 2;
  transform: translate(-50%, -50%);
  width: 90%;
}

.page_home_wrapper .car-content img {
  max-height: 240px;
  width: auto;
}

/* lightbox gallery */
.gallery {
  display: flex;
}

/**********************    RESPONSIVE   *********************/
@media (max-width: 1199px) {

  /**************  TEST   *********/
  .page_home_wrapper .test-content {
    padding: 0 25px;
  }
}

@media (max-width: 991px) {

  /**************  TEST   *********/
  .page_home_wrapper .test-content {
    padding: 0 15px;
    line-height: 17px;
  }

  /***************** AUTO *************/
  .page_home_wrapper .car-content {
    padding: 0 5px;
  }

  .page_home_wrapper .car-content img {
    margin-bottom: 1rem;
  }

  .page_home_wrapper .car-content h5 {
    font-weight: 800;
  }

  .page_home_wrapper .car-content .txt_wrapper {
    position: inherit;
    top: auto;
    left: auto;
    display: block;
    color: inherit;
    transform: translate(0, 0);
    width: 100%;
  }

  .page_home_wrapper .car-content:hover:after,
  .nohover {
    display: none;
  }
}

@media (max-width: 767px) {

  /**************  BANNER   *********/
  .page_home_wrapper .banner {
    padding: 40px 0;
  }

  .page_home_wrapper .banner-content {
    padding: 0 10px;
    line-height: 17px;
  }

  /**************  TEST   *********/
  .page_home_wrapper .test-content p {
    padding: 0 5px;
  }

  .page_home_wrapper .test {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
  }

  .page_home_wrapper .test-content a {
    margin: 30px 0;
  }

  .page_home_wrapper .test-content h4 {
    text-transform: uppercase;
  }
}

@media (max-width: 575px) {

  /**************  BANNER   *********/
  .page_home_wrapper .banner-content {
    padding: 20px 50px;
  }

  .page_home_wrapper .form-content {
    padding: 0 50px;
    margin-top: 30px;
  }

  .page_home_wrapper .banner-content img {
    max-width: 130px;
  }

  /**************  TEST   *********/
  .page_home_wrapper .test-content p {
    padding: 10px 70px;
  }

  .page_home_wrapper .test {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .page_home_wrapper .test-content a {
    margin: 30px;
  }

  .page_home_wrapper .test-content h4 {
    text-transform: uppercase;
  }

  /**************  CAR   *********/
  .page_home_wrapper .car-content {
    margin: 0 50px;
  }
}

@media (max-width: 375px) {

  /**************  BANNER   *********/
  .page_home_wrapper .banner {
    background-image: url(image/banner2-piccola.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .page_home_wrapper .banner-content {
    padding: 20px 20px;
  }

  .page_home_wrapper .banner-content p {
    font-size: 14px;
  }

  .page_home_wrapper .banner-content h2 {
    font-size: 20px;
  }

  .page_home_wrapper .banner-content img {
    max-width: 100px;
  }

  .page_home_wrapper .form-content {
    padding: 0 30px;
  }

  /**************  TEST   *********/
  .page_home_wrapper .test-content p {
    padding: 10px 20px;
  }

  /**************  CAR   *********/
  .page_home_wrapper .car-content {
    margin: 0 20px;
  }
}

/********* SOVRASCRIVI style.css **************************************/
.page_home_wrapper #about-us h3 {
  color: inherit;
  text-transform: inherit;
}
