img {
  max-width: 100%;
  height: auto;
}

.line {
  height: 3px;
  width: 100px;
  background-color: #2c98bc;
  margin-top: 25px;
}

/* banner con background image */
.car_wrapper .banner-esplosor .banner-car {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}

.car_wrapper.peugeot_208 .banner-esplosor .banner-car {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/peugeot-208-1.jpg");
}

.car_wrapper.peugeot_2008 .banner-esplosor .banner-car {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/peugeot-2008-1.jpg");
}

.car_wrapper.peugeot_308 .banner-esplosor .banner-car {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/peugeot-308-1.jpg");
}

.car_wrapper.peugeot_3008 .banner-esplosor .banner-car {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/peugeot-3008-1.jpg");
}

.car_wrapper .banner-piccolo {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 650px;
}

.car_wrapper.peugeot_208 .banner-piccolo {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/peugeot-208-2.jpg");
}

.car_wrapper.peugeot_2008 .banner-piccolo {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/peugeot-2008-2.jpg");
}

.car_wrapper.peugeot_308 .banner-piccolo {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/peugeot-308-2.jpg");
}

.car_wrapper.peugeot_3008 .banner-piccolo {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/peugeot-3008-2.jpg");
}

/* Fine banner con background image */

.interiore {
  float: right;
  color: #fff;
  margin: 4rem;
  font-weight: 500;
}

.interiore-subtitolo h1 {
  margin-bottom: 0;
}

.text-interiore {
  margin: auto;
}

.sfondo-bianco {
  margin: 3.5rem 0;
  align-items: center;
}

.two_column_description {
  margin: 3.5rem 0 0;
  /* padding: 0 20px; */
}

.sfondobianco-text .subtitolo {
  letter-spacing: 2px;
  font-size: 1.3rem;
  margin-bottom: 0;
}

.sfondobianco-text .titolo {
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.sfondobianco-text .text {
  margin-bottom: 2rem;
}

.car_wrapper .scopri {
  flex-direction: row;
  justify-content: flex-start;
}

.link a {
  margin-right: 10px;
}

.link .bottom1 {
  color: #fff;
  padding: 8px 60px;
  border-radius: 5px;
  transition-duration: .5s;
  text-decoration: none;
  font-weight: 500;
  background-color: #3b3b3b;
}

.link .bottom2 {
  color: #3b3b3b;
  padding: 8px 40px;
  border-radius: 5px;
  border: 1px solid #3b3b3b;
  transition-duration: .6s;
  text-decoration: none;
  font-weight: 500;
  background-color: transparent;
}

/* SFONDO GRIGIO */
.full_width_img_wrapper {
  background-color: rgb(236, 236, 236);
  height: auto;
  width: auto;
  margin: 3rem 0 0;
  padding: 3rem 0;
}

.full_width_img_wrapper .full_width_img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
}

.car_wrapper.peugeot_208 .full_width_img_wrapper .full_width_img {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/peugeot-208-3.jpg");
}

.car_wrapper.peugeot_2008 .full_width_img_wrapper .full_width_img {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/peugeot-2008-3.jpg");
}

.car_wrapper.peugeot_308 .full_width_img_wrapper .full_width_img {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/peugeot-308-3.jpg");
}

.car_wrapper.peugeot_3008 .full_width_img_wrapper .full_width_img {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/peugeot-3008-3.jpg");
}

.wrapper_text_top {
  margin: 5rem 0;
}

.text h5 {
  margin-bottom: 20px;
}

.bottone-sotto {
  margin-top: 2rem;
}

.line2 {
  height: 3px;
  width: 400px;
  background-color: #363636;
  margin-bottom: 20px;
}

.icon {
  color: #fff;
}

/* MODELI */
.bottoni {
  display: inline-flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 3rem;
}

.bottoni a {
  display: flex;
  margin-bottom: 10px;
  color: #f6f6f6;
  padding: 8px 40px;
  border-radius: 5px;
  border: 2px solid #3b3b3b;
  transition-duration: .6s;
  text-decoration: none;
  font-weight: 500;
  background-color: #3b3b3b;
}

/* RESPONSIVE */
@media (max-width: 1400px) {

  .link .bottom1,
  .link .bottom2 {
    display: block;
    margin: 5px 80px 0 0;
    text-align: center;
  }

  .sfondobianco-text .titolo {
    margin-bottom: 0;
  }
}

@media (max-width: 1199px) {
  .sfondobianco-text .subtitolo {
    font-size: 1.1rem;
  }
}

@media (max-width: 992px) {
  .sfondobianco-text {
    text-align: center;
  }

  .link .bottom1, .link .bottom2 {
    display: inline-block;
    margin: 15px auto;
  }

  .text p {
    margin-top: 1.5rem;
  }

  .interiore {
    float: right;
    width: 37%;
    margin: 4rem 1rem;
    font-weight: 400;
  }

  .text-interiore {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .interiore {
    width: 35%;
    margin: 4rem .5rem;
  }

  .interiore p {
    font-size: .9rem;
  }

  .text p {
    text-align: center;
  }

  .text-interiore {
    margin: 1rem 0;
  }

  .col-12.col-md-6.col-lg-6 {
    padding: 0;
  }

  .full_width_img_wrapper {
    margin: 1.5rem;
  }

  .altri-modeli {
    text-align: center;
  }

  .top_wrapper {
    padding: 3rem 0 0;
  }
}

@media (max-width: 576px) {
  .interiore {
    display: none;
  }

  .banner-esplosor .banner-car {
    height: 200px;
  }

  .text-interiore {
    margin: 1rem 0;
  }

  .altri-modeli p {
    padding: 0 12px;
  }

  .full_width_img_wrapper {
    margin: 0;
  }

  .altri-modeli .text p {
    padding: 0 .5rem;
  }

  .line2 {
    height: 2px;
    width: 200px;
  }

  .line {
    height: 2px;
    width: 100px;
  }
}

@media (max-width: 435px) {
  .banner-piccolo {
    height: 500px;
  }

  .link .bottom1, .link .bottom2 {
    margin: 5px auto;
  }

  .scopri {
    margin-top: 10px;
  }
}
