img,
video {
  max-width: 100%;
  height: auto;
}

.row {
  align-items: center;
}

.main .btn.btn-primary,
.page_wrapper .btn.btn-primary {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-weight: bold;
}

.page_wrapper form .btn.btn-primary {
  background-color: #000;
}

.webform_wrapper {
  max-width: 95%;
}

.page_wrapper .webform_wrapper {
  max-width: 100%;
}

.webform_wrapper .btn.btn-primary {
  color: #fff;
}

.btn.btn-primary:hover {
  background-color: #000;
  color: #fff;
}

.car_link {
  text-transform: uppercase;
}

.row.top_block_wrapper {
  flex-direction: row-reverse;
  align-items: baseline !important;
  position: absolute;
  top: 77vh;
}

.row.top_block_wrapper h2 {
  margin-bottom: 2rem;
}

.page_home_wrapper .banner {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 30px 1rem 60px;
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/omoda-mobile.jpg");
  background-image: image-set("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/omoda-mobile.webp" type("image/webp"),
      "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/omoda-mobile.jpg" type("image/jpeg"));
}

section.brand {
  padding-top: 110vh;
}

.page_home_wrapper .global_blocks.top_block * {
  color: #fff;
}

#about-us * {
  color: #fff;
}

#about-us .main {
  text-align: initial;
}

.brand-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.brand-wrapper * {
  margin: 0;
}

.brand-wrapper h2 {
  margin-right: 1rem;
}

.intro-img,
.outro-img {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/omoda5-front.jpg");
  background-image: image-set("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/omoda5-front.webp" type("image/webp"),
      "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/omoda5-front.jpg" type("image/jpeg"));
  min-height: 50vh;
  background-position: top right;
}

.outro-img {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/omoda5-lights-back.jpg");
  background-image: image-set("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/omoda5-lights-back.webp" type("image/webp"),
      "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/omoda5-lights-back.jpg" type("image/jpeg"));
  background-position: bottom right;
}

.page_wrapper .intro-img {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/omoda-connettivita.jpg");
  background-image: image-set("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/omoda-connettivita.webp" type("image/webp"),
      "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/omoda-connettivita.jpg" type("image/jpeg"));
}

section {
  padding: 2rem;
}

section h2 {
  text-transform: uppercase;
}

.main .container-fluid>.row {
  align-items: center;
}

.video_inner video,
section.omoda5EV-wrapper img {
  margin-top: 2rem;
}

section.omoda5-wrapper {
  padding: 2rem;
  animation: animated_gradient 10s ease-in-out infinite;
  background: linear-gradient(211deg, #6c757d, #343a40, #212529, #343a40);
  background-size: 300%;
  color: #f8f9fa;
  font-weight: lighter;
  position: relative;
}

section.omoda5-wrapper img {
  margin-bottom: 2rem;
}

.global_blocks.bottom_block {
  background-color: #fff;
}

.global_blocks.bottom_block h4 {
  padding: 1.5rem 0;
}

/* Page Wrapper */
.page_wrapper .banner,
.page_wrapper .banner.EV {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  /* padding: 30px 1rem 60px; */
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/omoda5-cover.jpg");
  background-image: image-set("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/omoda5-cover.webp" type("image/webp"),
      "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/omoda5-cover.jpg" type("image/jpeg"));
}

.page_wrapper .banner.EV {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/omoda-5ev-mobile.jpg");
  background-image: image-set("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/omoda-5ev-mobile.webp" type("image/webp"),
      "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/omoda-5ev-mobile.jpg" type("image/jpeg"));
}

.page_wrapper .banner .row {
  flex-direction: row-reverse;
}

.page_wrapper .page_main_row {
  position: absolute;
  top: 90vh;
}

section.into {
  padding-top: 95vh;
}

.website_wrapper .banner .banner-content *, .page_home_wrapper .global_blocks.top_block * {
  text-shadow: 5px 5px 5px #000;
}

.page_wrapper .webform_wrapper {
  background-color: rgba(255, 255, 255, 0.75);
  color: #000;
}

.page_wrapper .logo_and_text_wrapper {
  display: flex;
  flex-direction: column;
}

.page_wrapper .car-content img {
  max-height: none;
}

.page_wrapper .intro {
  margin: auto;
  max-width: 80vw;
}

.page_wrapper .intro h2 {
  margin-bottom: 2rem;
}

.page_wrapper main {
  color: #fff;
}

.page_wrapper table * {
  color: #fff;
}

.page_wrapper section.car-info {
  text-align: center;
  margin: auto;
  max-width: 80vw;
}

.page_wrapper .video_item video {
  display: block;
  margin: auto;
}

section.cta {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* esclusivamente per iPhone 5 */
@media screen and (max-width: 320px) {
  .row.top_block_wrapper {
    top: 64vh;
  }

  section.brand {
    padding-top: 140vh;
  }

  section.into {
    padding-top: 130vh;
  }
}

@media screen and (max-width: 768px) {
  #about-us {
    padding: 0;
  }
}

/* display maggioranza degli smartphone */
@media screen and (min-width: 376px) {
  .row.top_block_wrapper {
    top: 80vh;
  }

  section.brand {
    padding-top: 95vh;
  }

  section.into {
    padding-top: 80vh;
  }
}

/* display superiori agli smartphone */
@media screen and (min-width: 576px) {

  .page_home_wrapper .banner,
  .page_wrapper .banner,
  .page_wrapper .banner.EV {
    height: auto;
    background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/OMODA_OL.jpg");
    background-image: image-set("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/OMODA_OL.webp" type("image/webp"),
        "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/OMODA_OL.jpg" type("image/jpeg"));
  }

  .page_wrapper .banner.EV {
    background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/omoda-5ev-cover.jpg");
    background-image: image-set("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/omoda-5ev-cover.webp" type("image/webp"),
        "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-03/omoda-5ev-cover.jpg" type("image/jpeg"));
  }

  .row.top_block_wrapper,
  .page_wrapper .page_main_row {
    position: inherit;
    top: auto;
  }

  section.brand,
  section.into {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .btn.btn-primary {
    font-size: 1.25rem;
  }

  .brand-wrapper {
    flex-direction: row;
  }

  section .video-row,
  section.brand,
  section.omoda5-wrapper,
  section.omoda5EV-wrapper,
  section.into,
  section.car-info-fluid,
  section.connettivita,
  section.specifiche-tecniche,
  section.cta {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  section.connettivita {
    padding-bottom: 12rem;
  }

  .main section p {
    font-size: 1.5rem;
    max-width: 95%;
  }

  .page_wrapper {
    font-size: 1.5rem;
  }

  .video_inner video {
    margin-top: 8rem;
  }

  section.omoda5EV-wrapper img {
    margin-top: 5rem;
  }

  section.omoda5-wrapper img {
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 992px) {

  section.omoda5EV-wrapper img,
  section.omoda5-wrapper img,
  .video_inner video {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {

  .intro-img,
  .outro-img {
    background-attachment: fixed;
  }
}
