img {
  max-width: 100%;
  height: auto;
}
.wrapper_fiat_600 {
    margin: 0 8vw;
}

/*************************/

.container, .row,
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 0;
}

/*  FORM SECTION  */
.page_home_wrapper .banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 30px 1rem 60px;
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/sconti-portata.jpg");
  background-image: image-set(
    "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/sconti-portata.webp" type("image/webp"),
    "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/sconti-portata.jpg" type("image/jpeg")
  );
}
.page_home_wrapper .banner .top_block_wrapper.row {
  align-items: baseline !important;
}
.website_wrapper .banner .banner-content {
  padding-right: .5rem;
}
.website_wrapper .banner .banner-content,
.page_home_wrapper .global_blocks.top_block * {
  color: #fff;
  font-size: 2.5rem;
}
.banner-content h2 span {
  text-transform: uppercase;
  font-weight: 700;
}

/**************    1° SECTION     *************/

#about-us.text-center {
  text-align: left !important;
}

/*************************/

  .container, .row,
  .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0;
  }

  .titolo_top {
    text-align: center;
    margin: 3rem 0;
  }
  .titolo_top h1 {
    font-weight: 700;
    font-size: 3.5rem;
    color: #425361;
  }
  .text_top p {
    color: #515151;
    margin: 2rem auto;
    text-align: center;
  }
  .text_carattere_0 {
    text-align: right;
    padding: 10rem 0rem;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
  }
  .text_carattere_0>div ul {
    list-style-type: none;
    padding-inline-start: 0;
  }
  .list {
    display: flex;
    justify-content: center;
    font-weight: 600;
  }

  .text_carattere {
    margin: 2rem 0 3rem;
    color: #fff;
    display: flex;
  }
  .text_carattere p,
  .text_carattere_2 p {
    margin-right: 20%;
  }

  .text_carattere_2 {
    margin: 2rem 0 3rem;
    color: #fff;
    display: flex;
  }
  .text_carattere h4, .text_carattere_2 h4 {
    min-width: 300px;
  }
  .logo_wrapper {
    max-width: 300px;
  }
  .wrapper_info {
    background-color: #000;
  }
  .text_carattere_0 h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 2rem;
  }
  .sfondo-blue {
    background-color: #0f54c5;
    margin: 0 -8vw;
    margin-top: 3rem;
  }
  .logi picture img {
    max-width: 120px;
  }
  .logi {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  .text_marche {
    margin: 0 20%  3rem;
  }
  .text_marche h2 {
    color: #2d2d2d;
    font-weight: 700;
    text-transform: uppercase;
  }
  .bottone {
    display: inline-block;
    padding: 7px 60px;
    border: 2px solid #ffffff;
    transition-duration: .6s;
    cursor: pointer;
    margin-top: 21px;
    background-color: #0f54c5;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
  }
  .bottone:hover {
    background-color: #fff;
    color: #0f54c5;
  }
  .bottone_2 {
    display: inline-block;
    padding: 7px 60px;
    border: 2px solid #2f2f2f;
    transition-duration: .6s;
    cursor: pointer;
    margin-top: .5rem;
    background-color: #ffffff;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    border-radius: 8px;
    }
  .bottone_2:hover {
    background-color: #000;
    color: #ffffff;
  }
  .bottone_3 {
    display: inline-block;
    padding: 7px 60px;
    border: 2px solid #0f54c5;
    transition-duration: .6s;
    cursor: pointer;
    margin-top: .5rem;
    background-color: #ffffff;
    text-decoration: none;
    color: #0f54c5;
    font-weight: 500;
    border-radius: 8px;
    }
  .bottone_3:hover {
    background-color: #0f54c5;
    color: #ffffff;
  }
  .bottone_sconti_3 {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }
  .wrapper_text_arancia {
    margin: 0 auto;
    color: #fff;
    text-align: center;
    justify-content: center;
  }
  .wrapper_text_arancia h1 {
    color: #fff;
    font-weight: 700;
    font-size: 2.5rem;
  }
  .wrapper_grid {
    background-color: #e3e3dc;
    padding: 1rem;
    margin-top: 18%;
  }

  .relative_grid {
    position: relative;
  }

  .image_grid {
      border-right: 2px solid #ccc;
      margin-bottom: 2rem;
  }
  .image_grid:last-child {
    border-right: none;
  }

  .compila {
    display: flex;
    margin: 8rem 1%;
  }

.text_compila {
  color: #2f2f2f;
}

.text_compila h2 {
  margin-bottom: 0;
  color: #2f2f2f;
}
.text_compila p {
  margin-bottom: 0.5rem;
}

.line {
  height: 2.5px;
  width: 10%;
  background-color: #425361;
  margin: 0 auto;
}

.parallax {
  margin: 0 -8vw;
  min-height: 800px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/parallax-sconti-2.jpg");
  background-image: image-set(
    "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/parallax-sconti-2.webp" type("image/webp"),
    "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/parallax-sconti-2.jpg" type("image/jpeg")
  );
}

.banner_sotto {
  margin: 0 -8vw;
  margin-bottom: 2rem;
  min-height: 700px;
  background-color: #0f54c5;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
}

.image_banner_sotto {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/sconti-stellantis.jpg");
  background-image: image-set(
    "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/sconti-stellantis.webp" type("image/webp"),
    "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/sconti-stellantis.jpg" type("image/jpeg")
  );
}

.wrapper_top {
  background-color: #000;
  padding: 5rem 8rem;
  margin: 0 -8vw;
  color: #ffffff;
}

.text_titolo_top {
  text-align: center;
  padding: 0 20%;
}

.text_top {
    color: #425361;
}

.contenutotesti_sotto {
  margin: 0 auto;
  width: 24%;
  margin: 0 .5%;
}

.grid {
  margin: 4rem auto;
}

/******
IMAGES GRID
*******/
.marche_wrapper {
    margin: 6rem 0 1rem;
    text-align: center;
}

.fiat600_img_1,
.fiat600_img_2,
.fiat600_img_3 {
  background-position: center;
    background-size: cover;
    height: 550px;
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.fiat600_img_1 {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/sconto-autoingros.jpg");
  background-image: image-set(
    "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/sconto-autoingros.webp" type("image/webp"),
    "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/sconto-autoingros.jpg" type("image/jpeg")
  );
}

.fiat600_img_2 {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/sconto-autoingros-3.jpg");
  background-image: image-set(
    "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/sconto-autoingros-3.webp" type("image/webp"),
    "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/sconto-autoingros-3.jpg" type("image/jpeg")
  );
}

.fiat600_img_3 {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/sconto-autoingros-2.jpg");
  background-image: image-set(
    "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/sconto-autoingros-2.webp" type("image/webp"),
    "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/sconto-autoingros-2.jpg" type("image/jpeg")
  );
}

#footer {
  background-color: #0f1b2f;
}
#footer a,
#footer p {
  color: #fff;
}
#footer p span {
    color: #c92424;
}

 @media (max-width: 1399px) {
   .text_carattere p, .text_carattere_2 p {
    margin-right: 0;
  }

}
 @media (max-width: 1199px) {
  .text_carattere h4, .text_carattere_2 h4 {
    min-width: 250px;
  }
  .fiat600_img_1, .fiat600_img_2, .fiat600_img_3 {
    height: 450px;
  }
  .compila {
    margin: 8rem 5%;
  }
  .wrapper_top {
    padding: 0 8rem 1rem;
  }
  .text_marche {
    margin: 0 0 4rem;
  }

}

@media (max-width: 992px) {
  .logi picture img {
    max-width: 100px;
  }
  .logi {
    justify-content: space-between;
  }
  .text_carattere, .text_carattere_2 {
    display: block;
    margin: 2rem 0 1rem;
  }
    .banner_sotto {
    min-height: 500px;
  }
  .text_compila {
    margin-bottom: 2rem;
    padding: 0;
  }
  .fiat600_img_1, .fiat600_img_2, .fiat600_img_3 {
    height: 400px;
  }
  .parallax {
    min-height: 400px;
  }
  .marche_wrapper {
    margin: 4rem 0 1.5rem;
  }
  .compila {
      margin: 6rem 1.5%;
  }
  .wrapper_top {
    padding: 0 11% 1rem;
  }
  .image_grid {
    width: 25%;
    margin: .5rem 0;
  }
  .logi {
    justify-content: center;
  }

}

@media (max-width: 768px) {
  .logi picture img {
    max-width: 110px;
  }
  .grid {
    margin: 2rem auto;
  }
  .fiat600_img_1,
  .fiat600_img_2,
  .fiat600_img_3 {
    height: 350px;
    width: auto;
  }
  .text_titolo_top {
    padding: 0;
  }
  .text_carattere_0 {
    padding: 8rem 2rem;
  }
  .text_carattere a, .text_carattere_2 a {
    font-size: 3.5rem;
  }
  .wrapper_info {
      margin-bottom: 1rem;
  }
  .text_carattere, .text_carattere_2 {
    margin-bottom: 1rem;
  }
  .banner_sotto {
    margin-bottom: 0;
    min-height: 400px;
  }
  .image_grid {
    width: 40%;
    margin: .5em 5%;
    border-right: none;
    border-bottom: 2px solid #ccc;
  }
}

@media (max-width: 575px) {
  .image_grid {
    width: 49%;
  }
  .wrapper_top {
    padding: 2rem 0 1rem;
  }
  .banner_sotto {
    min-height: 300px;
  }
  .text_carattere,
  .text_carattere_2 {
    padding: 0 5%;
  }
  .wrapper_info h3 {
    padding: 0 5%;
  }
  .wrapper_info>p {
    padding: 0 5%
  }
  .text_top p {
    margin: 0 auto 1rem;
    padding: 0;
  }
  .compila {
    margin: 4rem -4vw;
  }
  .titolo_top h1 {
    font-weight: 700;
    color: #28333c;
  }
  .wrapper_grid {
    margin-top: 28%;
  }
  .text_compila {
    padding: 0;
  }
  .fiat600_img_1,
  .fiat600_img_2,
  .fiat600_img_3 {
    height: 300px;
    width: auto;
    border-radius: 0;
  }
  .grid {
    margin: 1rem auto;
  }
  .row.first_row {
      --bs-gutter-x: 0;
      padding-left: 0;
      margin-bottom: 60px;
  }
  .website_wrapper .banner .banner-content,
  .page_home_wrapper .global_blocks.top_block * {
    color: #fff;
    font-size: 2rem;
  }
  .logi picture img {
    max-width: 100px;
  }
  .titolo_top {
    margin: 1rem 0;
  }
}

 @media (max-width: 424px) {
  .titolo_top h1 {
    font-size: 2.5rem;
  }
  .wrapper_fiat_600 {
      margin: 0 4vw;
  }
  .text_top p {
    margin: 0;
    padding: 0;
  }
  .image_banner_sotto{
    border-radius: 0;
  }
  .banner_sotto {
    padding: 0;
    min-height: 220px;
  }
  .global_blocks.bottom_block h4 {
    padding: 0 1rem;
  }

  .text_carattere_0 {
    padding: 6rem 2rem;
  }
  .titolo_top  {
    margin: 2rem 0;
  }
  .titolo_top h1 {
    font-weight: 700;
    font-size: 2rem;
  }
  .fiat600_img_1,
  .fiat600_img_2,
  .fiat600_img_3 {
    height: 280px;
  }
}

 @media (max-width: 374px) {
  .logi {
    flex-direction: column;
  }
  .fiat600_img_1,
  .fiat600_img_2,
  .fiat600_img_3 {
    height: 250px;
  }
  .banner_sotto {
    min-height: 180px;
  }
  .text_carattere_0 h1 {
    font-size: 1.3rem;
    line-height: normal;
  }
  .text_marche h2 {
    font-size: 1.3rem;
  }

}
