img {
  max-width: 100%;
  height: auto;
}

/*************************/
.container, .row,
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 0;
}

/*************************************
  FORM SECTION
**************************************/

.page_home_wrapper .banner {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/banner-landrover.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 30px 0 60px;
}

.page_home_wrapper .banner .top_block_wrapper.row {
  align-items: baseline!important;
}

.website_wrapper .banner .banner-content *, .page_home_wrapper .global_blocks.top_block * {
  color: #fff;
}

.banner-content h2 span {
  text-transform: uppercase;
  font-weight: 700;
}

/* 1° Section */
#about-us.text-center {
  text-align: left !important;
}

/******* LAND ROVER INIZIO  *********/

/* TOP SECTION */

.wrapper_home {
  height: auto;
  width: auto;
}

.info-home-wrapper {
  margin: 4rem auto 1rem;
  color: #000;
}

.info-home {
  padding: 0 20px;
}

.info-home p {
    padding: 1.5rem 0;
}

.info-home h5 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
}

.text {
    padding: 0 2rem;
}

/* SFONDO GRIGIO */

.sfondo-grigio {
  background-color: #f9f9f9;
  height: auto;
  width: auto;
  padding: 1rem 0;
  margin-top: 2rem;
}

.altri-modeli {
  padding: 1rem 3rem;
}

.altri-modeli img {
    max-width: 50px;
    margin: 10px 0;
}


/************* SFONDO NERO *********/

.sfondonero-wrapper {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
}

.sfondonero {
  justify-content: center;
  color: #000;
  text-align: center;
  padding: 2rem 0 0;
}

.bianco {
  padding: 3rem 0;
}

.text-sfondonero {
  padding: 1rem 20%;
}

.text-landrover .subtitolo {
  letter-spacing: 2px;
  font-size: 1.2rem
}

.text-landrover .titolo {
  letter-spacing: 2px;
  font-weight: 600;
}

.text-landrover p {
  font-size: 1rem;
}

.primo-bottone,
.bottone-sport,
.bottone-evoque   {
  margin: 2rem 0;
}

.bottoni-generale a,
.bottone-sport a,
.bottone-evoque a {
  padding: 8px 57px;
  transition-duration: .5s;
  text-decoration: none;
  font-weight: 500;
}

.bottoni-generale {
  margin: 20px 0;
}

.bottone1 {
  color: #ccc;
}

.bottone1:hover {
  color: #fff;
}

.bottone2 {
  background-color: #fff;
  border: 1px solid #000;
}
.bottone2:hover {
  border: 1px solid #ccc;
}

.text-home {
  text-align: center;
}

.image-cardue {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/home-car1.jpg");
  height: 500px;
  width: auto;
  background-position: center;
  background-size: cover;
  position: relative;
}

.text-piccolo-wrapper {
  position: absolute;
    color: #fff;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 0 7rem;
}

/* land rover sport wrapper home */

.sport-nero {
  padding: 3rem 0;
}

.text-model-sport {
  color: #fff;
}

/* land rover evoque wrapper home */

.landrover-evoque-wrapper {
  background-color: #fff;
  padding: 3rem 0;
}

.text-model-evoque {
  color: #000;
}

.text-esplosor {
  padding-right: 100px;
  align-items: center;
  display: flex;
}

.text-esplosor2 {
  padding-left: 100px;
  align-items: center;
  display: flex;
}

/* ESPLOSOR LAND ROVER SPORT */

.esplosor-evoque {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/esplosor-evoque1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
}

.esplosor-sport {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/esplosor-sport2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
}

.banner-piccolo {
  height: 400px;
  width: auto;
  margin: 0 auto;
}

.wrapper_text_top {
  color: #fff;
  background-color: #02090e;
}

.text-esplosor {
  color: #fff;
  padding: .5rem 0 5rem;
  padding-left: 44px;
}

.wrapper_nero {
  background-color: #02090e;
}

.text-interiore {
  color: #fff;
  display: flex;
  margin: auto;
  padding: 20px;
}

.text h5 {
  text-transform: uppercase;
}

.line {
  height: 5px;
  width: 100vw;
  background-color: #000;
}

.secondo-blocco-nero {
  padding-bottom: 3rem;
}

.text-evoque {
  text-align: center;
  padding: 2rem;
}

.text-sotto-esplosor {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.image-evoque {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/esplosor-sport8.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
  width: auto;
}

.image-sport {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/range-rover-sport-grey.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 600px;
  width: auto;
}

.image-sotto {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/interni-range-rover-sport.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
}
.image-sotto-2 {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/esplosor-evoque7.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
}

/**********************    RESPONSIVE   *********************/

@media (min-width: 1920px) {
  body {
    max-width: 1920px;
    margin: auto;
  }

}

@media (max-width: 1899px) {
  /* ESPLOSOR LANDROVER SPORT */
  .text-sotto-esplosor {
    padding-right: 20px;
  }

}

@media (max-width: 1399px) {
  .info-home p {
    padding: 0 3rem;
  }

  .altri-modeli {
    padding: 2rem 0;
  }

  .text {
    padding: 0 10px;
  }

}

@media (max-width: 1199px) {
  .text-esplosor {
    padding-right: 0;
  }

  .text-esplosor2 {
    padding-left: 50px;
  }

  /* ESPLOSOR LANDROVER SPORT */

  .banner-piccolo {
    width: auto;
  }

  .esplosor-evoque {
    height: 700px;
  }

}

@media (max-width: 992px) {

  .page-home-wrapper .sfondonero-wrapper {
    height: 100vh;
  }

  .altri-modeli {
    padding: 0;
    text-align: center;
  }

  .info-home p {
    padding: 0;
  }

  .text {
    padding: 15px 0;
  }

  .text-esplosor {
    padding-right: 0;
  }

  .text-esplosor2 {
    padding-left: 20px;
  }

  .text-model-sport h1,
  .text-model-evoque h1 {
    font-size: 2rem;
  }

  .text-sfondonero {
    padding: 1rem 15%;
  }

/* ESPLOSOR LANDROVER SPORT */

  .banner-piccolo {
    height: auto;
    width: auto;
  }

  .text-interiore {
    padding-right: 20px;
  }

  .text-esplosor {
    padding: .5rem 0 3rem;
  }

  .text-sotto-esplosor {
    margin: 3rem 0;
  }

  .primo-bottone {
    margin: 1rem 0;
  }

  .image-sport {
    height: 400px;
  }

  .esplosor-sport {
    height: 400px;
  }

}

@media (max-width: 768px) {
  .wrapper_home {
    padding: 0;
  }

  .info-home-wrapper {
    margin: 2rem auto 3rem;
  }

  .info-home h5 {
    font-size: 2.5rem;
  }

  .image-cardue {
    height: 400px;
  }

  .text-model-sport {
    margin-bottom: 2rem;
  }

  .text-model-evoque {
    margin-top: 2rem;
  }

  .text-sfondonero {
    padding: 1rem 3rem;
  }

  .image-evoque {
    height: 400px;
    width: auto;
  }

/* ESPLOSOR LANDROVER SPORT */

  .esplosor-evoque {
    height: 600px;
  }

  .image-sport {
    height: 300px;
  }

  .text-interiore {
    padding: 20px 0;
  }
}

@media (max-width: 576px) {
  .text-text-landrover p {
    padding: 0 20px;
  }

  .image-cardue {
    height: 400px;
  }

  .text-model-sport {
    text-align: center;
    padding: 0 20px;
  }

  .text-model-evoque {
    text-align: center;
    padding: 0 20px;
  }

  .text-piccolo-wrapper {
    display: block;
    top: 50%;
  }

  .text-piccolo {
    padding: 10px 0;
  }

/* ESPLOSOR LANDROVER SPORT */

  .text-esplosor {
    padding: 1rem 2rem 0;
  }

  .secondo-blocco-nero {
    padding: .5rem 2rem;
  }

  .two_column_description {
    padding: 1rem 2rem 0;
  }

  .image-sotto {
    height: 280px;
    width: 100%;
  }

}

@media (max-width: 490px) {
  .picture-3 {
    padding-top: 30px;
  }

  .image-evoque {
    height: 300px;
    width: 100%;
  }

  .esplosor-evoque {
    height: 400px;
  }

  .image-sport {
    height: 300px;
    width: 100%
  }

  .text-evoque {
    padding: 2rem 2rem 1.5rem;
  }

}

@media (max-width: 400px) {
  .text-home p:nth-child(2) {
    margin-bottom: 3rem;
  }

  .esplosor-sport {
    height: 300px;
  }

}

@media (max-width: 375px) {
  .text-landrover p {
    font-size: .9rem;
  }

  .image-evoque {
    height: 280px;
    width: 100%;
  }

  .image-sport {
    height: 200px;
  }

  .image-sotto {
    background-position: center right;
    height: 250px;
    width: 100%;
  }

/* ESPLOSOR LANDROVER SPORT */

  .bottoni-generale a,
  .bottone-sport a,
  .bottone-evoque a {
    padding: 8px 40px;
  }

  p {
    font-size: .9rem;
  }

}

@media (max-width: 320px) {

}
