img {
  max-width: 100%;
  height: auto;
}

/*************************/
.container, .row,
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 0;
}
/*  FORM SECTION  */
.page_home_wrapper .banner {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/banner_fiat600.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 30px 1rem 60px;
}

.page_home_wrapper .banner .top_block_wrapper.row {
  align-items: baseline !important;
}

.website_wrapper .banner .banner-content {
  padding-right: .5rem;
}

.website_wrapper .banner .banner-content,
.page_home_wrapper .global_blocks.top_block * {
  color: #fff;
  font-size: 2.5rem;
}

.banner-content h2 span {
  text-transform: uppercase;
  font-weight: 700;
}

/* 1° Section */
#about-us.text-center {
  text-align: left !important;
}


  /*************************/
  .container, .row,
  .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0;
  }

  .relative_top {
    position: relative;
  }

  .logo_fiat {
    max-width: 350px;
    display: flex;
    margin: 0 auto;
    z-index: 100;
  }

  .top_600  {
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .top_600 p {
    font-size: 25rem;
    font-weight: 800;
    color: #e3e3dc;
  }

  .titolo_top {
    text-align: center;
    margin: 4rem 0;
  }
  .titolo_top h1 {
    font-weight: 700;
    font-size: 3rem;
    color:#28333c;
  }

  .text_top {
    margin-top: 8rem;
  }

  .text_top p {
    color: #515151;
    margin: 3rem auto;
    text-align: center;
  }

  .text_carattere {
    text-align: right;
    padding: 10rem 2rem;
    margin: auto 0;
    color: #fff;
  }

  .text_carattere_2 {
    text-align: left;
    padding: 10rem 2rem;
    margin: auto 0;
  }
  .text_carattere_2 p {
    color: #515151;
  }

  .text_carattere h1,
  .text_carattere_2 h1 {
    font-weight: 700;
    font-size: 2.5rem;

  }

  .bottoni_wrapper {
    display: inline-flex;
    flex-direction: column;
  }

  .bottone_fiat,
  .bottone_fiat_2 {
    display: inline-block;
    padding: 8px 60px;
    border-radius: 17px;
    transition-duration: .6s;
    cursor: pointer;
  }
  .bottone_fiat {
    background-color: #de340d;
    margin-bottom: 12px;
  }


  .bottone_fiat_2 {
    background-color: #4481ad;
  }
  .bottone_fiat_2:hover {
    background-color: #21394e;
  }


  .bottone_fiat a {
    text-decoration: none;
    color: #fff;
  }

  .bottone_fiat_2 a {
    text-decoration: none;
    color: #fff;
  }


  /* SFONDO ARANCIA */

  .fondo_arancia {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .wrapper_text_arancia {
    margin: 0 auto;
    color: #fff;
    text-align: center;
    justify-content: center;
  }

  .wrapper_text_arancia h1 {
    color: #fff;
    font-weight: 700;
    font-size: 2.5rem;
  }

  .sfondo_beige {
    position: relative;
    height: 240px;
    width: 100%;
    position: relative;
  }

  .car {
    position: absolute;
    max-width: 45%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .wrapper_grid {
    background-color: #e3e3dc;
    padding: 1rem;
    margin-top: 18%;
  }

  .relative_grid {
    position: relative;
  }

  .fiat_nome {
    text-align: center;
    position: absolute;
    top: -13%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .fiat_nome p {
    font-size: 15rem;
    font-weight: 800;
    color: #e3e3dc;
  }

  .image_grid {
    width: 24%;
    margin: 0 .5%;
  }

.compila {
  display: flex;
  background-color: #fff;
  height: 200px;
  flex-direction: column;
  margin-bottom: 5rem;
}

.bottone_2 {
  justify-content: center;
  margin: 4rem auto 0;
}
.text_compila {
  margin: 1rem auto;
  padding: 0 25%;
  text-align: center;
  color: #515151;
}

.line {
  height: 2.5px;
  width: 10%;
  background-color: #425361;
  margin: 0 auto;
}

.parallax {
  min-height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/fiat_600_0.jpg");
  background-image: image-set(
    "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/fiat_600_0.webp" type("image/webp"),
    "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/fiat_600_0.jpg" type("image/jpeg")
  );
}

.wrapper_top {
  background-color: #425361;
}

.text {
  color: #425361;
  padding: .5rem 1rem;
}

.text img {
    max-width: 50px;
    margin-bottom: 20px;
}

.contenutotesti_sotto {
  margin: 0 auto;
  width: 24%;
  margin: 0 .5%;
}

.text p {
  color: #515151;
}

.grid {
  margin: 4rem auto;
}

.carattere_fiat {
  text-align: center;
  background-color: #e3e3dc;;
  padding: 0 0 2rem;
}

.text-piccolo {
  color: #21394e;
}

.text-piccolo p {
  margin: 0;
}

/********************** IMAGES GRID  ***********************/


figure picture {
    margin: 0;
  }

  .grid figure {
    position:relative;
    overflow: hidden;
  }
  .grid figure picture img{
      transition: all 800ms ease-out;
  }

  .grid figure picture:hover > img {
      transform: scale(1.4);
  }


.fiat600_img_1,
.fiat600_img_2,
.fiat600_img_3 {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: auto;
}

.fiat600_img_1 {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/fiat_600_1.jpg");
  background-image: image-set(
    "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/fiat_600_1.webp" type("image/webp"),
    "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/fiat_600_1.jpg" type("image/jpeg")
  );
}

.fiat600_img_2 {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/fiat_600_2.jpg");
  background-image: image-set(
    "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/fiat_600_2.webp" type("image/webp"),
    "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/fiat_600_2.jpg" type("image/jpeg")
  );
}

.fiat600_img_3 {
  background-image: url("https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/fiat_600_3.jpg");
  background-image: image-set(
    "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/fiat_600_3.webp" type("image/webp"),
    "https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/fiat_600_3.jpg" type("image/jpeg")
  );
}


 @media (max-width: 1399px) {
  .sfondo_beige {
    height: 250px;
  }

}


 @media (max-width: 1199px) {
  .top_600 p {
    font-size: 22rem;
  }

  .text_carattere,
  .text_carattere_2 {
    padding: 4rem 2rem;
  }

  .fiat_nome {
    top: -11%;
  }

  .fiat_nome p {
    font-size: 12rem;
    font-weight: 800;
  }

  .fondo_arancia {
    height: 450px;
  }

  .sfondo_beige {
    height: 210px;
  }
  .compila {
    margin-bottom: 7rem;
  }

}

@media (max-width: 991px) {
  .top_600 p {
    font-size: 20rem;
  }

  .logo_fiat {
    max-width: 350px;
  }

  .image_grid {
    width: 49%;
    margin: 0 .5%;
  }

  .fiat_nome {
    top: -4.8%;
  }

  .fiat_nome p {
    font-size: 10rem;
    font-weight: 800;
  }

  .text_carattere h1,
  .text_carattere_2 h1 {
    font-size: 2rem;
  }

  .fondo_arancia {
    justify-content: start;
    padding: 6rem 0;
  }

  .text_compila {
    padding: 0 15%;
  }

  .car {
    max-width: 70%;
    top: -5%;
  }

  .sfondo_beige {
    height: 180px;
  }

  .compila {
    margin-bottom: 5rem;
  }

 }

 @media (max-width: 767px) {
  .top_600 p {
    font-size: 16rem;
    color: rgba(46, 139, 86, 0.543)
  }
  .logo_fiat {
    max-width: 300px;
  }
  .fiat_nome {
    top: -3.7%;
  }
  .fiat_nome p {
    font-size: 7rem;
    font-weight: 800;
  }

  .text_carattere h1,
  .text_carattere_2 h1 {
    font-size: 2.5rem;
  }

  .text_carattere,
  .text_carattere_2 {
    text-align: center;
    padding:3rem;
  }

  .parallax {
    min-height: 380px;
  }

  .fondo_arancia {
    padding: 3rem 1rem 0;
  }
  .fondo_arancia {
    height: 400px;
  }

  .grid {
    margin: 2rem auto;
  }

  .fiat600_img_1,
.fiat600_img_2,
.fiat600_img_3 {
  height: 400px;
  width: auto;
}

.car {
  max-width: 80%;
  top: 1%;
}

.carattere_fiat {
  padding: 0 0 2rem;
}

.text-piccolo {
  margin: 1rem 0;
}
.compila {
  margin-bottom: 9rem;
}

}

 @media (max-width: 575px) {

  .top_600 p {
    font-size: 13rem;
    color: rgb(161, 174, 198);
  }

  .logo_fiat {
    max-width: 250px;
  }

  .fiat_nome {
    top: -1.2%;
  }

  .fiat_nome p {
    font-size: 5.3rem;
    font-weight: 800;
  }

   .image_grid {
    width: 100%;
    margin: 0 auto;
  }

  .text_top p {
    margin: 0 auto 3rem;
    padding: 0 1rem;
  }

  .titolo_top h1 {
    font-weight: 700;
    font-size: 2.3rem;
    color: #28333c;
  }

  .parallax {
    min-height: 300px;
    background-attachment: local;
  }

  .fondo_arancia h1 {
    font-size: 2rem;
  }

  .compila {
    height: 270px;
  }

  .wrapper_grid {
    margin-top: 28%;
  }

  .text_compila {
    padding: 0 2rem;
  }

  .grid {
    margin: 1rem auto;
  }

  .sfondo_beige {
    height: 160px;
  }

  .text-piccolo {
    width: 50%;
  }

  .text {
    padding: .5rem 0;
  }

  .row.first_row {
      --bs-gutter-x: 0;
      padding-left: 0;
      margin-bottom: 60px;
  }

  .website_wrapper .banner .banner-content,
  .page_home_wrapper .global_blocks.top_block * {
    color: #fff;
    font-size: 2rem;
  }

}




 @media (max-width: 424px) {
  .fiat_nome {
    top: -1.1%;
  }

  .fiat_nome p {
    font-size: 4.5rem;
  }

  .top_600 p {
    font-size: 9rem;
  }

  .text_top {
    margin-top: 6rem;
  }

  .logo_fiat {
    max-width: 250px;
  }

  .titolo_top h1 {
    font-size: 2.5rem;
  }

  .titolo_top  {
    margin: 2rem 0;
  }

  .text_top p {
    margin: 0 auto 3rem;
    text-align: center;
    padding: 0 1rem;
  }

  .titolo_top h1 {
    font-weight: 700;
    font-size: 2rem;
  }

  .fondo_arancia {
    height: 450px;
  }

  .sfondo_beige {
    height: 140px;
  }

  .car {
    max-width: 100%;
  }

  .text_carattere,
  .text_carattere_2 {
    padding: 2rem;
  }

}


 @media (max-width: 374px) {
  .fiat_nome p {
    font-size: 3.5rem;
  }
  .fiat_nome {
    top: -.8%;
  }

  .text_carattere h1,
  .text_carattere_2 h1 {
    font-size: 2rem;
  }
  .fondo_arancia {
    height: 550px;
  }

  .text_compila {
    padding: 0 1rem;
  }
  .colori {
    vertical-align: bottom;
  }
  .compila {
    height: 330px
  }

}

 @media (max-width: 319px) {
  .text-piccolo {
    width: 100%;
  }
  .text_carattere,
  .text_carattere_2 {
    padding: 1rem;
  }

}
