<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <h2 class="footer-block__heading">inStazione</h2>
        <div class="footer-block__details-content rte">
          <p class="description"><strong>inStazione </strong>offers a tourist welcome service inside the central stations of Naples, Pompeii and beyond: assistance and useful information for getting around the city, organization of guided tours and transfer service.</p>
          <p><strong>BOOKING OFFICE:</strong></p>
          <p>Cell: <a href="tel:+393513481938" title="tel:+393513481938">+393513481938</a></p>
          <p>Email: <a href="mailto:booking@instazione.it">booking@instazione.it</a></p>
        </div>
      </div>

      <div class="col-12 col-md-3">
        <p><strong>NAPLES DESK:</strong></p>
        <p><a href="https://goo.gl/maps/cvZADtk2j5dJbJJ49" target="_blank" title="inStazione Tourist Services Naples"><strong>Naples Garibaldi FS Station<br>(Giuseppe Garibaldi Square) BINARY PLAN</strong></a></p>
        <p>Cell: <a href="tel:+393661390153" title="Contact inStazione Naples">+393661390153&nbsp;</a></p>
      </div>
      <div class="col-12 col-md-3">
        <p><strong>NAPLES AGENCY:</strong></p>
        <p><a href="https://goo.gl/maps/cvZADtk2j5dJbJJ49" target="_blank" title="inStazione Tourist Services Naples"><strong>Garibaldi FS Station Naples<br>(Giuseppe Garibaldi Square) FLOOR -1</strong></a></p>
        <p>Cell: <a href="tel:+393661390153" title="Contact inStazione Naples">+3933880769471</a></p>
        <p>Tel: <a href="tel:+390810573430" title="tel:+390810573430">+390810573430</a></p>
      </div>
      <div class="col-12 col-md-3">
        <p><strong>POMPEII DESK:</strong></p>
        <p><a href="https://g.page/InStazione-it" target="_blank" title="InStazione Tourist Services Pompeii"><strong>Pompeii Central Station FS<br>(28 March Square)</strong></a></p>
        <p>Cell: <a href="tel:+393517766909" title="Contact inStazione Pompeii">+393517766909</a></p>
        <p></p>
      </div>
    </div>
  </div>
</div>

<div id="powered">
  <div class="row text-center">
    <!-- <div class="col-sm-12 cookie">
      {% if sitedata.url_cookie%}
      <a target="_blank" href="{{sitedata.url_cookie}}">Cookie Policy</a>
      {% endif %}
      <p class="inline-block"> | </p>
      {% if sitedata.url_cookie%}
      <a target="_blank" href="{{sitedata.url_privacy}}">Privacy Policy</a>
      {% endif %}
    </div> -->
    <div class="col-sm-12">
      Made with <span class="heart">♥</span> by <strong><a href="https://emeraldcommunication.com" target="_blank">Emerald Communication ®{{ "now"|date("Y") }}</a></strong>
    </div>
  </div>
</div>
