@media (min-width: 992px) {

  .main-row {
    margin: 0;
    margin-left: 15px;
  }

  .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: column;
  }

  .navbar-expand-lg {
    flex-flow: column;
  }
}

@media (min-width: 1920px) {
  body,
  #cookieBanner {
    max-width: 1920px;
    margin: auto;
  }
}

/* Big apple Mac */
@media (max-width: 1440px) {
  .carousel .article-item .title {
    font-size: 16px;
  }
}

/* Laptop with touch */
@media (max-width: 1440px) {
  .carousel .article-item .title {
    font-size: 14px;
  }
}

/* ----------- Media Query iPad Pro ----------- */
/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .homepage .carousel .article-item .text-box {
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

/* Landscape */
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .homepage .carousel .article-item .text-box {
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

/* ----------- iPad classic ----------- */
/* Portrait */
@media only screen and (min-width: 768px) and (max-height: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .homepage .carousel .article-item .text-box {
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .carousel .article-item .title {
    font-size: 11px;
  }
}

/* iPad classic landscape */
@media (min-width: 768px) and (max-width: 1024px) and (max-height: 1023px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .homepage .carousel .article-item .text-box {
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 575px) {
  .navbar {
    padding: 1rem;
  }

  .carousel .article-item .title {
    font-size: 14px;
  }

  #category-info {
    padding: 10px;
  }

  #main_article .article-text {
    padding: 10px;
  }

  .article_page h1 {
    font-size: 2rem;
  }

  #main_article .links li {
    flex-direction: column;
  }

  #main_article .links li p {
    margin: 0;
  }

  #main_article .links li em {
    margin-bottom: 10px;
  }

  .article_page .col-lg-8,
  .article_page .col-lg-4 {
    padding: 0;
  }
}
