/**************************************
FONTS
*****************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
}

.white_over:hover {
  color: #fff;
}

#col-main-wrapper,
#col-dx-wrapper {
  margin-top: 30px;
}

.uppercase {
  text-transform: uppercase;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

a:visited {}

/* NAVBAR */
nav {
  margin: 0 -15px;
}

#navbarNav ul {
  list-style-type: none;
}

header .categories {
  display: flex;
  flex-direction: column;
}

header .categories a {
  margin-bottom: .5rem;
  margin-left: .5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 0;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("black_burger.svg");
}

/* homepage */
.homepage h1 {
  font-weight: 700;
}

.site_name {
  margin: 30px 0;
  text-transform: uppercase;
}

/* homepage carousel */
.homepage .carousel .article-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.homepage .carousel .article-item .text-box .title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
}

.homepage .carousel .article-item .text-box .read-more {
  display: inline-block;
  padding: 10px 30px;
  position: absolute;
  bottom: 30px;
  transform: translate(-50%, -50%);
}

.carousel-indicators li {}

.carousel-indicators .active {}

/* Articles Grid */
#articlesbox .read-more {
  display: inline-block;
  padding: 5px 60px;
}

.shadow {
  -webkit-box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.25);
}

.article-item {
  margin: 15px 0;
}

.article-item .text-box {
  padding: 15px;
}

.category-item {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 3px;
}

.article-item .title {
  text-transform: uppercase;
  font-size: 20px;
}

.grid-item {
  width: 33%;
}

.grid-item_inner {
  margin: 1rem;
  padding: 1rem;
}

/* Header */
#header {}

#logoimg {
  margin: 60px 0;
}

#logowrpper img,
#logowrpper h1 {}

/* colonna di destra */
#col-dx {
  padding: 15px;
  text-align: justify;
}

#col-dx h3 {
  text-transform: uppercase;
  text-align: left;
  font-size: 1.5rem;
}

/* CHI SIAMO / ABOUT US */
#about-us {
  margin-bottom: 90px;
}

#about-us p {
  margin: 0;
}

#about-us h3 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* MOST SEEN ARTICLES BOX */
#most_seen_articles {
  margin-bottom: 60px;
}

/* OTHER WEBSITES */
#other-websites {}

#other-websites h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.other-website {
  display: inline-block;
  margin: 15px;
}

/**************************
CATEGORY
*************************/
/* category page */
#category-info {
  padding: 30px 60px;
}

#category-info h1 {
  text-transform: uppercase;
  font-weight: bold;
}

/********************
ARTICLE
*********************/
/* article explosed */
.page_article h1 {
  font-weight: 700;
}

#main_article .categories {
  margin-bottom: 30px;
}

#main_article .article-text {
  padding: 30px 60px;
}

#main_article .title {
  text-transform: uppercase;
  padding: 15px;
  text-align: center;
}

#main_article .created {
  font-size: 1.5rem;
  font-weight: 100;
}

.title_box {
  text-align: left;
}

#main_article .links {
  margin-top: 60px;
  margin-bottom: 15px;
}

#main_article .links h4 {
  margin-bottom: 15px;
}

#main_article .links ul {
  margin: 0;
  padding: 0;
}

#main_article .links li {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

#main_article .links li p {
  margin-right: 30px;
}

#other_articles {
  margin: 90px 0;
}

#page_article_carousel .category a:hover {
  color: #000;
}

#other_articles h4 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}

#other_articles .category-item {
  margin: 2px;
}

/* Footer */
#footer {
  padding: 1rem;
  margin-top: 90px;
}

.love {
  text-transform: uppercase;
}

.cookie {
  margin-bottom: 30px;
}

.card {
  margin-bottom: 1rem;
}

.card {
  padding: 0.5rem;
  border-radius: 0;
  color: #000;
}

.card-body {
  padding: 0.5rem;
}

.btn {
  border-radius: 0;
}

/* Cookie banner */
#cookiebanner {
  background-color: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: none;
}

#cookiebanner_inner {
  padding: 0.5rem 1rem;
}

#cookiebanner_inner .btn-block {
  float: right;
  width: auto;
}

/* Messages */
#alertsbox {
  position: absolute;
  top: 1em;
  right: 0;
}

/* cookie Preferences */
#cookiePreferences {
  border: 2px solid #666666;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #ffffff;
  padding: 0.3rem 1rem;
  height: 2rem;
  cursor: pointer;
}

/*********************
PAGINA ARTICOLO ESPLOSO
*************************/
/* CUSTOM CLASS */
.inline-block {
  display: inline-block;
}

.heart {
  color: red;
}

/* Responsive behaviour */
@media (max-width: 1600px) {
  .grid-item {
    width: 25%;
  }
}

@media (max-width: 1280px) {
  .grid-item {
    width: 33%;
  }
}

@media (max-width: 1024px) {
  .grid-item {
    width: 50%;
  }

  #logowrpper img,
  #logowrpper h1 {
    display: block;
  }

  #logowrpper h1 {
    font-size: 2.0rem;
    text-align: center;
    padding-top: 0.5rem;
  }

  .display-3 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .display-4 {
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

@media (max-width: 768px) {
  .navbar-dark .navbar-nav .nav-link {
    margin-left: 40px;
  }

  #about-us {
    padding: 15px;
  }
}

@media (max-width: 540px) {
  .grid-item {
    width: 100%;
  }

  #category-info h1 {
    font-size: 2rem;
  }
}
