<div class="container">
  <div class="row">
      <div class="col">


        <div id="category-info" class="text-center">
          <h1 class="color_secondary">{{ path.content.title }}</h1>
          <p>{{ path.content.description|raw }}</p>
        </div>


        <div id="articlesbox">
          <!-- <h2 class="color_primary display-4">Gli ultimi articoli</h2> -->
          <div class="">

            <div class="row">
              {% for article in path.articles|slice(0, 99) %}
              {{ include(themefolder ~ '/teasers/home_article.html') }}
              {% endfor %}
              {# /#articlesbox #}
            </div>
          </div>

        </div>

        <div id="about-us" class="text-center colorbg_secondary banner-box">
          {{sitedata.body|raw }}
        </div>

        {% if sitedata.show_otherwebsites%}
        <div id="other-websites" class="col text-center shadow banner-box">
          <div class="color_secondary">
            <h4>I nostri siti web</h4>
          </div>
          {% for website in sitedata.network_websites %}
            <a href="{{website.url}}" target="_blank">
              <div class="other-website">
                <div class="cover">
                  <img src="{{website.logo}}" alt="{{website.title}}">
                </div>
                <div class="website-title">
                  {{website.title}}
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
        {% endif %}


      </div>
  </div>

</div>
