<div class="alert alert-{{alert.severity}} alert-dismissible fade show" role="alert">
  {{alert.message|raw}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
