
<!--
Removed absolute url due to CSP compliance
-->
<!--
<script type="text/javascript" src="{{sitedata.baseurl}}/jshead"></script>
-->
<script type="text/javascript" src="/jshead"></script>


<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% if path.type == 'homepage' %}
<link rel="canonical" href="{{sitedata.baseurl}}" />
  {% elseif path.type == 'page' %}
<link rel="canonical" href="{{sitedata.baseurl}}{{page.path}}" />
  {% elseif path.type == 'category' %}
<link rel="canonical" href="{{sitedata.baseurl}}/{{path.content.path}}" />
  {% elseif path.type == 'article' %}
<link rel="canonical" href="{{sitedata.baseurl}}{{path.content.path}}" />
  {% endif %}
<link rel="shortcut icon" href="{{sitedata.favicon}}" type="image/vnd.microsoft.icon">

{% if path.type == 'homepage' %}
{% if (sitedata.seo_title is not null) and (sitedata.seo_title != '') %}
  <title>{{sitedata.seo_title|raw}}</title>
{% else %}
  <title>{{sitedata.title|raw}}</title>
{% endif %}



{% if (sitedata.seo_description is not null) and (sitedata.seo_description != '') %}
  <meta name="description" content="{{ sitedata.seo_description }}">
{% else %}
  <meta name="description" content="{{sitedata.body|striptags}}">
{% endif %}

{% elseif path.type == 'category' %}
  <title>{{ path.content.title }} | {{sitedata.title}}</title>
  <meta name="description" content="{{ sitedata.seo_description }}">

{% elseif path.type == 'article' %}

{% if path.content.seo_title is not null %}
  <title>{{ path.content.seo_title }} | {{sitedata.title}}</title>
{% else %}
  <title>{{ path.content.title }} | {{sitedata.title}}</title>
{% endif %}

{% if path.content.seo_description is not null %}
  <meta name="description" content="{{ sitedata.seo_description }}">
{% else %}
  <meta name="description" content="{{sitedata.body|striptags}}">
{% endif %}


{% elseif path.type == 'page' %}
{% if (page.seo_title is not null) and (page.seo_title != '') %}
  <title>{{ page.seo_title|raw }}</title>
{% else %}
  <title>{{ page.title }} | {{sitedata.title}}</title>
{% endif %}
  <meta name="description" content="{{ page.seo_description }}">
{% if page.noindexnofollow == 1 %}
  <meta name="robots" content="noindex, nofollow">
{% endif %}
{% else %}
  <title>{{sitedata.title}}</title>
  <meta name="description" content="{{sitedata.body|striptags}}">
{% endif %}

{{ include( '_assets/twig/schema.html') }}

<meta name="webformid" content="{{sitedata.webform}}">
<meta name="webformendpoit" content="{{sitedata.webformendpoit}}">
<meta name="webformdebug" content="{{sitedata.webformdebug}}">
<meta name="webformokfeedback" content="{{sitedata.webformokfeedback}}">
<meta name="webformmessageok" content="{{sitedata.webformmessageok}}">
<meta name="webformmessageko" content="{{sitedata.webformmessageko}}">
<meta name="webformredirect" content="{{sitedata.webformredirect}}">

<!-- meta img -->
<meta property="og:image" content="{{sitedata.cover|striptags}}" />
<meta property="og:image:url" content="{{sitedata.cover|striptags}}" />
<meta property="og:image:secure_url" content="{{sitedata.cover|striptags}}" />
<meta property="og:image:alt" content="{{sitedata.title|striptags}}" />

<!-- Global CSS -->
<link rel="stylesheet" href="{{sitedata.baseurl}}/themes/_assets/bootstrap.min.css">
<link rel="stylesheet" href="{{sitedata.baseurl}}/themes/_assets/icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="{{sitedata.baseurl}}/themes/_assets/cookies/cookiebanner.css">
<link rel="stylesheet" href="{{sitedata.baseurl}}/themes/_assets/global.css">

<!-- Theme CSS -->
<link rel="stylesheet" href="{{sitedata.baseurl}}/themes/{{sitedata.theme}}/assets/style.css">
<link rel="stylesheet" href="{{sitedata.baseurl}}/themes/{{sitedata.theme}}/assets/responsive.css">

<style>
  .color_primary,
  .color_primary a,
  .color_primary a:hover,
  .color_primary_hover:hover,
  .navbar-dark .navbar-nav .color_primary_hover.nav-link:hover {
    color: {{sitedata.color_primary}};
  }
  .colorbg_primary,
  .greeting_wrapper a:hover .colorbg_primary_hover,
  .btn.btn-primary {
    background-color: {{sitedata.color_primary}};
    border-color: {{sitedata.color_primary}};
  }

  .greeting_wrapper a:hover .colorbg_primary_hover {
    border-color: {{sitedata.color_secondary}};
  }

  .color_secondary,
  .color_secondary a,
  .color_secondary a:hover,
  .color_secondary_hover a:hover,
  a:hover,
  .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: {{sitedata.color_secondary}};
  }
  .colorbg_secondary,
  .btn.btn-primary:hover,
  .page_wrapper .car-content .inner:hover .btn,
  .car .car_link:hover .btn-primary,
  .bg-secondary-hover:hover {
    background-color: {{sitedata.color_secondary}};
    border-color: {{sitedata.color_secondary}};
  }
  .color_tertiary,
  .color_tertiary a,
  .color_tertiary a:hover,
  .btn.btn-primary{
    color: {{sitedata.color_tertiary}};
  }
  .colorbg_tertiary{
    background-color: {{sitedata.color_tertiary}};
  }

  .border_bg_primary {
    border: 1px solid {{sitedata.color_primary}};
  }

</style>
