  {% if path.type == 'homepage' %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "{{sitedata.title}}",
    "url": "{{sitedata.baseurl}}",
    "logo": "{{sitedata.logo}}"
  }
  </script>

{% elseif path.type == 'category' %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "{{sitedata.title}}",
    "url": "{{sitedata.baseurl}}",
    "logo": "{{sitedata.logo}}"
  }
  </script>

{% elseif path.type == 'article' %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Article",
    "headline": "{{ page.seo_description }}",
    "author": {
      "@type": "Organization",
      "name": "{{sitedata.title}}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{sitedata.title}}",
      "url": "{{sitedata.baseurl}}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{sitedata.logo}}"
      }
    },
    "datePublished": "{{page.changed}}"
  }
  </script>


{% elseif path.type == 'page' %}

  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Article",
    "headline": "{{ page.seo_description }}",
    "author": {
      "@type": "Organization",
      "name": "{{sitedata.title}}",
      "url": "{{sitedata.baseurl}}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{sitedata.title}}",
      "url": "{{sitedata.baseurl}}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{sitedata.logo}}"
      }
    },
    "datePublished": "{{page.changed}}"
  }
  </script>

{% endif %}
