<div class="container-fluid">
  <div class="row">
    <div class="col">

      <div class="main_img">
        <picture>
          <source type="image/webp" srcset="/themes/piusicuro/assets/piusicuro-visual.webp">
          <img src="/themes/piusicuro/assets/piusicuro-visual.jpg" alt="Più Sicuro Fidelitas">
        </picture>

        <!-- Top Block -->
        {% if sitedata.block_top %}
        <div class="global_blocks top_block">
          {{sitedata.block_top|raw}}
        </div>
        {% endif %}
        <div class="rec_bg_primary colorbg_primary" style="width:100%;height:10px;"></div>
      </div>

      <div id="vantaggi" class="colorbg_primary main_info">
        <div class="titles">
          <h3><span class="white">+</span> affidabile</h3>
          <h3><span class="white">+</span> facile</h3>
        </div>
        <div class="titles">
          <h3><span class="white">+</span> efficace</h3>
          <h3><span class="white">+</span> personalizzabile</h3>
        </div>

        <div class="infos_wrapper">
          <div class="infos">
            <div class="info_wrapper">
              <div class="icon">
                <img src="/themes/piusicuro/assets/icons/material-symbols_security.svg" alt="Più Sicuro">
              </div>
              <div class="txt">
                <p><strong>Progettato su misura</strong> per la tua casa, il tuo ufficio o la tua attività</p>
              </div>
            </div>
            <div class="info_wrapper">
              <div class="icon">
                <img src="/themes/piusicuro/assets/icons/solar_settings-bold.svg" alt="Più Sicuro">
              </div>
              <div class="txt">
                <p><strong>Installazione facile</strong>, senza fili né opere murarie</p>
              </div>
            </div>
            <div class="info_wrapper">
              <div class="icon">
                <img src="/themes/piusicuro/assets/icons/lucide_box.svg" alt="Più Sicuro">
              </div>
              <div class="txt">
                <p><strong>Il kit acquistato sarà di tua proprietà</strong></p>
              </div>
            </div>
            <div class="info_wrapper">
              <div class="icon">
                <img src="/themes/piusicuro/assets/icons/healthicons_security-worker.svg" alt="Più Sicuro">
              </div>
              <div class="txt">
                <p><strong>Possibilità di collegamento H24</strong> alla Centrale Operativa Fidelitas e, in caso<br>di allarme, <strong>pronto intervento</strong> delle Guardie Giurate Fidelitas</p>
              </div>
            </div>
            <div class="info_wrapper">
              <div class="icon">
                <img src="/themes/piusicuro/assets/icons/material-symbols_security-update-good.svg" alt="Più Sicuro">
              </div>
              <div class="txt">
                <p><strong>App Mobile</strong> per gestire e visualizzare gli stati dei dispositivi</p>
              </div>
            </div>
          </div>
          <div class="blue_button colorbg_secondary">
            <a class="color_white" href="#contattaci">APPROFITTA DEI VANTAGGI<br>RICHIEDI IL TUO PREVENTIVO</a>
          </div>
        </div>
      </div>

      <div id="starter-kit" class="grid_wrapper">
        <div class="container">

          <div class="titles">
            <h5 class="color_primary">Starter Kit AJAX | Garanzia Fidelitas</h5>
            <h4 class="title_section color_secondary">Cosa comprende il Kit</h4>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4 grid-item">
              <div class="product-wrapper border_bg_primary">
                <div class="cover-image-wrapper">
                  <div class="cover-image">
                    <img class="back" src="/themes/piusicuro/assets/grid/hub2-pic.jpg" alt="Più sicuro - Fidelitas">
                    <img class="front" src="/themes/piusicuro/assets/grid/hub2.jpg" alt="Più sicuro - Fidelitas">
                  </div>
                </div>
                <div class="txt">
                  <div class="product-title">
                    <h3>Hub 2 (4G)</h3>
                    <p>La centralina <strong>controlla tutti i dispositivi di sicurezza</strong>. Quando i rilevatori identificano una minaccia, informano prontamente l’utente tramite APP e, se previsto, la Centrale Operativa Fidelitas.</p>
                  </div>
                  <div class="tags">
                    <div class="info_wrapper">
                      <div class="icon">
                        <img src="/themes/piusicuro/assets/icons/material-symbols_security.svg" alt="Più Sicuro">
                      </div>
                      <div class="txt">
                        <p>Resistente al sabotaggio</p>
                      </div>
                    </div>
                    <div class="info_wrapper">
                      <div class="icon">
                        <img src="/themes/piusicuro/assets/icons/gridicons_time.svg" alt="Più Sicuro">
                      </div>
                      <div class="txt">
                        <p>15H di autonomia in caso di interruzione di corrente</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 grid-item">
              <div class="product-wrapper border_bg_primary">
                <div class="cover-image-wrapper">
                  <div class="cover-image">
                    <img class="plus" src="/themes/piusicuro/assets/grid/plus.png" alt="Più sicuro - Fidelitas">
                    <img class="back" src="/themes/piusicuro/assets/grid/door-protect-pic.jpg" alt="Più sicuro - Fidelitas">
                    <img class="front" src="/themes/piusicuro/assets/grid/door-protect.jpg" alt="Più sicuro - Fidelitas">
                  </div>
                </div>
                <div class="txt">
                  <div class="product-title">
                    <h3>Door Protect Plus</h3>
                    <p>La prima linea di difesa, che reagisce all’apertura istantaneamente. L’accelerometro <strong>registra variazioni dell’angolo di inclinazione verticale, urti e vibrazioni</strong> e invia un allarme all’hub.</p>
                  </div>
                  <div class="tags">
                    <div class="info_wrapper">
                      <div class="icon">
                        <img src="/themes/piusicuro/assets/icons/fluent_top-speed-20-filled.svg" alt="Più Sicuro">
                      </div>
                      <div class="txt">
                        <p>Reagisce istantaneamente</p>
                      </div>
                    </div>
                    <div class="info_wrapper">
                      <div class="icon">
                        <img src="/themes/piusicuro/assets/icons/mdi_air-filter.svg" alt="Più Sicuro">
                      </div>
                      <div class="txt">
                        <p>Protegge anche le finestre lasciate aperte per far circolare l’aria</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 grid-item">
              <div class="product-wrapper border_bg_primary">
                <div class="cover-image-wrapper">
                  <div class="cover-image">
                    <img class="plus" src="/themes/piusicuro/assets/grid/plus.png" alt="Più sicuro - Fidelitas">
                    <img class="back" src="/themes/piusicuro/assets/grid/motion-cam-pic.jpg" alt="Più sicuro - Fidelitas">
                    <img class="front" src="/themes/piusicuro/assets/grid/motion-cam.jpg" alt="Più sicuro - Fidelitas">
                  </div>
                </div>
                <div class="txt">
                  <div class="product-title">
                    <h3>Motion Cam</h3>
                    <p>Il rilevatore di movimento wireless che <strong>mostra la reale situazione</strong> ancora prima che i ladri si accorgano di essere stati scoperti. Una <strong>serie animata di foto</strong> segue all’istante l’allarme.</p>
                  </div>
                  <div class="tags">
                    <div class="info_wrapper">
                      <div class="icon">
                        <img src="/themes/piusicuro/assets/icons/material-symbols_security.svg" alt="Più Sicuro">
                      </div>
                      <div class="txt">
                        <p>Riconosce gli animali domestici*</p>
                      </div>
                    </div>
                    <div class="info_wrapper">
                      <div class="icon">
                        <img src="/themes/piusicuro/assets/icons/gridicons_time.svg" alt="Più Sicuro">
                      </div>
                      <div class="txt">
                        <p>Supporta la funzione Foto per allarme</p>
                      </div>
                    </div>
                    <div class="explanation">
                      <p>*fino a 20 kg e 50 cm.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 grid-item">
              <div class="product-wrapper border_bg_primary">
                <div class="cover-image-wrapper">
                  <div class="cover-image">
                    <img class="plus" src="/themes/piusicuro/assets/grid/plus.png" alt="Più sicuro - Fidelitas">
                    <img class="back" src="/themes/piusicuro/assets/grid/space-control-pic.jpg" alt="Più sicuro - Fidelitas">
                    <img class="front" src="/themes/piusicuro/assets/grid/space-control.jpg" alt="Più sicuro - Fidelitas">
                  </div>
                </div>
                <div class="txt">
                  <div class="product-title">
                    <h3>Space Control</h3>
                    <p><strong>Telecomando wireless</strong> bidirezionale, con pulsante antipanico. Facile da utilizzare e <strong>pronto all’uso</strong>.</p>
                  </div>
                  <div class="tags">
                    <div class="info_wrapper">
                      <div class="icon">
                        <img src="/themes/piusicuro/assets/icons/material-symbols_detector-alarm-rounded.svg" alt="Più Sicuro">
                      </div>
                      <div class="txt">
                        <p>Dotato di pulsante antipanico</p>
                      </div>
                    </div>
                    <div class="info_wrapper">
                      <div class="icon">
                        <img src="/themes/piusicuro/assets/icons/mdi_clock-fast.svg" alt="Più Sicuro">
                      </div>
                      <div class="txt">
                        <p>Pronto all’uso</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 grid-item">
              <div class="product-wrapper border_bg_primary">
                <div class="cover-image-wrapper">
                  <div class="cover-image">
                    <img class="plus" src="/themes/piusicuro/assets/grid/plus.png" alt="Più sicuro - Fidelitas">
                    <img class="back" src="/themes/piusicuro/assets/grid/app-mobile-pic.jpg" alt="Più sicuro - Fidelitas">
                    <img class="front" src="/themes/piusicuro/assets/grid/app-mobile.jpg" alt="Più sicuro - Fidelitas">
                  </div>
                </div>
                <div class="txt">
                  <div class="product-title">
                    <h3>App Mobile</h3>
                    <p>Garantisce un pieno controllo del sistema, l’utente può <strong>visualizzare gli stati dei dispositivi</strong>, ricevere <strong>notifiche istantanee</strong> e gestire gli <strong>scenari di automazione</strong>.</p>
                  </div>
                  <div class="tags">
                    <div class="info_wrapper">
                      <div class="icon">
                        <img src="/themes/piusicuro/assets/icons/material-symbols_smartphone.svg" alt="Più Sicuro">
                      </div>
                      <div class="txt">
                        <p>App Mobile moderna e intuitiva</p>
                      </div>
                    </div>
                    <div class="info_wrapper">
                      <div class="icon">
                        <img src="/themes/piusicuro/assets/icons/ant-design_control-outlined.svg" alt="Più Sicuro">
                      </div>
                      <div class="txt">
                        <p>Garantisce pieno controllo dei dispositivi</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 grid-item">
              <div class="product-wrapper border_bg_primary">
                <div class="cover-image-wrapper">
                  <div class="cover-image">
                    <img class="plus" src="/themes/piusicuro/assets/grid/logo-fidelitas.png" alt="Più sicuro - Fidelitas">
                    <img class="back" src="/themes/piusicuro/assets/grid/cartelli-dissuasori-pic.jpg" alt="Più sicuro - Fidelitas">
                    <img class="front" src="/themes/piusicuro/assets/grid/cartelli-dissuasori.jpg" alt="Più sicuro - Fidelitas">
                  </div>
                </div>
                <div class="txt">
                  <div class="product-title">
                    <h3>Cartelli dissuasori</h3>
                    <p><strong>Adesivi e cartelli marchiati Fidelitas</strong> da applicare all’esterno dell’immobile per indicare che lo stesso è protetto dal servizio di vigilanza.</p>
                  </div>
                  <div class="tags">
                    <div class="info_wrapper">
                      <div class="icon">
                        <img src="/themes/piusicuro/assets/icons/mdi_weather-heavy-rain.svg" alt="Più Sicuro">
                      </div>
                      <div class="txt">
                        <p>Resistenti per anni alle intemperie</p>
                      </div>
                    </div>
                    <div class="info_wrapper">
                      <div class="icon">
                        <img src="/themes/piusicuro/assets/icons/healthicons_stop.svg" alt="Più Sicuro">
                      </div>
                      <div class="txt">
                        <p>Applicazione per dissuadere i malitenzionati</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rec_bg_primary colorbg_primary" style="width:100%;height:10px;"></div>
      </div>

      <div class="parallax_img"></div>

      <div id="su-misura" class="accordion_section">
        <div class="container">

          <div class="titles">
            <h5 class="color_primary">Famiglie di accessori</h5>
            <h4 class="title_section color_secondary">Costruisci il sistema di sicurezza più adatto alle tue esigenze</h4>
          </div>
          <div class="row accessori_row">
            <div class="col-12 col-md-6">
              <img src="/themes/piusicuro/assets/kit-plus.jpg" alt="Più sicuro Fidelitas">
              <p class="text-center mb-5">Starter Kit AJAX</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-12 col-md-4">

              <p><strong>Scopri le nostre famiglie di accessori!</strong></p>

              <!-- Buttons trigger modals -->
              <button type="button" class="btn_open_modal border_bg_primary btn" data-bs-toggle="modal" data-bs-target="#protezioneInterna">
                <div class="icon"><img src="/themes/piusicuro/assets/icons/microplus.png" alt="Più sicuro Fidelitas"></div>Protezione Interna
              </button>
              <button type="button" class="btn_open_modal border_bg_primary btn" data-bs-toggle="modal" data-bs-target="#protezioneEsterna">
                <div class="icon"><img src="/themes/piusicuro/assets/icons/microplus.png" alt="Più sicuro Fidelitas"></div>Protezione Esterna
              </button>
              <button type="button" class="btn_open_modal border_bg_primary btn" data-bs-toggle="modal" data-bs-target="#controlli">
                <div class="icon"><img src="/themes/piusicuro/assets/icons/microplus.png" alt="Più sicuro Fidelitas"></div>Controlli
              </button>
              <button type="button" class="btn_open_modal border_bg_primary btn" data-bs-toggle="modal" data-bs-target="#sirene">
                <div class="icon"><img src="/themes/piusicuro/assets/icons/microplus.png" alt="Più sicuro Fidelitas"></div>Sirene
              </button>
              <button type="button" class="btn_open_modal border_bg_primary btn" data-bs-toggle="modal" data-bs-target="#prevenzioneIncendi">
                <div class="icon"><img src="/themes/piusicuro/assets/icons/microplus.png" alt="Più sicuro Fidelitas"></div>Prevenzione Incendi
              </button>
              <button type="button" class="btn_open_modal border_bg_primary btn" data-bs-toggle="modal" data-bs-target="#rilevamentoAllagamenti">
                <div class="icon"><img src="/themes/piusicuro/assets/icons/microplus.png" alt="Più sicuro Fidelitas"></div>Rilevamento Allagamenti
              </button>

              <!-- Modal Protezione Interna -->
              <div class="accessorio-modal modal fade" id="protezioneInterna" tabindex="-1" aria-labelledby="protezioneInternaLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2 class="modal-title fs-5" id="protezioneInternaLabel">Protezione Interna</h2>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-12 col-md-6 col-xl-3">
                          <div class="inner">
                            <div class="accessorio-cover">
                              <img src="https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-01/motion-protect-curtain.jpg" alt="MotionProtect Curtain | Più Sicuro">
                            </div>
                            <h5>MotionProtect Curtain</h5>
                            <p>Rilevatore di movimento a tenda wireless per interni.</p>
                          </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3">
                          <div class="inner">
                            <div class="accessorio-cover">
                              <img src="https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-01/glass-protect.png" alt="GlassProtect | Più Sicuro">
                            </div>
                            <h5>GlassProtect</h5>
                            <p>Rilevatore di rottura vetri wireless.</p>
                          </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3">
                          <div class="inner">
                            <div class="accessorio-cover">
                              <img src="https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-01/combi-protect.png" alt="CombiProtect | Più Sicuro">
                            </div>
                            <h5>CombiProtect</h5>
                            <p>Rilevatore di movimento e rottura vetri wireless, ignora gli animali domestici.</p>
                          </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3">
                          <div class="inner">
                            <div class="accessorio-cover">
                              <img src="https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-01/motion-protect-outdoor.png" alt="MotionProtect | Più Sicuro">
                            </div>
                            <h5>MotionProtect</h5>
                            <p>Rilevatore di movimento wireless, ignora gli animali domestici.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn colorbg_primary" data-bs-dismiss="modal">Chiudi</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal Protezione Esterna -->
              <div class="accessorio-modal modal fade" id="protezioneEsterna" tabindex="-1" aria-labelledby="protezioneEsternaLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2 class="modal-title fs-5" id="protezioneEsternaLabel">Protezione Esterna</h2>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-12 col-md-6">
                          <div class="inner">
                            <div class="accessorio-cover">
                              <img src="https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-01/dual-curtain-outdoor.png" alt="DualCurtain Outdoor| Più Sicuro">
                            </div>
                            <h5>DualCurtain Outdoor</h5>
                            <p>Rilevatore di movimento wireless da esterno a tenda.</p>
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="inner">
                            <div class="accessorio-cover">
                              <img src="https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-01/motion-cam-outdoor.jpg" alt="MotionCam Outdoor | Più Sicuro">
                            </div>
                            <h5>MotionCam Outdoor</h5>
                            <p>Rilevatore di movimento wireless da esterno con una fotocamera per la verifica degli allarmi.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn colorbg_primary" data-bs-dismiss="modal">Chiudi</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal Controlli -->
              <div class="accessorio-modal modal fade" id="controlli" tabindex="-1" aria-labelledby="controlliLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2 class="modal-title fs-5" id="controlliLabel">Controlli</h2>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-12 col-md-6">
                          <div class="inner">
                            <div class="accessorio-cover">
                              <img src="https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-01/keypad.png" alt="KeyPad | Più Sicuro">
                            </div>
                            <h5>KeyPad</h5>
                            <p>Tastiera wireless.</p>
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="inner">
                            <div class="accessorio-cover">
                              <img src="https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-01/button.png" alt="Button | Più Sicuro">
                            </div>
                            <h5>Button</h5>
                            <p>Pulsante antipanico o per il controllo degliscenari.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn colorbg_primary" data-bs-dismiss="modal">Chiudi</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal Sirene -->
              <div class="accessorio-modal modal fade" id="sirene" tabindex="-1" aria-labelledby="sireneLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2 class="modal-title fs-5" id="sireneLabel">Sirene</h2>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-12 col-md-6">
                          <div class="inner">
                            <div class="accessorio-cover">
                              <img src="https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-01/home-siren.png" alt="HomeSiren | Più Sicuro">
                            </div>
                            <h5>HomeSiren</h5>
                            <p>Sirena wireless per interni.</p>
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="inner">
                            <div class="accessorio-cover">
                              <img src="https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-01/Street-Siren.png" alt="StreetSiren Double Deck | Più Sicuro">
                            </div>
                            <h5>StreetSiren Double Deck</h5>
                            <p>Sirena wireless per esterni con pannello frontale personalizzato Fidelitas.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn colorbg_primary" data-bs-dismiss="modal">Chiudi</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal Prevenzione Incendi-->
              <div class="accessorio-modal modal fade" id="prevenzioneIncendi" tabindex="-1" aria-labelledby="prevenzioneIncendiLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2 class="modal-title fs-5" id="prevenzioneIncendiLabel">Prevenzione Incendi</h2>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-12">
                          <div class="accessorio-cover">
                            <img src="https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-01/fire-protect.png" alt="FireProtect | Più Sicuro">
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="inner">
                            <h5>FireProtect</h5>
                            <p>Rilavatore wireless di fumo con sensore di temperatura, sirena integrata.</p>
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="inner">
                            <h5>FireProtect Plus</h5>
                            <p>Rilevatore wireless di fumo, con sensore di temperatura e monossido di carbonio, sirena integrata.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn colorbg_primary" data-bs-dismiss="modal">Chiudi</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal Rilevamento Allagamenti  -->
              <div class="accessorio-modal modal fade" id="rilevamentoAllagamenti" tabindex="-1" aria-labelledby="rilevamentoAllagamentiLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2 class="modal-title fs-5" id="rilevamentoAllagamentiLabel">Rilevamento Allagamenti</h2>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-12">
                          <div class="inner">
                            <div class="accessorio-cover">
                              <img src="https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2024-01/rilevamento-allagamenti.png" alt="LeaksProtect | Più Sicuro">
                            </div>
                            <h5>LeaksProtect</h5>
                            <p>Rilevatore di allagamento wireless.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn colorbg_primary" data-bs-dismiss="modal">Chiudi</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </div>

      <div class="security-box">
        <div class="container">

          <div class="accordion" id="accordionSoluzioneFidelitas">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSoluzioneFidelitas">
                <button class="accordion-button colorbg_primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSoluzioneFidelitas" aria-expanded="true" aria-controls="collapseSoluzioneFidelitas">
                  <div class="icon"><img src="/themes/piusicuro/assets/icons/white-microplus.png" alt="Più sicuro Fidelitas"></div>
                  <div class="title">Sicurezza Fidelitas</div>
                </button>
              </h2>
              <div id="collapseSoluzioneFidelitas" class="accordion-collapse collapse show" aria-labelledby="headingSoluzioneFidelitas" data-bs-parent="#accordionSoluzioneFidelitas">
                <div class="accordion-body">
                  <div class="titles">
                    <h5 class="color_primary">Qualità e Professionalità sempre al tuo fianco</h5>
                    <h4 class="title_section color_secondary">La soluzione Fidelitas per un servizio smart di sicurezza</h4>
                  </div>
                  <div class="soluzione-fidelitas">
                    <div class="item soluzione">
                      <img src="/themes/piusicuro/assets/icons/icona-impiantoallarme.svg" alt="Più sicuro Fidelitas">
                      <h5>Impianto di allarme</h5>
                      <p><strong>Impianto wireless professionale</strong><br>di ultima generazione</p>
                    </div>
                    <div class="item plus">
                      <img src="/themes/piusicuro/assets/icons/microplus.png" alt="Più sicuro Fidelitas">
                    </div>
                    <div class="item soluzione">
                      <img src="/themes/piusicuro/assets/icons/icona-centraleoperativa.svg" alt="Più sicuro Fidelitas">
                      <h5>Centrale operativa</h5>
                      <p><strong>Attiva 24/7, 365 giorni all’anno</strong><br>per la gestione degli allarmi da<br>parte di Guardie Giurate Fidelitas</p>
                    </div>
                    <div class="item plus">
                      <img src="/themes/piusicuro/assets/icons/microplus.png" alt="Più sicuro Fidelitas">
                    </div>
                    <div class="item soluzione">
                      <img src="/themes/piusicuro/assets/icons/icona-pattuglia.svg" alt="Più sicuro Fidelitas">
                      <h5>Pattuglie di Guardie Giurate Fidelitas</h5>
                      <p><strong>Presenti su tutto il territorio che<br>garantiscono</strong>, grazie alla capillarità con cui<br>sono dislocate, <strong>un rapido e tempestivo<br>intervento in caso di allarme.</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="offerta" class="comparison">
        <div class="container">

          <div class="titles">
            <h5 class="color_primary">La sicurezza per la tua casa e il tuo business</h5>
            <h4 class="title_section color_secondary">Scegli l’offerta più adatta a te</h4>
          </div>

          <div class="starter_kits_wrapper">
            <div class="kit starter_kit_ajax border_bg_primary">
              <div class="title_wrapper">
                <h3 class="title">Starter Kit AJAX</h3>
              </div>
              <div class="image-cover">
                <img src="https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-12/Kit_basic.jpg" alt="Più sicuro Fidelitas">
              </div>
              <div class="offer">
                <div class="price_wrapper">
                  <div class="description">
                    <p>TUO A SOLI<span class="yellow_rec"></span></p>
                  </div>
                  <div class="price">
                    499€
                  </div>
                </div>
                <div class="bullet-points">
                  <ul>
                    <li>Starter Kit AJAX</li>
                    <li>App Mobile</li>
                    <li class="nope">Cartelli dissuasori</li>
                    <li class="nope">Pronto intervento</li>
                    <li class="nope">Collegamento alla Centrale Operativa</li>
                    <li class="nope">Custodia chiavi</li>
                    <li class="nope">SIM inclusa</li>
                  </ul>
                  <small>Installazione non inclusa nel prezzo</small>
                </div>
              </div>
            </div>
            <div class="kit starter_kit_ajax_vigilanza border_bg_primary">
              <div class="title_wrapper">
                <h3 class="title">Starter Kit AJAX più<br>Servizi di Vigilanza</h3>
              </div>
              <div class="image-cover">

                <picture>
                  <source type="image/webp" srcset="/themes/piusicuro/assets/Kit_fidelitas.webp">
                  <img src="/themes/piusicuro/assets/Kit_fidelitas.jpg" alt="Più sicuro Fidelitas">
                </picture>


              </div>
              <div class="offer">
                <div class="price_wrapper">
                  <p>a partire da</p>
                  <div class="price">
                    299€
                  </div>
                  <div class="price-info">
                    + CANONE SERVIZIO VIGILANZA
                  </div>
                </div>
                <div class="bullet-points">
                  <ul>
                    <li>Starter Kit AJAX</li>
                    <li>App Mobile</li>
                    <li>Cartelli dissuasori</li>
                    <li>Pronto intervento</li>
                    <li>Collegamento alla Centrale Operativa</li>
                    <li>Custodia chiavi</li>
                    <li>SIM inclusa</li>
                  </ul>
                  <small>Installazione non inclusa nel prezzo</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel_wrapper color_primary">
        <div class="container">

          <div class="titles">
            <h5>Dispositivi dal design moderno appropriati ad ogni ambiente</h5>
          </div>
          <div class="container">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <picture>
                    <source type="image/webp" srcset="/themes/piusicuro/assets/slides/camera-letto.webp">
                    <img src="/themes/piusicuro/assets/slides/camera-letto.jpg" alt="Più sicuro Fidelitas">
                  </picture>

                </div>
                <div class="carousel-item">
                  <img src="/themes/piusicuro/assets/slides/portafinestra.jpg" alt="Più sicuro Fidelitas">
                </div>
                <div class="carousel-item">
                  <img src="/themes/piusicuro/assets/slides/esterno.jpg" alt="Più sicuro Fidelitas">
                </div>
                <div class="carousel-item">
                  <img src="/themes/piusicuro/assets/slides/guardaroba.jpg" alt="Più sicuro Fidelitas">
                </div>
                <div class="carousel-item">
                  <img src="/themes/piusicuro/assets/slides/salotto.jpg" alt="Più sicuro Fidelitas">
                </div>
                <div class="carousel-item">
                  <img src="/themes/piusicuro/assets/slides/cucina.jpg" alt="Più sicuro Fidelitas">
                </div>
                <div class="carousel-item">
                  <img src="/themes/piusicuro/assets/slides/ufficio.jpg" alt="Più sicuro Fidelitas">
                </div>
                <div class="carousel-item">
                  <img src="/themes/piusicuro/assets/slides/console.jpg" alt="Più sicuro Fidelitas">
                </div>
                <div class="carousel-item">
                  <img src="/themes/piusicuro/assets/slides/salotto2.jpg" alt="Più sicuro Fidelitas">
                </div>
                <div class="carousel-item">
                  <img src="/themes/piusicuro/assets/slides/app.jpg" alt="Più sicuro Fidelitas">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
        <div class="rec_bg_primary colorbg_primary" style="width:100%;height:10px;"></div>
      </div>

      <div id="contattaci" class="webform_wrapper colorbg_primary">
        <div class="container">

          <div class="row">
            <div class="col-12 col-md-8 col-left">
              <h5 class="color_white">Scegli la sicurezza</h5>
              <h4 class="title_section color_secondary">Richiedi il tuo preventivo gratuito</h4>
              <p>Compila il form, sarai ricontattato da un nostro operatore per avere maggiori informazioni sui dispositivi e sull’offerta più adatta alle tue esigenze.</p>
            </div>
            <div class="col-12 col-md-4 col-right">
              <div id="webformwrapper"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
