<div class="homepage">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="title site_name color_primary">
          <h1>{{sitedata.title}}</h1>
        </div>
      </div>
    </div>


    <!-- carosello -->

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          {% for article in articles|slice(0, 1) %}
          {{ include( themefolder ~ '/teasers/carousel_item.html') }}
          {% endfor %}
        </div>
          {% for article in articles|slice(1, 5) %}
          {{ include( themefolder ~ '/teasers/multiple_carousel_item.html') }}
          {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- fine carosello bootstrap 5 -->

    <div id="articlesbox">

      <div class="row">
        {% for article in articles|slice(6, 6) %}
        {{ include( themefolder ~ '/teasers/home_article.html') }}
        {% endfor %}
        {# /#articlesbox #}
      </div>

    </div>


  </div>

</div>
