<div class="page_article">
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="white_box">

          <div class="title colorbg_secondary text-center">
            <h1 class="uppercase">{{ path.content.title }}</h1>
            <div class="created">
              <p><em>{{ path.content.created|date("d/m/Y") }}</em></p>
            </div>
          </div>

          <div class="cover">
            <img class="img-fluid" src="{{ path.content.cover_url_original }}" alt="{{ path.content.cover_alt }}" />
          </div>
          <div class="description mt-5">
            {{ path.content.body|raw }}
          </div>
          <div class="links">
            <h4 class="color_secondary">LINK</h4>
            <ul class="">
              {% for link in path.content.links %}
              <li class="">
                {% autoescape false %}
                <a class="white_over" href="{{link.uri}}" target="_blank" rel="noopener">{{link.title}}</a>
                {% endautoescape %}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div id="other_articles" class="">
          <h4 class="color_secondary">Ti potrebbero interessare anche</h4>

          <!-- carosello -->

          <div id="page_article_carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-6">
                    {% for article in articles|slice(0, 1) %}
                    {{ include( themefolder ~ '/teasers/article_carousel_item.html') }}
                    {% endfor %}
                  </div>
                  <div class="col-6">
                    {% for article in articles|slice(1, 1) %}
                    {{ include( themefolder ~ '/teasers/article_carousel_item.html') }}
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-6">
                    {% for article in articles|slice(2, 1) %}
                    {{ include( themefolder ~ '/teasers/article_carousel_item.html') }}
                    {% endfor %}
                  </div>
                  <div class="col-6">
                    {% for article in articles|slice(3, 1) %}
                    {{ include( themefolder ~ '/teasers/article_carousel_item.html') }}
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-6">
                    {% for article in articles|slice(4, 1) %}
                    {{ include( themefolder ~ '/teasers/article_carousel_item.html') }}
                    {% endfor %}
                  </div>
                  <div class="col-6">
                    {% for article in articles|slice(5, 1) %}
                    {{ include( themefolder ~ '/teasers/article_carousel_item.html') }}
                    {% endfor %}
                  </div>
                </div>
              </div>

            </div>


          </div>

          <!-- fine carosello bootstrap 5 -->

        </div>
      </div>
    </div>


  </div>

</div>
