<div class="container">
  <div class="row">
      <div class="col">

        <div id="category-info" class="text-center">
          <h1 class="color_secondary">{{ path.content.title }}</h1>
          <p class="testo_secondary">{{ path.content.description|striptags }}</p>
        </div>

        <div id="category-group">
          <!-- <h2 class="color_primary display-4">{{ path.content.title }}</h2> -->
          <div class="category">

            <div class="row">

                <div class="col-md-4 col-lg-6 shadows">
                  <div class="">
                    {% for article in articles|slice(0, 1) %}
                    {{ include(themefolder ~ '/teasers/home_article.html') }}
                    {% endfor %}
                  </div>
                </div>

              <div class="col-sm-6 col-md-4 col-lg-3 shadows">
                    <div class="">
                        {% for article in articles|slice(1, 1) %}
                          {{ include( themefolder ~ '/teasers/home_article.html') }}
                          {% endfor %}
                      </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 shadows">
                      <div class="">
                          {% for article in articles|slice(2, 1) %}
                            {{ include( themefolder ~ '/teasers/home_article.html') }}
                            {% endfor %}
                        </div>
                  </div>

            </div>

            <div class="row colorbg_primary category_group">
              {% for article in articles|slice(3, 4) %}
              {{ include(themefolder ~ '/teasers/4column_article.html') }}
              {% endfor %}
            </div>

            <div class="row m-category">
              <div class="col-sm-6 col-md-4 col-lg-3 shadows ">
                <div class="">
                    {% for article in articles|slice(7, 1) %}
                      {{ include( themefolder ~ '/teasers/home_article.html') }}
                      {% endfor %}
                      {# /#articlesbox #}
                  </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 shadows">
                    <div class="">
                        {% for article in articles|slice(8, 1) %}
                          {{ include( themefolder ~ '/teasers/home_article.html') }}
                          {% endfor %}
                          {# /#articlesbox #}
                      </div>
                </div>

                <div class="col-md-4 col-lg-6 shadows">
                      <div class="">
                          {% for article in articles|slice(9, 1) %}
                            {{ include( themefolder ~ '/teasers/home_article.html') }}
                            {% endfor %}
                            {# /#articlesbox #}
                        </div>
                  </div>
            </div>

            <div class="row colorbg_primary category_group">
              {% for article in articles|slice(10, 4) %}
              {{ include(themefolder ~ '/teasers/4column_article.html') }}
              {% endfor %}
            </div>

            <div class="row m-category">
              <div class="col-md-4 col-lg-6 shadows">
                <div class="">
                {% for article in articles|slice(14, 1) %}
                {{ include(themefolder ~ '/teasers/home_article.html') }}
                {% endfor %}
                {# /#articlesbox #}
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 shadows">
                    <div class="">
                        {% for article in articles|slice(13, 1) %}
                          {{ include( themefolder ~ '/teasers/home_article.html') }}
                          {% endfor %}
                          {# /#articlesbox #}
                      </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 shadows">
                      <div class="">
                          {% for article in articles|slice(12, 1) %}
                            {{ include( themefolder ~ '/teasers/home_article.html') }}
                            {% endfor %}
                            {# /#articlesbox #}
                        </div>
                  </div>

            </div>




          </div>

        </div>

        <div id="about-us" class="text-center colorbg_primary banner-box">
          {{sitedata.body|raw }}
        </div>

        {% if sitedata.show_otherwebsites%}
        <div id="other-websites" class="col text-center  banner-box">
          <div class="color_secondary">
            <h4>I nostri siti web</h4>
          </div>
          {% for website in sitedata.network_websites %}
            <a href="{{website.url}}" target="_blank">
              <div class="other-website">
                <div class="cover">
                  <img src="{{website.logo}}" alt="{{website.title}}">
                </div>
                <div class="website-title">
                  {{website.title}}
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
        {% endif %}

      </div>
  </div>

</div>
