<div class="page_article">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10">
        <div id="white_box">
          <div class="cover">
            <img class="img-fluid" src="{{ path.content.cover_url_original }}" alt="{{ path.content.cover_alt }}" />
          </div>
          <div class="title_box">
            <div class="categories">
              {% for cat in path.content.categories %}
              {% autoescape false %}
              <div class="category-item color_secondary">
                <a href="{{cat.path}}">{{cat.title}}</a>
              </div>
              {% endautoescape %}
              {% endfor %}
            </div>
            <div class="title">
              <h1 class="my-4 titolo-article">{{ path.content.title }}</h1>
            </div>
            <div class="created">
              <p>{{ path.content.created|date("d/m/Y") }}</p>
            </div>
          </div>
          <div class=" m-auto description text-center">
            {{ path.content.body|raw }}
          </div>
          <div class="links text-center">
            <h4 class="color_secondary">LINK</h4>
            <ul>
              {% for link in path.content.links %}
              <li>
                {% autoescape false %}
                <a class="link-article colorbg_secondary text-white" href="{{link.uri}}" target="_blank" rel="noopener">{{link.title}}</a>
                {% endautoescape %}
              </li>
              {% endfor %}
            </ul>
          </div>

        </div>
        <div id="other_articles">
          <h4 class="color_secondary">Ti potrebbero interessare anche</h4>

          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">

                <div class="row article">
                  {% for article in articles|slice(0, 3) %}
                  {{ include(themefolder ~ '/teasers/3column_article.html') }}
                  {% endfor %}
                </div>

                <div class="row article">
                  {% for article in articles|slice(3, 3) %}
                  {{ include(themefolder ~ '/teasers/3column_article.html') }}
                  {% endfor %}
                </div>

                <div class="row article">
                  {% for article in articles|slice(6, 3) %}
                  {{ include(themefolder ~ '/teasers/3column_article.html') }}
                  {% endfor %}
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>

      <!-- DESTRA -->

      <div class="col-12 col-lg-2">
        <div class="last_article_column mt-3 colorbg_primary">
          <div class="card-header colorbg_secondary">
            <p class="my-auto text-white text-center articoli">Gli ultimi articoli</p>
          </div>
          <div class="row">
            {% for article in articles|slice(9, 6) %}
            {{ include( themefolder ~ '/teasers/last_articles_column.html') }}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div id="about-us" class="text-center colorbg_primary banner-box">
          {{sitedata.body|raw }}
        </div>
      </div>
    </div>

    {% if sitedata.show_otherwebsites%}
    <div id="other-websites" class="col text-center shadow banner-box">
      <div class="color_secondary">
        <h4>I nostri siti web</h4>
      </div>
      {% for website in sitedata.network_websites %}
      <a href="{{website.url}}" target="_blank">
        <div class="other-website">
          <div class="cover">
            <img src="{{website.logo}}" alt="{{website.title}}">
          </div>
          <div class="website-title">
            {{website.title}}
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    {% endif %}

  </div>

</div>
