<div class="container">
  <div class="row">
    <div class="col text-center">
      <div class="title site_name">
        <!-- <h1>{{sitedata.title}}</h1>    <!--TITOLO-->
      </div>


    </div>
  </div>

  <div id="articlesbox">
    <!-- <h2 class="color_primary display-4">Articoli</h2> -->
    <div class="container">

      <div id="home-welcome" class="text-center">
        <h1 class="color_secondary">{{ sitedata.title }}</h1>
        <p class="testo_secondary">{{sitedata.body|raw }}</p>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="mb-4">
            <div class="body">
              {% for article in articles|slice(0, 1) %}
              {{ include( themefolder ~ '/teasers/home_article.html') }}
              {% endfor %}
              {# /#articlesbox #}
            </div>
          </div>

          <div class="row home-row">

            <div class="col-sm-12 col-lg-4">
              <div class="article_wrapper">
                {% for article in articles|slice(1, 1) %}
                <div class="body">
                  {{ include( themefolder ~ '/teasers/home_article.html') }}
                  {% endfor %}
                  {# /#articlesbox #}
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4">
              <div class="article_wrapper">
                {% for article in articles|slice(2, 1) %}
                <div class="body">
                  {{ include( themefolder ~ '/teasers/home_article.html') }}
                  {% endfor %}
                  {# /#articlesbox #}
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4">
              <div class="article_wrapper">
                {% for article in articles|slice(3, 1) %}
                <div class="body">
                  {{ include( themefolder ~ '/teasers/home_article.html') }}
                  {% endfor %}
                  {# /#articlesbox #}
                </div>
              </div>
            </div>
          </div>


          <div class="row home-row">

            <div class="col-sm-12 col-lg-4">
              <div class="article_wrapper">
                {% for article in articles|slice(4, 1) %}
                <div class="body">
                  {{ include( themefolder ~ '/teasers/home_article.html') }}
                  {% endfor %}
                  {# /#articlesbox #}
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4">
              <div class="article_wrapper">
                {% for article in articles|slice(5, 1) %}
                <div class="body">
                  {{ include( themefolder ~ '/teasers/home_article.html') }}
                  {% endfor %}
                  {# /#articlesbox #}
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4">
              <div class="article_wrapper">
                {% for article in articles|slice(6, 1) %}
                <div class="body">
                  {{ include( themefolder ~ '/teasers/home_article.html') }}
                  {% endfor %}
                  {# /#articlesbox #}
                </div>
              </div>
            </div>

          </div>

          <div class="row home-row ">

            <div class="col-sm-12 col-lg-4">
              <div class="article_wrapper">
                {% for article in articles|slice(7, 1) %}
                <div class="body">
                  {{ include( themefolder ~ '/teasers/home_article.html') }}
                  {% endfor %}
                  {# /#articlesbox #}
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4">
              <div class="article_wrapper">
                {% for article in articles|slice(8, 1) %}
                <div class="body">
                  {{ include( themefolder ~ '/teasers/home_article.html') }}
                  {% endfor %}
                  {# /#articlesbox #}
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4">
              <div class="article_wrapper">
                {% for article in articles|slice(9, 1) %}
                <div class="body">
                  {{ include( themefolder ~ '/teasers/home_article.html') }}
                  {% endfor %}
                  {# /#articlesbox #}
                </div>
              </div>
            </div>

          </div>

        </div>

        <!-- DESTRA -->

        <div class="col-md-4 home-col-destra">
          <div class="mt-3">
            <div class="card-header bg-secondary">
              <p class="my-auto text-white text-center ">Gli ultimi articoli</p>
            </div>
            <div class="card-body bg-light bg-gradient">
              <div class="mb-4">
                {% for article in articles|slice(10, 1) %}
                <div class="">
                  {{ include( themefolder ~ '/teasers/home_article.html') }}
                  {% endfor %}
                  {# /#articlesbox #}
                </div>
              </div>

              <div class="mb-4">
                {% for article in articles|slice(11, 1) %}
                <div class="body">
                  {{ include( themefolder ~ '/teasers/home_article.html') }}
                  {% endfor %}
                  {# /#articlesbox #}
                </div>
              </div>

              <div class="mb-4">
                {% for article in articles|slice(12, 1) %}
                <div class="body">
                  {{ include( themefolder ~ '/teasers/home_article.html') }}
                  {% endfor %}
                  {# /#articlesbox #}
                </div>
              </div>

              <div class="mb-4">
                {% for article in articles|slice(13, 1) %}
                <div class="body">
                  {{ include( themefolder ~ '/teasers/home_article.html') }}
                  {% endfor %}
                  {# /#articlesbox #}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

{% if sitedata.show_otherwebsites%}
<div id="other-websites" class="col text-center shadow banner-box">
  <div class="color_secondary">
    <h4>I nostri siti web</h4>
  </div>
  {% for website in sitedata.network_websites %}
  <a href="{{website.url}}" target="_blank">
    <div class="other-website">
      <div class="cover">
        <img src="{{website.logo}}" alt="{{website.title}}">
      </div>
      <div class="website-title">
        {{website.title}}
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endif %}

</div>
