/* Responsive behaviour */



@media (max-width: 1600px) {
  .grid-item {
      width: 25%;
  }
}


@media (max-width: 1280px) {
  .grid-item {
      width: 33%;
  }
}

@media (max-width: 1024px) {
  .grid-item {
      width: 50%;
  }

  .navbar-brand{
    width: 100%;
    display: block;
  }
  #logowrpper img,
  #logowrpper h1{
    display: block;
  }

  #logowrpper img{
    width: 50%;
    margin: auto;
  }

  #logowrpper h1{
    font-size: 2.0rem;
    text-align: center;
    padding-top: 0.5rem;
  }

  .display-3 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .display-4 {
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 1.2;
  }
}


@media (max-width: 768px) {
  .navbar-dark .navbar-nav .nav-link {
    margin-left: 40px;
  }

  #about-us {
    padding: 15px;
  }
}

@media (max-width: 540px) {

  #logoimg{
    height: 90px;
    width: auto;
  }

  .grid-item {
      width: 100%;
  }

  #white_box {
    padding: 15px;
    padding-top: 0;
  }

  #category-info h1 {
    font-size: 2rem;
  }

  .cover-img{
    min-width: 450px;
    min-height: 200px;
  }
}

@media (max-width: 400px) {

  #logoimg{
    height: 80px;
    width: auto;
  }

  .cover-img{
    min-width: 300px;
    min-height: 200px;
  }
}


@media (max-width: 300px) {

  #logoimg{
    height: 70px;
    width: auto;
  }

  .cover-img{
    min-width: 270px;
    min-height: 180px;
  }
}
