body{
  font-size: 14px;
  max-width: 2000px;
  overflow-x: hidden;
  margin: 0 auto;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
}

/* NAVBAR */
nav {
  margin: 0 -15px;
}

#navbarNav {
  justify-content: flex-end;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000;
  text-transform: uppercase;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("black_burger.svg");
}

.category-nav-item {
  text-decoration: none;
  margin: 0 .5rem;
  text-transform: uppercase;
}

/* homepage */
.site_name {
  margin: 30px 0;
  text-transform: uppercase;
}


/* Articles Grid */
.shadow {
  -webkit-box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.25);
}

.article-item {
  margin: 15px 0;
}

.article-item .text-box {
  padding: 15px;
  background-color: #fff;
}

.category-item {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
}

.article-item .title {
  text-transform: uppercase;
  font-size: 20px;
}

.grid-item {
  width: 33%;
}

.grid-item_inner{
  margin: 1rem;
  padding: 1rem;
}

/* Header */
#header{

}

#logoimg{
  margin-right: 1rem;
}

#logowrpper img,
#logowrpper h1{
  display: inline-block;
}

/* CHI SIAMO / ABOUT US */
#about-us {
  padding: 30px 150px;
}

#about-us p {
  margin: 0;
}

#about-us h3 {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}

/* OTHER WEBSITES */
#other-websites {
  padding: 15px;
  margin-top: 60px;
}

#other-websites h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.other-website {
  display: inline-block;
  margin: 15px;
}

/**************************
CATEGORY
*************************/
/* category page */

#category-info {
  padding: 30px;
  margin: 30px 15px;
  background-color: #fff;
}

#category-info h1 {
  text-transform: uppercase;
  font-weight: bold;
}

/********************
ARTICLE
*********************/
/* article explosed */
#white_box {
  background-color: #fff;
  padding: 3rem;
  margin-top: 3rem;
}

#white_box .cover img {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
}

.title_box {
  text-align: center;
}

.title_box .title {
  text-transform: uppercase;
}

#white_box .links {
  margin-top: 90px;
}

#white_box .links h4 {
  margin-bottom: 15px;
}

#white_box .links ul {
  margin: 0;
  padding: 0;
}

#white_box .links li {
  list-style-type: none;
  margin-bottom: 1.5rem;
}

.page_article .category-item a {
  text-decoration: none;
}

#other_articles {
  margin: 90px 0;
}

#other_articles h4 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}


/* Footer */

.card,
.cover{
  margin-bottom: 1rem;
}

.card{
  padding: 0.5rem;
  border-radius: 0;
  color: #000;
}
.card-body {
    padding: 0.5rem;
}

.btn{
  border-radius: 0;
}


/*********************
PAGINA ARTICOLO ESPLOSO
*************************/

/* CUSTOM CLASS */
.inline-block {
  display: inline-block;
}

.heart {
  color: red;
}
