<div class="homepage">

  <div class="container">
    <div class="row carousel_row">
      <div id="overt_the_top_carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              {% for article in articles|slice(3, 4) %}
              {{ include( themefolder ~ '/teasers/carousel_item.html') }}
              {% endfor %}
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              {% for article in articles|slice(7, 4) %}
              {{ include( themefolder ~ '/teasers/carousel_item.html') }}
              {% endfor %}
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              {% for article in articles|slice(11, 4) %}
              {{ include( themefolder ~ '/teasers/carousel_item.html') }}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">

        <div class="title site_name">
          <h1>{{sitedata.title}}</h1>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-lg-8">
        <div id="articlesbox">
          <div class="row">
            {% for article in articles|slice(0, 3) %}
            {{ include( themefolder ~ '/teasers/home_article.html') }}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4">
        <div id="col-dx" class="inner colorbg_tertiary">
          <div id="about-us" class="banner-box col">
            <h3>Chi siamo / Mission</h3>
            <p>{{sitedata.body|raw }}</p>
          </div>

          <div id="most_seen_articles" class="col">
            <h3>Articoli più visti</h3>
            {% for article in articles|slice(3, 3) %}
            {{ include( themefolder ~ '/teasers/most_seen_articles.html') }}
            {% endfor %}
          </div>

          {% if sitedata.show_otherwebsites%}
          <div id="other-websites" class="col text-center shadow banner-box">
            <div class="color_secondary">
              <h4>I nostri siti web</h4>
            </div>
            {% for website in sitedata.network_websites %}
            <a href="{{website.url}}" target="_blank">
              <div class="other-website">
                <div class="cover">
                  <img src="{{website.logo}}" alt="{{website.title}}">
                </div>
                <div class="website-title">
                  {{website.title}}
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
          {% endif %}

        </div>

      </div>
    </div>


  </div>

</div>
