<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-sm-12 col-lg-8">
          <div id="category-info" class="text-center shadow my-4">
            <h1 class="color_secondary mb-0">{{ path.content.title }}</h1>
            <p class="mb-0">{{ path.content.description|striptags }}</p>
          </div>

          <div id="articlesbox">
            <div class="row">
              {% for article in path.articles|slice(0, 99) %}
              {{ include(themefolder ~ '/teasers/category_article.html') }}
              {% endfor %}
              {# /#articlesbox #}
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4">
          <div id="about-us" class="banner-box p-3">
            <h2>CHI SIAMO / MISSION</h2>
            {{sitedata.body|raw }}
          </div>
          {% if sitedata.show_otherwebsites%}
          <div id="other-websites" class="col text-center shadow banner-box">
            <div class="color_secondary">
              <h4>I nostri siti web</h4>
            </div>
            {% for website in sitedata.network_websites %}
            <a href="{{website.url}}" target="_blank">
              <div class="other-website">
                <div class="cover">
                  <img src="{{website.logo}}" alt="{{website.title}}">
                </div>
                <div class="website-title">
                  {{website.title}}
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
