/* Header */
header {
  position: sticky;
  top: 0;
  z-index: 99999;
}

/* Cookie banner */
#cookiebanner {
  background-color: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: none;
}

#cookiebanner_inner {
  padding: 0.5rem 1rem;
}

#cookiebanner_inner .btn-block {
  float: right;
  width: auto;
}

/* Lightbox */
.lb-dataContainer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.lb-data {
  padding: 5px 10px!important;
}

/* Messages */
#alertsbox {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10001;
}

/**************************
Webform
*************************/
.webform_form {}

.webform_form .form-group {
  margin-bottom: 1rem;
}

.webform_form label {
  font-weight: bold;
  margin-bottom: 0.35rem;
}

.webform_form label .required {
  color: #ee0000;
}

.webform_form .form-check label {
  font-weight: normal;
}
