<article>
  <div class="article-item">
    <div class="cover-img">
      <a href="{{sitedata.baseurl}}{{article.path}}"><img src="{{article.cover_url_original}}" class="d-block w-100" alt="..."></a>
    </div>
    <div class="text-box">
      <div class="title">
        <a href="{{sitedata.baseurl}}{{article.path}}" class="color_primary_hover">
          <strong>{{ article.title|length > 64 ? article.title|slice(0, 64)|raw ~ '...' : article.title|raw }}</strong>
        </a>
      </div>
      <div class="created">
        <p><em>pubblicato il {{ article.created|date("d/m/Y - h:i") }}</em></p>
      </div>
      <div class="description">
        <!-- <p>{{ article.body|length > 160 ? article.body|slice(0, 160)|raw ~ '...' : article.body|raw }}</p> -->
        <p>{{article.body|striptags|slice(0, 100)|raw ~ '...'}}</p>
      </div>
      <div class="category color_secondary">
        {% for cat in article.categories %}
        {% autoescape false %}
        <div class="category-item colorbg_primary">
          <a href="{{sitedata.baseurl}}{{cat.path}}">{{cat.title}}</a>
        </div>
        {% endautoescape %}
        {% endfor %}
      </div>
    </div>
  </div>
</article>
