<div class="article-item">
  <div class="cover-img">
    <a href="{{sitedata.baseurl}}{{article.path}}"><img src="{{article.cover_url_original}}" class="d-block w-100" alt="..."></a>
  </div>
  <div class="text-box text-center">

    <div class="title colorbg_secondary">
      <a href="{{sitedata.baseurl}}{{article.path}}">
        <strong>{{ article.title|length > 64 ? article.title|slice(0, 64)|raw ~ '...' : article.title|raw }}</strong>
      </a>
    </div>

    <a href="{{sitedata.baseurl}}{{article.path}}">
      <div class="read-more colorbg_primary color_secondary">
        LEGGI TUTTO
      </div>
    </a>


  </div>
</div>
