<footer id="footer" class="colorbg_primary">
  <div class="row text-center">
    <div class="col-12 cookie">
      {% if sitedata.url_cookie%}
      <a target="_blank" href="{{sitedata.url_cookie}}">Cookie Policy</a>
      {% endif %}
      <p class="inline-block"> | </p>
      {% if sitedata.url_cookie%}
      <a target="_blank" href="{{sitedata.url_privacy}}">Privacy Policy</a>
      {% endif %}
    </div>
    <div class="col-12">
      Made with <span class="heart">♥</span> by <strong><a href="https://emeraldcommunication.com" target="_blank">Emerald Communication ®{{ "now"|date("Y") }}</a></strong>
    </div>
  </div>
</footer>
