<header id="header">
  <nav class="navbar navbar-expand-lg navbar-dark colorbg_primary">
    <div class="container-fluid">

      <div id="logowrapper">
        <a class="navbar-brand color_primary" href="{{sitedata.baseurl}}/">
          <img id="logoimg" src="{{sitedata.logo}}" alt="{{sitedata.title}}">
          {#{{sitedata.title|raw}}#}
        </a>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse flex-column align-items-end" id="navbarNav">
        <ul class="navbar-nav mt-3">

          {% for page in pages %}
            {% set dropdownclass = ''%}
            {% set dropdownclassa = ''%}
            {% set nid = page.nid %}
            {% set has_parent = page.parent_page %}

            {% for page_child in pages %}
              {% set parent_nid = page_child.parent_page %}
              {% if nid == parent_nid %}
                {% set dropdownclass = 'dropdown' %}
                {% set dropdownclassa = 'dropdown-toggle' %}
              {% endif %}
            {% endfor %}

            {% if not has_parent %}
              <li class="nav-item {{dropdownclass}}">
                {% if dropdownclass == 'dropdown' %}
                <a class="nav-link dropdown-toggle fs-5" id="navbarDropdown{{nid}}" data-bs-toggle="dropdown" aria-expanded="false" href="#">{{page.title}}</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown{{nid}}">
                  <li>
                    <a class="nav-link" href="{{page.path}}">{{page.title}}</a></li>
                  {% for page_child in pages %}
                    {% set parent_nid = page_child.parent_page %}
                    {% if nid == parent_nid %}
                      <li><a class="nav-link" href="{{page_child.path}}">{{page_child.title}}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
                {% else %}
                <a class="nav-link fs-5" id="navbarDropdown{{nid}}" href="{{page.path}}">{{page.title}}</a>
                {% endif %}
              </li>
            {% else %}

            {% endif %}
          {% endfor %}
        </ul>

        <div class="d-block categories mt-3 mb-3">
          {% for term in terms %}
          <a class="nav-link bg-secondary-hover badge rounded-pill cat-{{term.title}}" href="{{sitedata.baseurl}}/{{term.path|raw}}">{{term.title}}</a>
          {% endfor %}
        </div>

      </div>

    </div>

  </nav>

</header>
