  <div class="col-12 col-sm-4 col-lg-12 col_article">
    <div class="card-article">
    <article>
      <div class="article-item">
        <div class="cover-img">
          <a href="{{sitedata.baseurl}}{{article.path}}"><img src="{{article.cover_url_original}}" class="d-block w-100" alt="..."></a>
        </div>
        <div class="text-box">
          <div class="category color_secondary">
            {% for cat in article.categories %}
            {% autoescape false %}
            <div class="category-item">
              <a href="{{sitedata.baseurl}}{{cat.path}}">{{cat.title}}</a>
            </div>
            {% endautoescape %}
            {% endfor %}
          </div>
          <h3 class="title">
            <a href="{{sitedata.baseurl}}{{article.path}}" class="color_primary color_secondary_hover">
              <strong>{{ article.title|length > 64 ? article.title|slice(0, 64)|raw ~ '...' : article.title|raw }}</strong>
            </a>
          </h3>
          <div class="created">
            <p>{{ article.created|date("d/m/Y") }}</p>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
