/* Responsive behaviour */
@media (min-width: 992px) {
  .navbar-expand-lg {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
  }

  ul.navbar-nav {
    position: relative;
    width: 100%;
  }

  ul.navbar-nav .last {
    position: absolute;
    right: 0;
    top: auto;
  }

  ul.navbar-nav .last .nav-link {
    font-weight: bold;
    padding: 10px 17.72px 10px 18px;
    border: 2px solid #FDCA00;
    background: #FDCA00;
  }

  ul.navbar-nav .last .nav-link:hover {
    border: 2px solid #FDCA00;
    background: #fff;
    color: #000;
  }

  .top_block .main_title h2,
  .top_block .main_title h3 {
    max-width: 40%;
  }

  .security-box .titles {
    display: inline-block;
    max-width: 70%;
  }

  .webform_wrapper .col-left {
    padding-right: 15vw;
  }

  .accordion_section .titles {
    max-width: 70%;
  }

  .parallax_img {
    background-attachment: fixed;
  }

  /* NIKO */
  .top_block .main_title h3 {
    margin-bottom: 20px;
  }

  .carousel_wrapper .color_primary .container h5 {
    font-size: 2rem;
    background-color: green;
  }
}

@media (min-width: 1200px) {
  .navbar-dark .navbar-nav .nav-link {
    margin-right: 4rem;
  }
}

@media (min-width: 1920px) {

  body,
  #cookieBanner {
    max-width: 1920px;
    margin: auto;
  }
}

@media (max-width: 1600px) {

  .top_block .main_title h2,
  .top_block .main_title h3 {
    max-width: 45%;
  }

  .top_block .main_title h3 {
    font-size: 1.7rem;
  }

  .main_info .titles {
    font-size: 15px;
  }

  .main_info .titles h3 {
    font-size: 3.2rem;
    line-height: 2.8rem;
  }

  .btn_open_modal,
  .accordion_section .accordion-button .title {
    font-size: 1.7rem;
  }
}

@media (max-width: 1280px) {
  .grid-item {
    width: 33%;
  }

  .top_block .main_title h3 {
    font-size: 1.5rem;
  }

  .top_block .main_title .btn.btn-primary {
    font-size: 1.3rem;
  }

  .top_block .main_title h2,
  .top_block .main_title h3 {
    max-width: 50%;
  }

  #vantaggi .info_wrapper {
    font-size: 1.2rem;
  }

  .infos_wrapper a.color_white {
    font-size: 1.2rem;
  }

  .grid_wrapper .product-wrapper .product-title h3 {
    font-size: 1.5rem;
  }

  .grid_wrapper .product-wrapper .product-title p {
    font-size: 1.1rem;
  }

  .info_wrapper {
    font-size: 1.1rem;
  }

  .color_primary {
    font-size: 1.5rem;
  }

  .grid_wrapper h4, .accordion_section h4, h4.title_section {
    font-size: 2.4rem;
  }

  .btn_open_modal,
  .accordion_section .accordion-button .title {
    font-size: 1.2rem;
  }

  .accordion-body .border_bg_primary {
    font-size: 1rem;
  }

  .security-box .title {
    font-size: 1.5rem;
  }

  .webform_wrapper {
    padding: 50px 50px;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 1rem;
  }

  ul.navbar-nav .nav-link {
    padding: 8px 20px;
  }

  .parallax_img {
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 1199px) {
  .infos_wrapper {
    align-items: flex-start;
    flex-direction: column;
  }

  .infos_wrapper .infos {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 1024px) {
  .grid-item {
    width: 50%;
  }

  .navbar-brand {
    width: 100%;
    display: block;
  }

  #logowrpper img,
  #logowrpper h1 {
    display: block;
  }

  #logowrpper img {
    width: 50%;
    margin: auto;
  }

  #logowrpper h1 {
    font-size: 2.0rem;
    text-align: center;
    padding-top: 0.5rem;
  }

  .display-3 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .display-4 {
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 1.2;
  }

  /* NIKO */
  .top_block .main_title h2,
  .top_block .main_title h3 {
    max-width: 65%;
  }

  .top_block .main_title h2 {
    font-size: 3.5rem;
    line-height: 3rem;
  }

  .top_block .main_title h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .top_block .main_title .btn.btn-primary {
    font-size: 1.1rem;
  }
}

@media (max-width: 991px) {
  .infos .info_wrapper p {
    font-size: 1.2rem;
  }

  .main_info .titles h3 {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }

  .infos_wrapper a.color_white {
    font-size: 1rem;
  }

  #footer ul.navbar-nav {
    margin: 0 auto;
  }

  #footer {
    padding: 40px 30px;
  }
}

@media (max-width: 767px) {
  .navbar-dark .navbar-nav .nav-link {
    margin-left: 40px;
  }

  #about-us {
    padding: 15px;
  }

  /* NIKO CAMBIO */
  .top_block .main_title h2,
  .top_block .main_title h3 {
    max-width: 60%;
    font-size: 2.5rem;
  }

  .top_block .main_title h2 {
    line-height: 2rem;
  }

  .top_block .main_title h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .top_block .main_title .btn.btn-primary {
    font-size: 1.1rem;
  }

  .infos .info_wrapper p {
    font-size: 1.1rem;
  }

  .main_info .titles h3 {
    font-size: 2.3rem;
    line-height: 2.1rem;
  }

  .main_info h3 {
    font-size: 1.5rem;
    line-height: 1rem;
  }

  .infos_wrapper a.color_white {
    font-size: 1rem;
  }

  ul {
    margin-top: 20px;
  }

  .soluzione-fidelitas .item p {
    font-size: 1.1rem;
  }

  .grid_wrapper h4, .accordion_section h4, h4.title_section {
    font-size: 2.2rem;
    line-height: 35px;
  }

  .security-box .accordion-body {
    padding: 30px 15px;
  }

  .container h5 {
    font-size: 1.5rem;
  }

  .ownership {
    margin-right: 20px;
  }

  .modal-footer button.btn.colorbg_primary {
    margin-right: 4rem;
  }

  @media (max-width: 667px) {

    .top_block .main_title h2,
    .top_block .main_title h3 {
      max-width: 65%;
      margin-bottom: 10px;
    }

    .top_block .main_title h2 {
      line-height: 1.8rem;
      font-size: 2.5rem;
    }

    .top_block .main_title h3 {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    .top_block .main_title .btn.btn-primary {
      font-size: 0.8rem;
    }

    .infos .info_wrapper p {
      font-size: 1rem;
    }

    .main_info .titles h3 {
      font-size: 1.6rem;
      line-height: 1.5rem;
    }

    .main_info h3 {
      font-size: 1.5rem;
      line-height: 1rem;
    }

    .infos_wrapper a.color_white {
      font-size: 0.8rem;
    }

    .infos_wrapper {
      display: block;
    }

    .blue_button {
      display: table;
      padding: 4px 1rem;
      font-weight: 600;
      margin: 0 auto;
      line-height: 20px;
      margin-top: 40px;
    }

    .grid_wrapper .product-wrapper .product-title h3 {
      font-size: 1.5rem;
    }

    .grid_wrapper .product-wrapper .product-title p {
      font-size: 1rem;
    }

    .info_wrapper {
      font-size: 1rem;
    }

    .color_primary {
      font-size: 1.5rem;
    }

    .btn_open_modal,
    .accordion_section .accordion-button .title {
      font-size: 1.2rem;
    }

    .accordion-body .border_bg_primary {
      font-size: 1rem;
    }

    .security-box .title {
      font-size: 1.5rem;
    }

    .webform_wrapper {
      padding: 50px 50px;
    }

    #footer {
      padding: 50px;
    }

    .navbar {
      display: block;
    }

    .soluzione-fidelitas .item h5 {
      font-size: 1.3rem;
    }

    .starter_kits_wrapper .kit .title {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 575px) {
    .top_block .main_title {
      padding: 0 0.5rem;
    }

    .top_block .main_title h2,
    .top_block .main_title h3 {
      max-width: 100%;
      margin: 1rem 0;
    }

    .soluzione-fidelitas,
    .starter_kits_wrapper {
      flex-direction: column;
    }

    .soluzione-fidelitas .item p {
      margin: 0;
    }

    .soluzione-fidelitas>div,
    .starter_kits_wrapper .kit {
      margin: 1rem 0;
    }
  }

  @media (max-width: 540px) {
    .grid-item {
      width: 100%;
    }

    #white_box {
      padding: 15px;
      padding-top: 0;
    }

    #category-info h1 {
      font-size: 2rem;
    }

    .cover-img {
      min-width: 450px;
      min-height: 200px;
    }

    /* NIKO */
    .top_block .main_title h2 {
      font-size: 2.6rem;
      line-height: 2rem;
    }

    .top_block .main_title .btn.btn-primary {
      font-size: 0.8rem;
    }

    .rec_bg_primary {
      position: absolute;
      left: 0;
      bottom: -3.5rem;
    }

    .top_block {
      position: inherit;
      top: auto;
      text-align: center;
      margin-bottom: 70px;
      left: auto;
    }

    .main_info .titles {
      display: block;
    }

    .comparison {
      padding: 50px 15px;
    }

    .starter_kits_wrapper .kit ul {
      padding-left: 0;
      font-size: 1rem;
      padding-top: 20px;
    }

    .starter_kits_wrapper small {
      padding-left: 0;
      font-size: 12px;
    }

    .top_block .main_title .btn.btn-primary {
      font-size: 0.7rem;
    }

    #logoimg {
      height: 70px;
      width: auto;
    }

    .titles {
      padding: .5rem;
    }

    .main_info {
      padding: 3rem 4rem;
    }

    #starter-kit .rec_bg_primary {
      bottom: 15px;
    }

    .grid_wrapper, .accordion_section {
      padding-right: 0;
    }

    #footer ul.navbar-nav .nav-link {
      font-size: 1rem;
      padding: 0;
    }
  }

  @media (max-width: 400px) {
    .cover-img {
      min-width: 300px;
      min-height: 200px;
      border: 2px solid red;
    }

    .main_info {
      padding: 3rem 2rem;
    }

    .top_block .main_title h2 {
      font-size: 2rem;
      text-shadow: 0 0 1px #000;
    }

    #logoimg {
      height: 52px;
    }

    .accordion_section {
      padding: 30px;
    }

    .container h5 {
      font-size: 1.3rem;
    }

    .grid_wrapper h4, .accordion_section h4, h4.title_section {
      font-size: 1.5rem;
    }

    .starter_kits_wrapper {
      display: block;
    }

    #footer .loghi {
      margin: 0;
    }

    #footer {
      padding: 30px;
    }

    #footer ul.navbar-nav {
      flex-direction: column;
      font-size: 1rem;
    }

    #footer .loghi img {
      height: 34px;
      margin-bottom: 0;
    }

    #footer .loghi p {
      margin: 0.5rem 2rem;
      font-size: 1rem;
    }

    .ownership-txt {
      font-size: 13px;
    }

    .ownership img {
      height: 23px;
    }

    .ownership {
      margin-right: 10px;
      margin-bottom: 20px;
    }

    .rec_bg_primary .colorbg_primary {
      bottom: -56px;
    }

    .webform_wrapper {
      padding: 50px 34px;
    }

    .soluzione-fidelitas {
      flex-direction: column;
    }
  }

  @media (max-width: 300px) {
    #logoimg {
      height: 70px;
      width: auto;
    }

    .cover-img {
      min-width: 270px;
      min-height: 180px;
    }
  }
