/***************************
  RESET
***********************/
.container-fluid,
.container,
.row,
.col,
.col-12 {
  --bs-gutter-x: 0;
}

body {
  margin: 0 auto;
  font-family: Titillium Web;
  color: #000;
  font-size: 1.1rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

span.white,
.color_white {
  color: #fff;
}

/* Header */
#header {
  background-color: #fff;
  box-shadow: 0px 6px 0px 0px rgba(217, 217, 217, 1);
  -webkit-box-shadow: 0px 6px 0px 0px rgba(217, 217, 217, 1);
  -moz-box-shadow: 0px 6px 0px 0px rgba(217, 217, 217, 1);
  z-index: 99;
}

#logoimg {
  margin-right: 1rem;
}

#logowrpper img,
#logowrpper h1 {
  display: inline-block;
}

/* global */
div {
  scroll-margin-top: 180px;
}

h5 {
  font-weight: 600;
  font-size: 2rem;
}

h4.title_section {
  font-weight: 700;
  font-size: 4rem;
}

/* NAVBAR */
.navbar-expand-lg {
  display: block;
}

.ownership {
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: flex-end;
}

.ownership-txt {
  margin-right: .5rem;
}

.ownership img {
  height: 30px;
}

#navbarNav {
  justify-content: flex-end;
}

.navbar-brand {
  margin-right: 4rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.navbar-dark .navbar-nav .last .nav-link {
  margin-right: 0;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("black_burger.svg");
}

/* homepage */
.main_img {
  position: relative;
}

.top_block {
  position: absolute;
  top: 60px;
  left: 60px;
}

.top_block .main_title h2 {
  color: #2E4C81;
  font-size: 4rem;
  font-weight: 700;
  text-shadow: 1px 1px 2px #000;
}

.top_block .main_title h3 {
  color: #000;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 60px;
}

.top_block .main_title .btn.btn-primary {
  border: 2px solid #FDCA00;
  background: #FDCA00;
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.rec_bg_primary {
  position: absolute;
  left: 0;
  bottom: 1rem;
}

.main_info {
  padding: 3rem 6rem;
}

.main_info .titles {
  display: flex;
  justify-content: center;
}

.main_info h3 {
  font-family: Kalam;
  font-weight: 700;
  font-size: 4rem;
  color: #0D4A83;
}

.main_info h3:first-child {
  margin-right: 1rem;
}

.infos_wrapper {
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.infos_wrapper .blue_button.colorbg_secondary:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.infos_wrapper a.color_white {
  font-size: 1.5rem;
}

.infos_wrapper a.color_white:hover {
  color: #000;
}

.info_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}

#vantaggi .info_wrapper {
  font-size: 1.5rem;
}

.info_wrapper p {
  margin: 0;
  margin-left: .5rem;
}

.blue_button {
  display: inline-block;
  padding: 0 0.5rem;
  font-weight: 700;
}

.grid_wrapper,
.accordion_section {
  position: relative;
  padding: 60px 0;
}

.grid_wrapper h4,
.accordion_section h4 {
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.grid_wrapper .grid-item {
  margin-bottom: 1rem;
  padding: 0 .5rem;
}

.grid_wrapper .product-wrapper {
  border-width: 2px;
  border-style: solid;
  padding: 1rem;
  align-items: stretch;
  height: 100%;
}

.grid_wrapper .product-wrapper .cover-image {
  position: relative;
  margin-bottom: 1rem;
}

.grid_wrapper .product-wrapper .cover-image .front,
.grid_wrapper .product-wrapper .cover-image .plus {
  position: absolute;
  top: 0;
  left: 0;
  transition: all linear 0.5s;
}

.grid_wrapper .product-wrapper .cover-image .plus {
  z-index: 1;
  max-width: 100px;
}

.grid_wrapper .product-wrapper .cover-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid_wrapper .product-wrapper .cover-image:hover .front {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.grid_wrapper .product-wrapper .product-title h3 {
  font-weight: 600;
  font-size: 2rem;
}

.explanation {
  margin-top: 1rem;
  font-size: .8rem;
}

.parallax_img {
  background-image: url('/themes/piusicuro/assets/hub2-plus.jpg');
  min-height: 50vh;
}

.accordion_section .accordion-button {
  display: flex;
  align-items: center;
}

.accordion_section .accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
}

.accordion_section .accordion-button[aria-expanded="true"] {
  border-bottom: 0;
}

.accordion_section .accordion-collapse.show,
.accordion_section .accordion-collapse.show .accordion-body {
  border-top: 0;
}

.accordion_section .accordion-button .icon,
.security-box .accordion-button .icon,
.btn_open_modal .icon {
  margin-right: .5rem;
}

.btn_open_modal .icon {
  display: inline-block;
}

.btn_open_modal,
.accordion_section .accordion-button .title {
  color: #000;
  font-weight: 600;
  font-size: 2rem;
}

.btn_open_modal::after {
  display: inline-block;
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FDCA00'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform .2s ease-in-out;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FDCA00'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%232E4C81'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.security-box .title {
  color: #000;
  font-size: 2rem;
  font-weight: 600;
}

.security-box .accordion-body {
  background-color: #F4F4F4;
  padding: 30px 60px;
}

.security-box .accordion-button:not(.collapsed) {
  background-color: #FDCA00;
}

/*** MODAL x ACCESSORI *************************************************************************/
.accessori_row {
  align-items: center;
}

.btn_open_modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
}

.accessorio-modal {
  text-align: center;
}

.accessorio-modal .inner {
  padding: 0 .5rem;
}

.accessorio-cover {
  margin-bottom: .75rem;
}

.accessorio-modal img {
  max-height: 200px;
  width: auto;
}

.soluzione-fidelitas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
}

.soluzione-fidelitas .item {
  text-align: center;
}

.soluzione-fidelitas .item h5 {
  color: #0D4A83;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.comparison {
  padding: 60px 15px;
}

.comparison .titles {
  margin-bottom: 4rem;
}

.comparison h4 {
  font-weight: 700;
  font-size: 4rem;
}

.starter_kits_wrapper {
  display: flex;
  justify-content: center;
}

.starter_kits_wrapper .kit {
  margin: 0 .5rem;
  padding: 1rem;
}

.starter_kits_wrapper .kit .title {
  text-align: center;
  color: #2E4C81;
  text-align: center;
  font-weight: 700;
  font-size: 2.25rem;
  min-height: 90px;
}

.starter_kits_wrapper .kit .offer p,
.starter_kits_wrapper .kit .offer .price,
.starter_kits_wrapper .kit .offer .price-info {
  text-align: center;
  color: #2E4C81;
  font-weight: 700;
  margin: 0;
}

.starter_kits_wrapper .kit .offer .description {
  text-align: center;
}

.starter_kits_wrapper .kit.starter_kit_ajax p {
  position: relative;
  display: inline-block;
}

.starter_kits_wrapper .kit.starter_kit_ajax p::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 110%;
  transform: translateX(-5%);
  height: 50%;
  background-color: #FDCA00;
  z-index: -1;
}

.starter_kits_wrapper .kit.starter_kit_ajax_vigilanza p {
  color: #414042;
}

.starter_kits_wrapper .kit .offer .price_wrapper {
  height: 125px;
}

.starter_kits_wrapper .kit .offer .price {
  font-size: 4rem;
  line-height: 3rem;
  margin-bottom: .25rem;
}

.starter_kits_wrapper .kit ul {
  list-style-type: none;
}

.starter_kits_wrapper .kit ul li {
  display: flex;
}

.starter_kits_wrapper .kit ul li:before {
  content: url("/themes/piusicuro/assets/icons/check-green.svg");
  margin-right: .5rem;
}

.starter_kits_wrapper .kit ul li.nope:before {
  content: url("/themes/piusicuro/assets/icons/x-circle-fill.svg");
}

.starter_kits_wrapper small {
  padding-left: 2rem;
}

.carousel_wrapper {
  position: relative;
  padding-bottom: 60px;
}

.carousel_wrapper>h5 {
  margin-bottom: 2rem;
}

.carousel-item {
  text-align: center;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FDCA00'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FDCA00'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

/************* FORM *********/
.form-item.form-group.customer_note {
  display: none;
}

.webform_wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

#webformwrapper .customer_type .selectwrapper {
  display: flex;
}

#webformwrapper .customer_type .selectwrapper>div {
  margin-right: .5rem;
}

#webformwrapper .form-check-input[type=radio] {
  border-radius: 0;
}

#webformwrapper .form-check-input:checked[type=radio] {
  background-image: none;
}

#webformwrapper .selectwrapper>label,
#webformwrapper .form-item.nome>label,
#webformwrapper .form-item.cognome>label,
#webformwrapper .indirizzo_e_mail>label,
#webformwrapper .telefono>label,
#webformwrapper .checkboxwrapper>label,
#webformwrapper .form-item .error {
  display: none;
}

#webformwrapper .btn.btn-primary {
  background-color: #2E4C81 !important;
  border-color: #2E4C81 !important;
  color: #fff !important;
  text-transform: uppercase;
  float: right;
}

/***********************************************
  THANK YOU PAGE
***********************************************/
.node-type--page.page_wrapper .title_box {
  margin-top: 4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.node-type--page.page_wrapper .description {
  text-align: center;
}

/**********************************************************************
  FOOTER
*********************************************************************/
#footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

#footer .loghi {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#footer .loghi p {
  margin: 0 2rem;
}

#footer .loghi img {
  height: 50px;
}

#footer ul.navbar-nav {
  flex-direction: row;
  justify-content: center;
}

#footer ul.navbar-nav .nav-link {
  margin: .5rem;
  font-weight: 600;
  color: #414042;
}

/* cookie */
.col-sm-12.cookie {
  display: flex;
  justify-content: center;
}

.col-sm-12.cookie a {
  margin: 0 .5rem;
  color: #414042;
  font-weight: 600;
}

.col-sm-12.cookie a:hover {
  color: #2e4c81;
}

/* copyright */
.copy p {
  margin: 0;
  font-size: 0.8rem;
}

.copy a {
  color: #414042;
  text-decoration: underline;
  font-size: 0.8rem;
}

.poweredby {
  font-size: .85rem;
  margin-top: 30px;
}

.poweredby a {
  color: #414042;
}
