@media screen and (min-width: 992px) {
  .website_body {
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 1920px) {
  body {
    max-width: 1920px;
    margin: auto;
  }
}

@media screen and (max-width: 991px) {
  .article_txt h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 575px) {
  .article_full_wrapper .article_txt {
    position: inherit;
    width: auto;
    bottom: auto;
    left: auto;
  }

  .article_full_wrapper .article_txt *,
  .article_full_wrapper:hover .article_txt * {
    color: #000;
    text-shadow: none;
    text-decoration: none;
  }
}
