/* GLOBAL */
.align-center {
  align-items: center;
}

.inline-block {
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

a.nav-link:hover {
  text-decoration: none;
  color: #fff;
}

/* HEADER */
header,
footer {
  margin: 0 -.75rem;
}

/* HOMEPAGE */
.title.site_name {
  padding: 1rem;
}

#articlesbox > .row {
  margin: 4rem 0;
}

/* ARTICLE FULL */
.category-item {
  display: inline-block;
  margin: 0;
}

#article_column .category-item::after {
  content: '-';
}

#article_column .category-item:last-child::after {
  content: '';
}

/* OTHER WEBSITE */
#other-websites .websites_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: .5rem;
}

#other-websites .websites_wrapper a {
  margin: 1rem .5rem;
  flex: 10%;
}

/* CATEGORY PAGE */
#category-info .row {
  margin-bottom: 2rem;
}

.category_article_big a {
  text-decoration: none;
  color: #000;
}

.article_txt h2 {
  text-transform: uppercase;
}

.article_full_wrapper {
  position: relative;
}

.article_full_wrapper .article_txt {
  position: absolute;
  width: 50%;
  bottom: 1rem;
  left: 1rem;
}

.article_full_wrapper .article_txt * {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

.article_full_wrapper:hover .article_txt * {
  color: #008a75;
  text-shadow: 1px 1px 1px #000;
}

.home_article .text-box {
  padding: .5rem;
}

.home_article .created {
  padding: .5rem 0;
}

a.title_home_article {
  color: #000;
  text-decoration: none;
}

/***************************************
  FOOTER
***************************************/
footer {
  padding: 1rem;
}

/***********************************
  COOKIE BANNER
***********************************/
#cookiePreferences {
  padding: .2rem .5rem;
}

#cookiePreferences a {
  text-decoration: none;
}
/* cookie Preferences */
#cookiePreferences {
  border: 2px solid #666666;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #ffffff;
  padding: 0.3rem 1rem;
  height: 2rem;
  cursor: pointer;
}
