<div class="container">
  <div class="row">
      <div class="col">


        <div id="category-info" class="mb-5">
          <h1 class="small_caps color_secondary">{{ path.content.title }}</h1>
          <p>{{ path.content.description|raw }}</p>
        </div>


        <div id="articlesbox">
          <!-- <h2 class="color_primary display-4">Gli ultimi articoli</h2> -->
          <div class="">

            <div class="row">
              {% for article in articles|slice(0, 99) %}
              {{ include(themefolder ~ '/teasers/home_article.html') }}
              {% endfor %}
              {# /#articlesbox #}
            </div>
          </div>

        </div>

        <div id="about-us" class="text-center colorbg_tertiary banner-box">
          {{sitedata.body|raw }}
        </div>


      </div>
  </div>

</div>

{% if sitedata.show_otherwebsites%}
<div class="container-fluid my-4">
  <div class="row">
    <div class="separator colorbg_primary"></div>
    <div id="other-websites" class="col text-center banner-box py-4">
        <h4 class="mb-4">Scopri di più sui siti web del nostro network</h4>
      <div class="websites_wrapper">
        {% for website in sitedata.network_websites %}
        <a href="{{website.url}}" target="_blank">
          <div class="other-website">
            <div class="cover">
              <img src="{{website.logo}}" alt="{{website.title}}">
            </div>
            <div class="website-title">
              {{website.title}}
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
    <div class="separator colorbg_primary"></div>
  </div>
</div>
{% endif %}
