<div class="container">
  <div class="text-center">
    <h1 class="front_h1 color_primary">{{sitedata.title|raw}}</h1>
  </div>
  <div id="articlesbox">

    <div id="lastarticle" class="row">
      {% for article in articles|slice(0,1) %}
      {{ include( themefolder ~ '/teasers/home_article_big.html') }}
      {% endfor %}
      {# /#articlebox #}
    </div>

    <div class="separator colorbg_primary mb-4"></div>

    <div class="row">
      {% for article in articles|slice(1, 21) %}
      {{ include( themefolder ~ '/teasers/home_article.html') }}
      {% endfor %}
    </div>

  </div>

  <div id="about-us" class="text-center colorbg_tertiary banner-box">
    <h4>CHI SIAMO / LA NOSTRA MISSION</h4>
    {{sitedata.body|raw }}
  </div>




</div>

{% if sitedata.show_otherwebsites%}
<div class="container-fluid my-4">
  <div class="row">
    <div class="separator colorbg_primary"></div>
    <div id="other-websites" class="col text-center banner-box py-4">
        <h4 class="mb-4">Scopri di più sui siti web del nostro network</h4>
      <div class="websites_wrapper">
        {% for website in sitedata.network_websites %}
        <a href="{{website.url}}" target="_blank">
          <div class="other-website">
            <div class="cover">
              <img src="{{website.logo}}" alt="{{website.title}}">
            </div>
            <div class="website-title">
              {{website.title}}
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
    <div class="separator colorbg_primary"></div>
  </div>
</div>
{% endif %}
