<div class="page_article">
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="white_box">
          <div class="cover">
            <img class="img-fluid" src="{{ path.content.cover_url_original }}" alt="{{ path.content.cover_alt }}" />
          </div>
          <div class="title_box">
            <div class="categories">
              {% for cat in path.content.categories %}
              {% autoescape false %}
              <div class="category-item color_secondary">
                <a href="{{cat.path}}">{{cat.title}}</a>
              </div>
              {% endautoescape %}
              {% endfor %}
            </div>
            <div class="title">
              <h1 class="">{{ path.content.title }}</h1>
            </div>
            <div class="created">
              <p>{{ path.content.created|date("d/m/Y") }}</p>
            </div>
          </div>
          <div class="description">
            {{ path.content.body|raw }}
          </div>
          <div class="links">
            <h4 class="color_secondary">LINK</h4>
            <hr>
            <ul class="">
              {% for link in path.content.links %}
              <li class="">
                {% autoescape false %}
                <a href="{{link.uri}}" target="_blank" rel="noopener">{{link.title}}</a>
                {% endautoescape %}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div id="other_articles">
          <h4><strong>Ti potrebbero interessare anche</strong></h4>

          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-sm-6">
                    {% for article in articles|slice(0, 1) %}
                    {{ include(themefolder ~ '/teasers/carousel_item.html') }}
                    {% endfor %}
                  </div>
                  <div class="col-sm-6">
                    {% for article in articles|slice(1, 1) %}
                    {{ include(themefolder ~ '/teasers/carousel_item.html') }}
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-6">
                    {% for article in articles|slice(2, 1) %}
                    {{ include(themefolder ~ '/teasers/carousel_item.html') }}
                    {% endfor %}
                  </div>
                  <div class="col-sm-6">
                    {% for article in articles|slice(3, 1) %}
                    {{ include(themefolder ~ '/teasers/carousel_item.html') }}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div id="about-us" class="text-center colorbg_tertiary banner-box">
      {{sitedata.body|raw }}
    </div>
  </div>

</div>

{% if sitedata.show_otherwebsites%}
<div class="container-fluid my-4">
  <div class="row">
    <div class="separator colorbg_primary"></div>
    <div id="other-websites" class="col text-center banner-box py-4">
        <h4 class="mb-4">Scopri di più sui siti web del nostro network</h4>
      <div class="websites_wrapper">
        {% for website in sitedata.network_websites %}
        <a href="{{website.url}}" target="_blank">
          <div class="other-website">
            <div class="cover">
              <img src="{{website.logo}}" alt="{{website.title}}">
            </div>
            <div class="website-title">
              {{website.title}}
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
    <div class="separator colorbg_primary"></div>
  </div>
</div>
{% endif %}
