<div class="container">
  <div class="row">
    <div class="col">
      <div id="white_box">

        <div class="title_box">

          <div class="title">
            <h1 class="">{{ page.title }}</h1>
          </div>

        </div>
        <div class="description">
          {{ page.body|raw }}
        </div>

      </div>

    </div>
  </div>

  <div id="about-us" class="text-center colorbg_secondary banner-box">
    {{sitedata.body|raw }}
  </div>



  {% if sitedata.show_otherwebsites%}
  <div id="other-websites" class="col text-center shadow banner-box">
    <div class="color_secondary">
      <h4>I nostri siti web</h4>
    </div>
    {% for website in sitedata.network_websites %}
    <a href="{{website.url}}" target="_blank">
      <div class="other-website">
        <div class="cover">
          <img src="{{website.logo}}" alt="{{website.title}}">
        </div>
        <div class="website-title">
          {{website.title}}
        </div>
      </div>
    </a>
    {% endfor %}
  </div>

  {% endif %}
</div>
