<!doctype html>
<html lang="it">

  <head>
    {{ include('_assets/twig/head.html') }}

    <!-- LiBuc2 Custom Head-->
    {{sitedata.code_head|raw}}

  </head>

  <body>

    <div class="colorbg_tertiary">
      <div class="container-fluid">
        {{ include(themefolder ~ '/header.html') }}

        <div id="main">

            <div class="container">
              <div id="webformwrapper">

              </div>
            </div>


          <!-- Top Block -->
          {% if sitedata.block_top %}
          <div class="global_blocks top_block container">
            {{sitedata.block_top|raw}}
          </div>
          {% endif %}

          <!-- Case: Homepage -->
          {% if path.type == 'homepage' %}
            {{ include( themefolder ~ '/pages/page_home.html') }}

          <!-- Case: Category -->
          {% elseif path.type == 'category' %}
            {{ include( themefolder ~ '/pages/page_category.html') }}

          <!-- Case: Page -->
          {% elseif path.type == 'page' %}
            {{ include( themefolder ~ '/pages/page_page.html') }}

          <!-- Case: Article -->
          {% elseif path.type == 'article' %}
            {{ include( themefolder ~ '/pages/page_article.html') }}

          {% else %}
            <p>Errore: Tipo di contenuto non gestito.</p>
          {% endif %}

          <!-- Bottom Block -->
          {% if sitedata.block_top %}
          <div class="global_blocks top_block container">
            {{sitedata.block_bottom|raw}}
          </div>
          {% endif %}

        </div>


        {{ include( themefolder ~ '/footer.html') }}


        <div id="alertsbox">
        {% for alert in alerts %}
          {{ include('_assets/twig/alert.html') }}
        {% endfor %}
        </div>{# /#alertbox #}

      </div> {# /.container-fluid #}
    </div>


{% if sitedata.cookiebanner == true %}

    <!-- Cookies ! -->
    <div id="cookiePreferences" class="">
        <a href="#" id="showcookiebanner">Preferenze Cookies</a>
    </div>



    <div id="cookieBanner">
      <div class="closeme refuseCookies">X</div>
      <div id="cookieBanner_inner">
          <h3>Informativa sui cookies</h3>
          {{sitedata.cookiebanner_txt|raw}}
          {% if sitedata.url_cookie%}
          <a target="_blank" href="{{sitedata.url_cookie}}">[cookie policy]</a>
          {% endif %}
          <div class="buttons">
            <div class="container">
              <div class="row">
                <div class="col-12 col-md-6">
                  <button type="button" name="button" class="acceptCookies btn-primary">Accetto</button>
                </div>
                <div class="col-12 col-md-6">
                  <button type="button" name="button" class="refuseCookies btn-primary">Rifiuto</button>
                </div>
              </div>
            </div>



          </div>
      </div>
    </div>
    {% endif %}



    <!-- Global JS  -->
    <script src="{{sitedata.baseurl}}/themes/_assets/jquery-3.6.3.min.js"></script>
    <script src="{{sitedata.baseurl}}/themes/_assets/jquery.touchSwipe.min.js"></script>
    <script src="{{sitedata.baseurl}}/themes/_assets/bootstrap.bundle.min.js"></script>
    <script src="{{sitedata.baseurl}}/themes/_assets/webform.js"></script>


    <!-- Cookies  JS-->
    <script src="{{sitedata.baseurl}}/themes/_assets/cookies/js.cookie.min.js"></script>
    <script src="{{sitedata.baseurl}}/themes/_assets/cookies/analytics.js"></script>

    <!-- All Themes JS -->
    <script src="{{sitedata.baseurl}}/themes/_assets/global.js"></script>

    <!-- Current Theme JS -->
    <script src="{{sitedata.baseurl}}/themes/{{sitedata.theme}}/assets/scripts.js"></script>

    <!-- LiBuc2 Custom Foot-->
    {{sitedata.code_foot|raw}}

  </body>
</html>
