<!-- FOOTER -->

<div class="colorbg_tertiary">
  <div class="row footer">
    <div class="col-12 col-xl-6 col-xxl-5">
      <img src="https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-10/logo-conflavoro-eurocorporation.png" alt="Eurocorporation-Conflavoro">
    </div>
    <div class="col-12 offset-xxl-1 col-xl-6 footer_servizi">
      <div class="col-12 col-md-4">
        <div>
          <ul class="color_secondary_hover">
            <li><a href="/pages/partnership">PARTNERSHIP</a></li>
            <li><a href="https://www.conflavoro.it/" target="_blank" rel="noopener">Conflavoro PMI</a></li>
            <li><a href="https://www.eurocorporation.it/" target="_blank" rel="noopener">Eurocorporation</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div>
          <ul class="color_secondary_hover">
            <li><a href="/pages/servizi-integrati">SERVIZI INTEGRATI</a></li>
            <li><a href="/pages/servizi-integrati#sicurezza-salute-lavoro">Sicurezza e salute sul lavoro</a></li>
            <li><a href="/pages/servizi-integrati#rifiuti-ambiente">Gestione dei rifiuti e salvaguardia dell'ambiente</a></li>
            <li><a href="/pages/servizi-integrati#adempimenti-obbligatori">Formazione e adempimenti obbligatori</a></li>
            <li><a href="/pages/servizi-integrati#certificazioni-iso">Assistenza e certificazioni ISO</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div>
          <ul class="color_secondary_hover">
            <li><a href="/pages/check-gratuito">CHECK-UP GRATUITO</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="policy">
  <div class="row text-center">
    <div class="col-sm-12 cookie">
      {% if sitedata.url_cookie%}
      <a target="_blank" href="{{sitedata.url_cookie}}">Cookie Policy</a>
      {% endif %}
      <p class="inline-block"> | </p>
      {% if sitedata.url_cookie%}
      <a target="_blank" href="{{sitedata.url_privacy}}">Privacy Policy</a>
      {% endif %}
    </div>
    <div class="col-sm-12">
      Made with <span class="heart">♥</span> by <strong><a href="https://emeraldcommunication.com" target="_blank">Emerald Communication ®{{ "now"|date("Y") }}</a></strong>
    </div>
  </div>
</div>
