<div class="container">
  <div class="row">
    <div class="col">
      <div id="white_box">
        <div class="cover">
          <img class="img-fluid" src="{{ path.content.cover_url_original }}" alt="{{ path.content.cover_alt }}" />
        </div>
        <div class="title_box">
          <div class="categories">
            {% for cat in path.content.categories %}
            {% autoescape false %}
            <div class="category-item color_secondary">
              <a href="{{cat.path}}">{{cat.title}}</a>
            </div>
            {% endautoescape %}
            {% endfor %}
          </div>
          <div class="title">
            <h1 class="">{{ path.content.title }}</h1>
          </div>
          <div class="created">
            <p>{{ path.content.created|date("d/m/Y") }}</p>
          </div>
        </div>
        <div class="description">
          {{ path.content.body|raw }}
        </div>
        <div class="links">
          <h4 class="color_secondary">LINK</h4>
          <ul class="">
            {% for link in path.content.links %}
            <li class="">
              {% autoescape false %}
              <a href="{{link.uri}}" target="_blank" rel="noopener">{{link.title}}</a>
              {% endautoescape %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div id="other_articles" class="">
        <h4 class="color_secondary">Ti potrebbero interessare anche</h4>

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-sm-6">
                  {% for article in articles|slice(0, 1) %}
                  {{ include(themefolder ~ '/teasers/carousel_item.html') }}
                  {% endfor %}
                </div>
                <div class="col-sm-6">
                  {% for article in articles|slice(1, 1) %}
                  {{ include(themefolder ~ '/teasers/carousel_item.html') }}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-sm-6">
                  {% for article in articles|slice(2, 1) %}
                  {{ include(themefolder ~ '/teasers/carousel_item.html') }}
                  {% endfor %}
                </div>
                <div class="col-sm-6">
                  {% for article in articles|slice(3, 1) %}
                  {{ include(themefolder ~ '/teasers/carousel_item.html') }}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a> -->
        </div>
      </div>
    </div>
  </div>

  <div id="about-us" class="text-center colorbg_secondary banner-box">
    {{sitedata.body|raw }}
  </div>

  {% if sitedata.show_otherwebsites%}
  <div id="other-websites" class="col text-center shadow banner-box">
    <div class="color_secondary">
      <h4>I nostri siti web</h4>
    </div>
    {% for website in sitedata.network_websites %}
    <a href="{{website.url}}" target="_blank">
      <div class="other-website">
        <div class="cover">
          <img src="{{website.logo}}" alt="{{website.title}}">
        </div>
        <div class="website-title">
          {{website.title}}
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  {% endif %}

</div>
