<div id="footer">
  <div class="row text-center">

    <div class="loghi">
      <div class="piusicuro">
        <img src="/themes/piusicuro/assets/logo.svg" alt="Più Sicuro">
      </div>
      <p>by</p>
      <div class="Fidelitas">
        <img src="/themes/piusicuro/assets/fidelitas-logo.svg" alt="Fidelitas">
      </div>
    </div>

    <div class="navbar">
      <ul class="navbar-nav">
        <li>
          <a class="nav-link" href="#vantaggi">VANTAGGI</a>
        </li>
        <li>
          <a class="nav-link" href="#starter-kit">STARTER KIT</a>
        </li>
        <li>
          <a class="nav-link" href="#su-misura">SU MISURA</a>
        </li>
        <li>
          <a class="nav-link" href="#offerta">OFFERTA</a>
        </li>
      </ul>
    </div>

    <div class="copy">
      <p>+Sicuro ©2016 Fidelitas S.p.A. | Via A. Depretis, 3 - 24124 Bergamo | T: 035 4533711 | info@fidelitas.net | <a href="https://www.fidelitas.net/privacy-policy" target="_blank">Privacy Policy</a> | <a href="https://www.fidelitas.net/cookie-policy" target="_blank">Cookie Policy</a> | <a href="https://www.fidelitas.net/fidelitas/codice-etico-e-antiriciclaggio" target="_blank">d.lgs 231</a> | <a href="https://www.fidelitas.net/fidelitas/codice-etico-e-antiriciclaggio" target="_blank">antiriciclaggio</a></p>
      <p>Cap. Soc. € 6.240.000 i.v. - Iscritta al Registro Imprese presso la C.C.I.A.A. di Bergamo | Reg. Imprese, P.I. e C.F. 02084640164 - con direzione e coordinamento della società FGH S.P.A.</p>
    </div>

    <div class="poweredby">
      <div class="col-sm-12">
        Powered by <strong><a href="https://emeraldcommunication.com" target="_blank">Emerald Communication ®{{ "now"|date("Y") }}</a></strong>
      </div>
    </div>

  </div>
</div>

{% if sitedata.cookiebanner == true %}
<div id="cookiebanner">
  <div id="cookiebanner_inner">
    <div id="cookiebanner_close" class="btn btn btn-primary btn-block">Accetto</div>
    {{sitedata.cookiebanner_txt|raw}}
    {% if sitedata.url_cookie%}
    <a target="_blank" href="{{sitedata.url_cookie}}">[cookie policy]</a>
    {% endif %}
  </div>
</div>

{% endif %}
