<header id="header">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="text-right ownership">
      <div class="ownership-txt">
        <strong>+Sicuro</strong> è un marchio
      </div>
      <div class="ownership-img">
        <img src="/themes/piusicuro/assets/fidelitas-logo.svg" height="15" alt="Logo Fidelitas">
      </div>
    </div>
    <div class="container-fluid">

      <div id="logowrapper">
        <a class="navbar-brand" href="{{sitedata.baseurl}}/">
          <img id="logoimg" src="{{sitedata.logo}}" alt="{{sitedata.title}}">
        </a>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse flex-column align-items-start" id="navbarNav">
        <ul class="navbar-nav mt-3">
          <li>
            <a class="nav-link" href="/#vantaggi">Vantaggi</a>
          </li>
          <li>
            <a class="nav-link" href="/#starter-kit">Starter Kit</a>
          </li>
          <li>
            <a class="nav-link" href="/#su-misura">Su Misura</a>
          </li>
          <li>
            <a class="nav-link" href="/#offerta">Offerta</a>
          </li>
          <li class="last">
            <a class="nav-link" href="/#contattaci">CONTATTACI</a>
          </li>
        </ul>
      </div>

    </div>

  </nav>

</header>
