<div class="article-item mb-3">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="cover-img">
        <a href="{{sitedata.baseurl}}{{article.path}}"><img src="{{article.cover_url_original}}" class="d-block w-100" alt="..."></a>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="text-box">
        <div class="category color_secondary">
          {% for cat in article.categories %}
          {% autoescape false %}
          <div class="category-item">
            <a href="{{sitedata.baseurl}}{{cat.path}}">{{cat.title}}</a>
          </div>
          {% endautoescape %}
          {% endfor %}
        </div>
        <div class="title">
          <a href="{{sitedata.baseurl}}{{article.path}}">
            <strong>{{ article.title|length > 64 ? article.title|slice(0, 64)|striptags|raw ~ '...' : article.title|striptags|raw }}</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
