<div class="category_article_big">
  <div class="row align-center">
    <div class="col-12 col-md-8">
      <a href="{{sitedata.baseurl}}{{article.path}}">
        <div class="cover_image">
          <img src="{{article.cover_rectangle}}" alt="{{article.title}}">
        </div>
      </a>
    </div>
    <div class="col-12 col-md-4">
      <a href="{{sitedata.baseurl}}{{article.path}}">
        <div class="created">
          <i>{{ article.created|date("d/m/Y") }}</i>
        </div>
        <div class="article_txt">
          <h2>{{article.title}}</h2>
          <div class="body">
            {{article.body|slice(0, 255)|striptags|raw}}...
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
