<article class="grid-item">
  <div class="grid-item_inner card">

    <div class="card-body">
      <h3 class="color_primary display-5">
        <a href="{{sitedata.baseurl}}{{article.path}}">
          {{ article.title|length > 64 ? article.title|slice(0, 64)|striptags|raw ~ '...' : article.title|striptags|raw }}
        </a>
      </h3>
      <div class="card-text">
          <img class="fluid card-img-top" src="{{article.cover_url_original}}" alt="{{article.cover_alt}}">

          <hr/>

          {{article.body|striptags|slice(0, 400)|striptags|raw ~ '...'}}

          <hr/>

            {% for cat in article.categories %}
              {% autoescape false %}
              <a class="btn btn btn-outline-primary btn-block" href="{{sitedata.baseurl}}{{cat.path}}">{{cat.title}}</a>
              {% endautoescape %}
            {% endfor %}

        <hr/>

        <a class="btn btn btn-primary btn-block" href="{{sitedata.baseurl}}{{article.path}}">Leggi tutto</a>

      </div><!-- ./card-text -->
    </div><!-- ./card-body -->

  </div><!-- ./card -->
</article>
