<div class="row align-center">
  <div class="col-12">
    <div class="article_full_wrapper">
      <div class="cover_image">
        <a href="{{sitedata.baseurl}}{{article.path}}"><img src="{{article.cover_url_original}}" alt="{{article.title}}"></a>
      </div>

      <div class="article_txt">
        <a href="{{sitedata.baseurl}}{{article.path}}">
        <div class="created">
          <i>{{ article.created|date("d/m/Y") }}</i>
        </div>
        <h2>{{article.title}}</h2>
        <div class="body">
          {{article.body|slice(0, 48)|striptags|raw}}...
        </div>
        </a>
      </div>

    </div>
  </div>
</div>
