<div class="col-12 col-md-4 my-3">
  <div class="home_article article-item shadow">
    <div class="cover-img">
      <a href="{{sitedata.baseurl}}{{article.path}}"><img src="{{article.cover_url_original}}" class="d-block w-100" alt="..."></a>
    </div>
    <div class="text-box">
      <div class="category color_secondary">
        {% for cat in article.categories %}
        {% autoescape false %}
        <div class="category-item">
          <a href="{{sitedata.baseurl}}{{cat.path}}">{{cat.title}}</a>
        </div>
        {% endautoescape %}
        {% endfor %}
      </div>
      <div class="created">
        <i>{{ article.created|date("d/m/Y") }}</i>
      </div>
      <h3 class="title">
        <a class="title_home_article" href="{{sitedata.baseurl}}{{article.path}}">
          <strong>{{ article.title|length > 64 ? article.title|slice(0, 64)|striptags|raw ~ '...' : article.title|striptags|raw }}</strong>
        </a>
      </h3>
    </div>
  </div>
</div>
