/********************
COOKIE BANNER
********************/
#cookieBanner {
  position: fixed;
  bottom: 0;
  background-color: #eeeeee;
  width: 100%;
  padding: 0 5rem;
  -webkit-box-shadow: 0px 0px 15px 0px #000000;
  box-shadow: 0px 0px 15px 0px #000000;
  z-index: 99999;
}

#cookieBanner p{
  margin-bottom: 0.5rem;
}

.closeme {
  position: absolute;
  top: 15px;
  right: 30px;
  cursor: pointer;
}

#cookieBanner_inner {
  padding: 1rem 0;
  text-align: justify;
}

#cookieBanner .buttons{
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

#cookieBanner_inner .btn-primary {
  background-color: #ffffff;
  border: 2px solid #666666;
  border-style: none;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  color: #000000;
  outline: 2px solid #000000
}


@media (max-width: 768px) {
  #cookieBanner_inner .btn-primary {
    background-color: #ffffff;
        border: 2px solid #666666;
        border-style: none;
        font-weight: bold;
        cursor: pointer;
        padding: 0.5rem 1.5rem;
        color: #000000;
        outline: 2px solid #000000;
        display: block;
        width: 100%;
        margin-bottom: 1rem;
  }
}

#cookieBanner_inner .btn-primary:hover{

}

#cookieBanner_inner a {
  font-weight: bold;
  color: #000;
}

#cookiePreferences{

  border: 2px solid #666666;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #ffffff;
  padding: 0.3rem 1rem;

  height: 2rem;
  cursor: pointer
}
