/* Responsive behaviour */
@media (max-width: 1600px) {}

@media (max-width: 1400px) {}

@media (max-width: 1280px) {
  #white_box {
    padding: 3rem 0;
  }

  #white_box .links {
    margin-top: 60px;
  }

  .teaser-image-home {
    /* height: 150px; */
  }
}

@media (max-width: 1024px) {
  .navbar-brand {
    width: 100%;
    display: block;
  }

  #logowrpper img,
  #logowrpper h1 {
    display: block;
  }

  #logowrpper img {
    width: 50%;
    margin: auto;
  }

  #logowrpper h1 {
    font-size: 2.0rem;
    text-align: center;
    padding-top: 0.5rem;
  }

  .display-3 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .display-4 {
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

@media (max-width: 991px) {
  div #navbarNav {
    padding: 0px 20%;
    text-align: center;
    margin-bottom: 15px;
  }

  .home_row {
    margin: 1%;
    background-color: #fff;
    max-width: 48%;
    box-shadow: 0 0.5rem .6rem rgba(0, 0, 0, .08);
  }

  #about-us {
    padding: 30px;
  }

  #articlesbox .home_row_3 {
    margin: 20px .5rem;
    background-color: #fff;
    max-width: 30%;
    box-shadow: 0 0.5rem .6rem rgba(0, 0, 0, .08);
  }

  #articlesbox .col_article {
    margin: 20px .4rem;
    background-color: #fff;
    max-width: 31.4%;
    box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, .08);
  }

  .teaser-image-home,
  .teaserimg-article {
    height: auto;
  }

  .trecolumn {
    justify-content: center;
  }

  #white_box {
    padding: 3rem 0;
  }

  #white_box .description {
    padding: 0 2rem;
  }

  .categories a {
    display: block;
    padding: 3px 0;
  }

  .last_article_column .article-item {
    margin: 10px;
  }

  .category-row {
    padding: 0 20px;
  }

  .column-centrale {
    margin: 0;
  }

  .article-item .text-box {
    padding: 10px 0;
  }
}

@media (max-width: 767px) {
  .navbar-dark .navbar-nav .nav-link {
    margin-left: 40px;
  }

  #about-us {
    margin-bottom: 50px;
  }

  #articlesbox .home_row_3 {
    margin: 20px .4rem;
    background-color: #fff;
    max-width: 30%;
    box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, .08);
  }

  .category {
    margin-bottom: 10px;
  }

  .category-item {
    font-size: .8rem;
  }

  .article-item .title {
    font-size: .9rem;
  }

  #articlesbox .col_article {
    margin: 20px .4rem;
    background-color: #fff;
    max-width: 47%;
    box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, .08);
  }

  .category-row {
    margin: auto;
  }

  .column-centrale {
    margin: 1.60% auto;
    background-color: #fff;
    max-width: 90%;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.07);
    padding: 15px;
  }

  .row.barre-laterale-category {
    margin: 40px 0;
  }
}

@media (max-width: 575px) {
  #logoimg {
    width: auto;
  }

  #white_box {
    padding: 15px;
    padding-top: 0;
  }

  #category-info h1 {
    font-size: 2rem;
  }

  #articlesbox .home_row_3 {
    max-width: 90%;
    padding: 0 15px;
  }

  .teaser-image-home {
    /* height: 250px; */
  }

  #white_box .description {
    padding: 0 1rem;
  }

  .card, .cover {
    margin-bottom: 0;
  }

  .fourcolumn {
    margin: 40px 0;
  }
}

@media (max-width: 499px) {
  #articlesbox .col_article {
    margin: 20px auto;
    background-color: #fff;
    max-width: 100%;
    box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, .08);
  }

  .category-row {
    padding: 0 30px;
    margin: auto;
  }

  #category-info {
    margin: 30px 0;
  }
}

@media (max-width: 419px) {
  #logoimg {
    width: auto;
  }

  .home_row {
    margin: 0;
    max-width: 100%;
    box-shadow: 0 0.5rem .6rem rgba(0, 0, 0, .04);
    padding: 0 15px;
    background-color: #f2f2f2;
  }

  .fourcolumn {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .teaser-image-home {
    height: auto;
  }

  .article-item .text-box {
    text-align: center;
  }

  #white_box .links ul a {
    font-size: .8rem;
  }

  #other_articles h4 {
    margin-bottom: 30px;
  }

  #articlesbox .col_article {
    margin: 20px auto;
    background-color: #fff;
    max-width: 100%;
    box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, .08);
  }

  #category-info {
    padding: 30px 25px;
    margin: 30px auto;
  }
}

@media (max-width: 375px) {
  .title_box .title h1 {
    font-size: 1.5rem;
  }

  #category-info h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 335px) {
  #logoimg {
    width: auto;
  }

  #white_box {
    padding: 0;
  }
}

@media (max-width: 335px) {
  #category-info h1 {
    font-size: 1.5rem;
  }
}
