body{
  font-size: 14px;
  max-width: 2000px;
  overflow-x: hidden;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.uppercase {
  text-transform: uppercase;
}


a {
  color: #000;
}


a:hover, a:visited {

}

a:hover {
  text-decoration: none;
}

/* NAVBAR */

nav {
  margin: 0 -15px;
}

#navbarNav {
  justify-content: flex-end;
  padding-left: 20px;
}


.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("black_burger.svg");
}

.article-item a,
.container a {
  text-decoration: none;
}

.menu_navbar {
  text-transform: uppercase;
  padding: 0 .5rem;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: .9rem;
}

.categories .menu_navbar:hover {
  color: #EFE1D1;
}

/* HOMEPAGE */

.page_home h1 {
  font-weight: 700;
}

.site_name {
  margin: 30px 0;
  text-transform: uppercase;
}

.home_row {
  margin: 1%;
  background-color: #fff;
  max-width: 23%;
  box-shadow: 0 0.5rem .6rem rgba(0, 0, 0, .08);
}

.home_row_3 {
  margin: 20px 0;
  background-color: #fff;
  box-shadow: 0 0.5rem .6rem rgba(0, 0, 0, .08);
}

.teaser-image-home {
  height: 180px;
}

.fourcolumn {
  margin: 20px 0;
}

/* Articles Grid */

.shadow {
  -webkit-box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.25);
}

.article-item {
  margin: 15px 10px;
}

.article-item .text-box {
    padding: 15px 10px;
    background-color: #fff;
}

.category-item {  /*TITOLO OGNI CATEGORY*/
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
}

.category .category-item a:hover {  /*TITOLO OGNI CATEGORY*/
  color: #ccc;
}

.article-item .title {  /*TITOLO OGNI ARTICLE*/
  text-transform: uppercase;
  font-size: 20px;
}

.article-item .title a:hover {  /*TITOLO OGNI ARTICLE*/
  color: #ccc;
}

.grid-item_inner{
  margin: 1rem;
  padding: 1rem;
}

/* Header */
#logoimg{
  margin-left: 2rem;
}

#logowrpper img,
#logowrpper h1{
  display: inline-block;
}

/* CHI SIAMO / ABOUT US */

#about-us {
  padding: 30px 150px;
  margin: 40px 0;
}

#about-us p {
  margin: 0;
}

#about-us h3 {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}

/* OTHER WEBSITES */
#other-websites {
  padding: 35px 15px;
  /* margin: 60px 0; */
}

#other-websites h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.other-website {
  display: inline-block;
  margin: 15px;
}

/**************************
CATEGORY
*************************/
/* category page */

#category-info {
  padding: 30px;
  margin: 30px 15px;
  background-color: #fff;
}

#category-info h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.articlesbox .articoli {
    font-size: 1.1rem;
    font-style: italic;
    margin: 0;
}

.column-centrale {   /* QUESTO E PER ARTICLE */
  margin: auto;
  background-color: #fff;
  max-width: 80%;
  box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.07);
  padding: 15px;
}

.text-box {
  padding: 20px 0;
}

.articlesbox {
  padding: 0;
}

.article-item-category .text-box .title {
  text-transform: uppercase;
  font-size: 20px;
}



/********************
ARTICLE
*********************/
/* article explosed */

#white_box {
  background-color: #fff;
  padding: 3rem;
  margin-top: 1rem;
  text-align: center;
}
#white_box .description {
  padding: 0 100px;
}

#white_box .cover img {
  box-shadow: 0 0.5rem .6rem rgba(0, 0, 0, .15);
  margin-bottom: 2rem;
}


.title_box .categories {
  text-align: center;
  margin-bottom: 2rem;
}

.title_box .title {
  text-transform: uppercase;
}

#white_box .links {
  margin-top: 90px;
}

#white_box .links h4 {
  margin-bottom: 15px;
}

#white_box .links ul {
  margin: 0;
  padding: 10px 30px;
  display: inline-block;
  font-weight: 500;
  font-size: 1rem;
}

#white_box .links ul a:hover {
  color: #EFE1D1;
}

#white_box .links li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: .9rem;
}


#other_articles {
  margin: 30px 0;
}

#other_articles h4 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}

.description ul {
  list-style: none;
  font-weight: 500;
}

/* Footer */
#footer {
  /* background-color: red; */
  margin: 0 -0.75rem;
  padding: 10px 0;
}

#footer a,
#footer {
  color: #fff;
}

.card,
.cover{
  margin-bottom: 1rem;
}

.card{
  padding: 0.5rem;
  border-radius: 0;
  color: #000;
}

.card-body {
    padding: 0.5rem;
}

.btn{
  border-radius: 0;
}


/*********************
PAGINA ARTICOLO ESPLOSO
*************************/

/* CUSTOM CLASS */
.inline-block {
  display: inline-block;
}

.heart {
  color: red;
}
