<div class="page_home">
  <div class="container">
    <div class="row">
      <div class="col text-center">

        <div class="title site_name">
        </div>


        <div class="welcome">
          <div id="about-us" class="text-center banner-box">
            <h1 class="uppercase">{{sitedata.title}}</h1>
            {{sitedata.body|raw }}
          </div>
        </div>

      </div>
    </div>

      <div id="articlesbox">
        <div class="">

          <div class="row trecolumn colorbg_primary">

              <div class="home_row_3 col-md-4 col-lg-3">
                <div class="">
                  {% for article in articles|slice(0, 1) %}
                  {{ include(themefolder ~ '/teasers/home_article.html') }}
                  {% endfor %}
                </div>
              </div>

            <div class="home_row_3 col-sm-6 col-md-4 col-lg-6">
                  <div class="prova">
                      {% for article in articles|slice(1, 1) %}
                        {{ include( themefolder ~ '/teasers/home_article_big.html') }}
                        {% endfor %}
                    </div>
              </div>

              <div class="home_row_3 col-sm-6 col-md-4 col-lg-3">
                    <div class="">
                        {% for article in articles|slice(2, 1) %}
                          {{ include( themefolder ~ '/teasers/home_article.html') }}
                          {% endfor %}
                      </div>
                </div>

          </div>

            <div class="row fourcolumn">
              {% for article in articles|slice(3, 4) %}
              {{ include( themefolder ~ '/teasers/4column-home.html') }}
              {% endfor %}
              {# /#articlesbox #}
            </div>

          <div class="row trecolumn colorbg_primary">

              <div class="home_row_3 col-md-4 col-lg-3">
                <div class="">
                  {% for article in articles|slice(7, 1) %}
                  {{ include(themefolder ~ '/teasers/home_article.html') }}
                  {% endfor %}
                </div>
              </div>

              <div class="home_row_3 col-sm-6 col-md-4 col-lg-6">
                  <div class="prova">
                    {% for article in articles|slice(8, 1) %}
                    {{ include( themefolder ~ '/teasers/home_article_big.html') }}
                    {% endfor %}
                  </div>
                </div>

              <div class="home_row_3 col-sm-6 col-md-4 col-lg-3">
                <div class="">
                    {% for article in articles|slice(9, 1) %}
                    {{ include( themefolder ~ '/teasers/home_article.html') }}
                    {% endfor %}
                </div>
              </div>

          </div>

            <div class="row fourcolumn">
              {% for article in articles|slice(10, 4) %}
              {{ include( themefolder ~ '/teasers/4column-home.html') }}
              {% endfor %}
              {# /#articlesbox #}
            </div>

        </div>

      </div>

      {% if sitedata.show_otherwebsites%}
      <div id="other-websites" class="col text-center shadow banner-box">
        <div class="color_secondary">
          <h4>I nostri siti web</h4>
        </div>
        {% for website in sitedata.network_websites %}
          <a href="{{website.url}}" target="_blank">
            <div class="other-website">
              <div class="cover">
                <img src="{{website.logo}}" alt="{{website.title}}">
              </div>
              <div class="website-title">
                {{website.title}}
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
      {% endif %}

  </div>

</div>
