<div class="container">
  <div class="row">
    <div class="col">
      <div id="white_box">
        <div class="cover">
          <img class="img-fluid" src="{{ path.content.cover_url_original }}" alt="{{ path.content.cover_alt }}" />
        </div>
        <div class="title_box">
          <div class="categories">
            {% for cat in path.content.categories %}
            {% autoescape false %}
            <div class="category-item color_secondary">
              <a href="{{cat.path}}">{{cat.title}}</a>
            </div>
            {% endautoescape %}
            {% endfor %}
          </div>
          <div class="title">
            <h1 class="color_primary">{{ path.content.title }}</h1>
          </div>
          <div class="created">
            <p>{{ path.content.created|date("d/m/Y") }}</p>
          </div>
        </div>
        <div class="description">
          {{ path.content.body|raw }}
        </div>
        <div class="links">
          <h4 class="color_secondary">LINK</h4>
          <ul class="colorbg_primary color_secondary link-category">
            {% for link in path.content.links %}
            <li class="">
              {% autoescape false %}
              <a href="{{link.uri}}" target="_blank" rel="noopener">{{link.title}}</a>
              {% endautoescape %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div id="other_articles">
        <h4 class="color_secondary">Ti potrebbero interessare anche</h4>

              <div class="row fourcolumn">
                  {% for article in articles|slice(0, 4) %}
                  {{ include(themefolder ~ '/teasers/4column-home.html') }}
                  {% endfor %}
              </div>

              <div class="row ">
                  {% for article in articles|slice(5, 2) %}
                  {{ include(themefolder ~ '/teasers/carousel_item.html') }}
                  {% endfor %}
              </div>

              <div class="row fourcolumn">
                  {% for article in articles|slice(7, 4) %}
                  {{ include(themefolder ~ '/teasers/4column-home.html') }}
                  {% endfor %}
              </div>

              <div class="row ">
                  {% for article in articles|slice(11, 2) %}
                  {{ include(themefolder ~ '/teasers/carousel_item.html') }}
                  {% endfor %}
              </div>
      </div>
    </div>
  </div>

  <div id="about-us" class="text-center colorbg_secondary banner-box">
    {{sitedata.body|raw }}
  </div>

  {% if sitedata.show_otherwebsites%}
  <div id="other-websites" class="col text-center shadow banner-box">
    <div class="color_secondary">
      <h4>I nostri siti web</h4>
    </div>
    {% for website in sitedata.network_websites %}
    <a href="{{website.url}}" target="_blank">
      <div class="other-website">
        <div class="cover">
          <img src="{{website.logo}}" alt="{{website.title}}">
        </div>
        <div class="website-title">
          {{website.title}}
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  {% endif %}

</div>
