<div class="container">

  <div class="col-12 col-lg-8 m-auto">
    <div class="row ">
      <div id="category-info" class="text-center">
        <h1 class="color_secondary">{{ path.content.title }}</h1>
        <p>{{ path.content.description|striptags }}</p>
      </div>
    </div>
  </div>

  <div class="row">

      <div class="col-12 col-lg-3 col-xl-2 articlesbox">
        <div id="articlesbox">
            <div class="last_article_column colorbg_secondary">
              <div class="card-header colorbg_primary">
                <p class="text-white text-center articoli">Gli ultimi articoli</p>
              </div>
              <div class="row category-row">
                {% for article in articles|slice(0, 6) %}
                {{ include( themefolder ~ '/teasers/last-category-column.html') }}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6 col-xl-8 prova">
          <div class="row barre-laterale-category">
            {% for article in articles|slice(6, 4) %}
            {{ include(themefolder ~ '/teasers/teaser-category.html') }}
            {% endfor %}
          </div>
        </div>

        <div class="col-12 col-lg-3 col-xl-2 articlesbox">
          <div id="articlesbox">
              <div class="last_article_column colorbg_secondary">
                <div class="card-header colorbg_primary">
                  <p class=" text-white text-center articoli">Gli ultimi articoli</p>
                </div>
                <div class="row category-row">
                  {% for article in articles|slice(10, 6) %}
                  {{ include( themefolder ~ '/teasers/last-category-column.html') }}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

        <div id="about-us" class="text-center colorbg_secondary banner-box">
          {{sitedata.body|raw }}
        </div>

        {% if sitedata.show_otherwebsites%}
        <div id="other-websites" class="col text-center shadow banner-box">
          <div class="color_secondary">
            <h4>I nostri siti web</h4>
          </div>
          {% for website in sitedata.network_websites %}
            <a href="{{website.url}}" target="_blank">
              <div class="other-website">
                <div class="cover">
                  <img src="{{website.logo}}" alt="{{website.title}}">
                </div>
                <div class="website-title">
                  {{website.title}}
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
        {% endif %}


      </div>
  </div>
