/* Big apple Mac */
@media (max-width: 1440px) {
  .carousel .article-item .title {
    font-size: 16px;
  }
}

/* Laptop with touch */
@media (max-width: 1440px) {
  .carousel .article-item .title {
    font-size: 14px;
  }
}

/* ----------- Media Query iPad Pro ----------- */
/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .homepage .carousel .article-item .text-box {
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

/* Landscape */
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .homepage .carousel .article-item .text-box {
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

/* ----------- iPad classic ----------- */
/* Portrait */
@media only screen and (min-width: 768px) and (max-height: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .homepage .carousel .article-item .text-box {
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .carousel .article-item .title {
    font-size: 11px;
  }
}

/* iPad classic landscape */
@media (min-width: 768px) and (max-width: 1024px) and (max-height: 1023px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .homepage .carousel .article-item .text-box {
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  .navbar>.container,
  .navbar>.container-fluid,
  .navbar>.container-lg,
  .navbar>.container-md,
  .navbar>.container-sm,
  .navbar>.container-xl,
  .navbar>.container-xxl {
    justify-content: end;
  }
}

@media (max-width: 575px) {
  .carousel .article-item .title {
    font-size: 14px;
  }

  #category-info {
    padding: 10px;
  }

  #main_article .article-text {
    padding: 10px;
  }

  .article_page h1 {
    font-size: 2rem;
  }

  #main_article .links li {
    flex-direction: column;
  }

  #main_article .links li p {
    margin: 0;
  }

  #main_article .links li em {
    margin-bottom: 10px;
  }

  .article_page .col-lg-8,
  .article_page .col-lg-4 {
    padding: 0;
  }
}
