body{
  font-size: 14px;
  max-width: 2000px;
  overflow-x: hidden;
  margin: 0 auto;
}

a {
  color: #000;
  text-decoration: none;
}


a:hover, a:visited {

}

a:hover {
  text-decoration: none;
}

/* NAVBAR */
nav {
  margin: 0 -15px;
}

#navbarNav {
  justify-content: center;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000;
  text-transform: uppercase;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("black_burger.svg");
}

.nav-category {
  text-transform: uppercase;
  margin: 0 .5rem;
}

/* homepage */
.site_name {
  margin: 30px 0;
  text-transform: uppercase;
}

/* homepage carousel */
.homepage .carousel .article-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel_item .title a {
  font-size: 1rem;
}

.homepage .carousel .article-item .text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: .5rem;
  width: 90%;
}

.read-more {
  display: inline-block;
  padding: 5px 15px;;
}


/* Articles Grid */
.shadow {
  -webkit-box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.25);
}

.article-item {
  margin: 15px 0;
}

.article-item .text-box {
  padding: 15px;
  background-color: #fff;
}

.category-item {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 3px;
}

.article-item .title {
  text-transform: uppercase;
  font-size: 20px;
}

.grid-item {
  width: 33%;
}

.grid-item_inner{
  margin: 1rem;
  padding: 1rem;
}

/* Header */
#header{

}

#logoimg{
  margin: .5rem 0;
}

#logowrpper img,
#logowrpper h1{
  display: inline-block;
}

/* colonna di destra */
#col-dx {
  padding: 15px;
  text-align: justify;
}

#col-dx h3 {
  text-transform: uppercase;
  color: #000;
  text-align: left;
}

/* CHI SIAMO / ABOUT US */

#about-us {
  margin-bottom: 90px;
}

#about-us p {
  margin: 0;
}

#about-us h3 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* MOST SEEN ARTICLES BOX */
#most_seen_articles {
  margin-bottom: 60px;
}

/* OTHER WEBSITES */
#other-websites {
  padding: 1rem;
}

#other-websites h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.other-website {
  display: inline-block;
  margin: 15px;
}

/**************************
CATEGORY
*************************/
/* category page */

#category-info {
  padding: 30px 60px;
}

#category-info h1 {
  text-transform: uppercase;
  font-weight: bold;
}

/********************
ARTICLE
*********************/
/* article explosed */
#main_article .article-text {
  padding: 30px 60px;
}

#main_article .cover img {

}

.title_box {
  text-align: left;
}

.title_box .title {
  text-transform: uppercase;
}

#main_article .links {
  margin-top: 90px;
}

#main_article .links h4 {
  margin-bottom: 15px;
}

#main_article .links ul {
  margin: 0;
  padding: 0;
}

#main_article .links li {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

#main_article .links li p {
  margin-right: 30px;
}


#other_articles {
  margin: 90px 0;
}

#other_articles h4 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}


/* Footer */
#footer{
  padding: 1rem;
  margin-top: 90px;
}

.love {
  text-transform: uppercase;
}

.cookie {
  margin-bottom: 30px;
}

.card {
  margin-bottom: 1rem;
}

.card{
  padding: 0.5rem;
  border-radius: 0;
  color: #000;
}
.card-body {
    padding: 0.5rem;
}

.btn{
  border-radius: 0;
}

/* Cookie banner */
#cookiebanner{
  background-color: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  display: none;
}

#cookiebanner_inner{
  padding: 0.5rem 1rem;
}

#cookiebanner_inner .btn-block{
  float: right;
  width: auto;
}

/* Messages */
#alertsbox{
  position: absolute;
  top: 1em;
  right: 0;
}

/*********************
PAGINA ARTICOLO ESPLOSO
*************************/

/* CUSTOM CLASS */
.inline-block {
  display: inline-block;
}

.heart {
  color: red;
}

/* cookie Preferences */
#cookiePreferences {
    border: 2px solid #666666;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #ffffff;
    padding: 0.3rem 1rem;
    height: 2rem;
    cursor: pointer;
}

/* Responsive behaviour */
@media (max-width: 1600px) {
  .grid-item {
      width: 25%;
  }
}


@media (max-width: 1280px) {
  .grid-item {
      width: 33%;
  }
}

@media (max-width: 1024px) {
  .grid-item {
      width: 50%;
  }

  #logowrpper img,
  #logowrpper h1{
    display: block;
  }

  #logowrpper h1{
    font-size: 2.0rem;
    text-align: center;
    padding-top: 0.5rem;
  }

  .display-3 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .display-4 {
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 1.2;
  }
}


@media (max-width: 768px) {
  .navbar-dark .navbar-nav .nav-link {
    margin-left: 40px;
  }

  #about-us {
    padding: 15px;
  }
}

@media (max-width: 540px) {
  .grid-item {
      width: 100%;
  }

  #category-info h1 {
    font-size: 2rem;
  }
}
