/*******************************************
  RESET
******************************************/
#navbarDropdown404 {
  display: none;
}

/****************************************
  FONTS
***************************************/
/* comfortaa-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/comfortaa-v45-latin-regular.woff2') format('woff2');
}

/* comfortaa-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/comfortaa-v45-latin-600.woff2') format('woff2');
}

/* comfortaa-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/comfortaa-v45-latin-700.woff2') format('woff2');
}

/* fira-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira-sans-v17-latin-regular.woff2') format('woff2');
}

/* fira-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/fira-sans-v17-latin-600.woff2') format('woff2');
}

/* fira-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/fira-sans-v17-latin-700.woff2') format('woff2');
}

/* kantumruy-pro-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Kantumruy Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/kantumruy-pro-v8-latin-regular.woff2') format('woff2');
}

/***************  LOADER  ******************/
#loader_out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 999992;
  overflow: hidden;
}

#loader_in {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.loader_img {
  display: block;
  animation-name: loaderPulse;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  width: 300px;
}

@keyframes loaderPulse {
  0% {
    transform: scale(0.8, 0.8);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0.8;
  }
}

/*********************************************************************************/
body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

body * {
  scroll-margin-top: 93px;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 0;
}

h2 {
  font-family: 'Comfortaa';
}

a {
  color: #fcae40;
  text-decoration: none;
}

.container, .row,
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 0;
  margin: 0;
  padding: 0;
}

#about-us.text-center {
  text-align: left !important;
}

a:hover, a:visited {
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
}

h1.title {
  padding: 0 2rem;
}

h1, h2, h3, h4, h5, h6, p,
#numbers_section .text_home p {
  max-width: 80%;
}

#numbers_section * {
  max-width: 100%;
}

form * {
  max-width: 95%;
}

/***************
COVER TOP
***************/
#header {
  background: #fff !important;
}

.global_blocks.top_block.container {
  max-width: 100%;
}

/****************
NAVBAR
****************/
#navbarNav {
  justify-content: flex-end;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000;
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-item:last-child a:hover,
.navbar-dark .navbar-nav li:last-child .nav-link:focus {
  color: #fff;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("black_burger.svg");
}

nav.navbar.navbar-expand-lg.navbar-dark {
  background-color: #f2f2f2;
  padding: .8rem 2rem;
}

.navbar-brand img {
  max-width: 220px;
}

.menu {
  text-align: center;
}

ul.menu li a {
  color: #000;
  text-decoration: none;
  font-size: .9rem;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

ul.menu li:last-child a {
  display: inline-block;
  background-color: #fcae40;
  padding: 5px;
}

/*******************
CONTENT
******************/
.block_align_left,
.block_full_width {
  padding: 2rem 2rem;
}

.block_full_width {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.cover_wrapper .block_align_left {
  padding-bottom: 0;
}

.cover {
  position: relative;
}

.top_block_yellow {
  position: relative;
  color: #fff;
  padding: 2rem;
  flex-direction: column;
}

.top_block_yellow h2 {
  font-weight: 700;
  font-size: 1.4rem;
}

.top_block_yellow p {
  font-size: 1rem;
  line-height: 20px;
}

.clip_path {
  width: 130px;
  position: absolute;
  left: 13%;
  top: 99.5%;
}

.top_block_green {
  color: #fff;
  display: grid;
  place-content: center;
  text-align: left;
  padding: 60px 2rem;
}

.top_block_green p {
  font-size: 1rem;
  line-height: 20px;
}

.content_grey_1 {
  padding: 1.5rem 1rem;
}

.content_grey_2 {
  padding: 1.5rem 1rem;
}

.block {
  margin: 2rem 0;
  padding: 0;
}

.block img {
  margin: 0 auto;
  display: flex;
}

.block_2 {
  margin: 3rem 0 1rem;
  padding: 0 2rem;
}

.block_3 {
  padding: 2rem 2rem;
  font-family: 'Comfortaa';
}

.number_description p {
  font-family: 'Fira Sans';
  color: #000;
}

.text_home p:first-of-type {
  font-family: 'Comfortaa';
  font-size: 1rem;
}

.content_block_grey_inner p:first-of-type {
  font-family: 'Comfortaa';
  line-height: 25px;
}

.text_home_2 p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
}

.text_home p:last-child {
  font-family: 'Fira Sans';
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
}

.content_block_grey {
  margin-left: 0;
  margin-top: 1.5rem;
  position: relative;
}

.content_block_grey_2 {
  margin-right: 0;
  margin-top: 1.5rem;
  position: relative;
}

.clip_path_one {
  position: absolute;
  left: 44%;
  rotate: 90deg;
  top: -98px;
}

.clip_path_one img {
  width: auto;
  height: 130px;
}

.clip_path_two img {
  width: auto;
  height: 130px;
}

.clip_path_two {
  position: absolute;
  left: 44%;
  top: -98px;
  rotate: 90deg;
}

.logo_content img {
  margin-bottom: 1rem;
}

.logo_content_conflavoro img {
  max-width: 175px;
}

.logo_content_euro img {
  max-width: 125px;
}

.content_grey_1 p:first-of-type,
.content_grey_2 p:first-of-type {
  font-family: "comfortaa";
  font-size: 1rem;
  line-height: 25px;
}

.content_grey_1 p:last-of-type,
.content_grey_2 p:last-of-type {
  font-weight: 700;
}

.logo_content_conflavoro,
.logo_content_euro {
  text-align: center;
}

.block_align_left .text_home {
  padding-bottom: 2rem;
}

/*****************
BOTTONI
******************/
.check-up {
  display: inline-block;
  position: relative;
  margin: 2rem 0;
}

.bottom_check {
  padding: 0 3rem;
}

a.button-text {
  font-weight: 700;
  font-family: "comfortaa";
  text-decoration: none;
  color: #000;
  position: relative;
  z-index: 1;
  padding-bottom: 5px;
}

.actions input {
  color: #fff;
}

a.button-text::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 110%;
  height: 3px;
  background-color: #fcae40;
  z-index: -1;
  transition: height 0.5s ease;
}

a.button-text:hover::before {
  height: 120%;
}

a.button-text::after {
  content: '\f105';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
}

/* bottone form */
.actions {
  position: relative;
  display: inline-block;
  text-align: right;
  margin-top: 30px;
}

.actions input {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  padding-right: 20px;
  letter-spacing: .5px;
}

.actions::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fcae40;
  transition: height 0.5s ease;
}

.actions:hover::before {
  height: 120%;
}

.actions input:hover {
  background-color: transparent;
}

.actions::after {
  content: '\f105';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
}

/******************
SERVIZI
*******************/
.servizi_wrapper {
  padding: 0 1rem;
  margin: 2rem 0;
  display: block;
}

.servizi {
  padding: 1rem;
  max-width: none;
  margin-right: 0;
}

.servizi img {
  margin-bottom: .5rem;
}

.row_servizi {
  margin-bottom: 1.5rem;
}

.titolo {
  font-size: 1rem;
  width: 100%;
  font-weight: 700;
}

.subtitle {
  padding-left: 1rem;
}

.subtitle {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.partnership_wrapper {
  position: relative;
}

.partnership_text {
  position: relative;
  color: #000;
  margin-top: 3rem;
  padding: 0 2rem;
  margin-right: 20%;
}

.partnership_text h2 {
  color: #2d5354;
  font-size: 2rem;
  font-weight: 700;
}

/********************
FORM
********************/
form.hs-form-private label#label-firstname-e2951bf5-91ff-4288-a89c-361204b0d9d3,
form.hs-form-private label#label-lastname-e2951bf5-91ff-4288-a89c-361204b0d9d3,
form.hs-form-private label#label-email-e2951bf5-91ff-4288-a89c-361204b0d9d3,
form.hs-form-private label#label-phone-e2951bf5-91ff-4288-a89c-361204b0d9d3,
form.hs-form-private label#label-company-e2951bf5-91ff-4288-a89c-361204b0d9d3,
form.hs-form-private label#label-servizi_conflavoro_area-e2951bf5-91ff-4288-a89c-361204b0d9d3,
form.hs-form-private label#label-prodotto_di_interesse-e2951bf5-91ff-4288-a89c-361204b0d9d3 {
  opacity: 0;
}

.block_form {
  padding: 4rem 2rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.text_form {
  margin-bottom: 2rem;
}

.text_form h2 {
  font-size: 24px;
  font-weight: 700;
}

.text_form p {
  font-size: 1rem;
}

.text_form img {
  margin-right: 10px;
  width: 20px;
}

input {
  background-color: #00ffff00;
  border: none;
  border-bottom: 1px solid #fcae40;
  color: #fff;
}

textarea,
.hs_firstname input,
.hs_lastname input,
.hs_email input,
.hs_phone input,
.hs_company input,
.hs_servizi_conflavoro_area input {
  width: 100%;
}

input:hover {
  background-color: #1f494a;
  color: #fff;
}

ul.inputs-list li {
  display: block;
  margin: 1rem 0;
}

.input select {
  background-color: #ff000000;
  border: none;
  border-bottom: 1px solid #fcae40;
  width: 100%;
}

select option:first-of-type {
  display: none;
}

.hs_servizi_conflavoro_area {
  color: #fff;
}

.hs_servizi_conflavoro_area div.input select {
  color: #757575;
}

.hs_prodotto_di_interesse textarea {
  background-color: transparent;
  color: #fff;
  border-color: transparent;
  border-bottom: 1px solid #fcae40;
}

ul.inputs-list {
  font-size: .8rem;
}

.hs-button {
  text-align: end;
  text-transform: uppercase;
}

.hs-button::before {
  content: '\f105';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
}

/********************
FOOTER
**********************/
.footer {
  padding: 3rem 2rem;
  text-align: center;
}

.footer a {
  color: #000;
  text-decoration: none;
}

.footer img {
  max-width: 270px;
  margin: auto;
  display: flex;
  margin-bottom: 30px;
}

.footer_servizi {
  display: flex;
  flex-direction: column;
}

.row.footer ul {
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer ul li:first-child {
  font-weight: 700;
}

.col-sm-12.cookie {
  display: flex;
  justify-content: center;
}

.inline-block {
  margin: 0 .5rem;
}

#policy {
  background-color: #2d5354;
  padding: .5rem 0;
  color: #fff;
  font-size: .8rem;
}

#policy a {
  color: #fff;
  text-decoration-line: none;
}

.heart {
  color: #b1cecf;
  margin: 0 .15rem;
}

.block_3_inner h5 {
  font-size: 20px;
  font-weight: 700;
}

.block_3_inner {
  text-align: center;
  margin-top: 1rem;
}

/*******************
PAGINA PARTNERSHIP
*****************/
.partnership_cover {
  color: #fff;
  padding-top: 2rem;
}

.block_yellow_partner {
  position: relative;
  padding: 2rem;
}

.clip_path_partner {
  position: absolute;
  bottom: -43px;
  left: 5%;
  width: 160px;
}

.scopri_vantaggi_wrapper.row {
  align-items: center;
}

.scopri_vantaggi_wrapper img {
  max-width: 60px;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

.scopri_vantaggi {
  padding: 2rem 2rem 0;
  color: #fff;
}

.page_wrapper .logo_content_conflavoro,
.page_wrapper .logo_content_euro {
  text-align: left;
  margin: 1rem 0;
}

.content_block_grey_inner {
  margin-bottom: 2rem;
}

.number,
.number_plus {
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
}

/*******************
CHECK-UP GRATUITO
*****************/
.bottom_img_wrapper {
  position: relative;
}

.green_triangle {
  position: absolute;
  top: -1px;
  left: 19%;
  width: 110px;
}

/*******************
SERVIZI INTEGRATI
*****************/
.safety_and_health {
  padding: 1rem 0;
}

.safety_and_health img {
  max-width: 50px;
  margin-bottom: 1rem;
}

.service img {
  width: 33px;
  margin-right: 10px;
}

.safety_and_health h6 {
  font-family: "comfortaa";
  font-weight: 700;
  font-size: 17px;
}

.safety_and_health h2 {
  font-weight: 700;
}

.service {
  padding: .5rem 0;
}

.images_block_2 img {
  margin: 0 auto;
  display: block;
}

.number_phone p {
  margin-bottom: 0;
}

.number_phone a {
  display: inline-flex;
  color: #fff;
}

/********************
CONTATTACI
********************/
.greeting_wrapper {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 9999;
}

.greeting_wrapper .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greeting_wrapper .inner>div {
  border: 3px solid;
}

.greeting {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.contattaci {
  margin-top: .25rem;
  display: inline;
  padding: 2.5px 5px;
  border-radius: 27px;
  font-weight: 700;
  font-size: .75rem;
}

.contattaci p {
  color: #fff;
  margin: 0;
  letter-spacing: .9px;
  font-size: .8rem;
}

@media (min-width: 576px) {

  h1, h2, h3, h4, h5, h6, p,
  #numbers_section .text_home p,
  form * {
    max-width: 90%;
  }

  .top_block_green p {
    margin: auto;
  }

  .green_triangle {
    top: -1px;
    left: 10%;
    width: 160px;
  }

  .clip_path_one img {
    width: auto;
    height: 160px;
  }

  .clip_path_two img {
    width: auto;
    height: 160px;
  }

  .clip_path_two {
    top: -121px;
  }

  .clip_path_one {
    top: -121px;
  }

  .number,
  .number_plus {
    font-size: 2.2rem;
  }

  .footer img {
    max-width: 300px;
  }

  .block {
    margin: 3rem 0;
    padding: 0 2rem;
  }

  .page_wrapper .logo_content_conflavoro,
  .page_wrapper .logo_content_euro {
    text-align: left;
  }

  .greeting_wrapper {
    bottom: 15px;
    right: 15px;
  }

  .greeting {
    width: 70px;
    height: 70px;
  }

  .contattaci {
    padding: 2px 10px;
  }
}

@media (min-width: 768px) {
  a.button-text::before {
    left: -15px;
  }

  h1.title {
    text-align: center;
    margin: auto;
  }

  form * {
    max-width: 95%;
  }

  .check-up {
    text-align: center;
  }

  .sicurezza {
    padding: 1.5rem 1rem 0 0;
  }

  .safety_and_health img {
    max-width: 55px;
    margin-bottom: 1rem;
  }

  .clip_path {
    width: 150px;
  }

  #policy {
    font-size: 1rem;
  }

  .footer_servizi {
    flex-direction: row;
  }

  .top_block_yellow {
    padding: 2rem;
  }

  .top_block_green p {}

  .scopri_vantaggi {
    /* padding: 0 1rem; */
  }

  .scopri_vantaggi_wrapper img {
    max-width: 60px;
  }

  .text_form h2 {
    font-size: 2rem;
    font-weight: 700;
  }

  .check-up {
    margin: 3rem 0;
    padding-right: 25px;
  }

  .clip_path_two {
    left: 44%;
  }
}

@media (min-width: 992px) {

  h1, h2, h3, h4, h5, h6, p,
  #numbers_section .text_home p,
  form * {
    max-width: 100%;
  }

  .check-up {
    text-align: right;
  }

  a.button-text {
    padding-left: 120px;
  }

  .actions {
    float: right;
  }

  .actions input {
    padding-left: 100px;
  }

  a.button-text::before {
    left: 0;
  }

  .loader_img {
    width: 350px;
  }

  .green_triangle {
    top: -1px;
    left: 11%;
  }

  .safety_and_health {
    padding: 2rem 0;
  }

  .service {
    padding: 0.5rem 1rem;
  }

  .text_home_2 {
    margin-bottom: 2rem;
  }

  .subtitle {
    padding-left: 0;
  }

  .number,
  .number_plus {
    font-size: 2.5rem;
  }

  .block_3_inner h5 {
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 2rem;
  }

  .block_3_inner {
    text-align: center;
    margin-top: 2rem;
  }

  .logo_content_euro img {
    margin-bottom: 0;
    max-width: 125px;
  }

  .logo_content_conflavoro img {
    margin-bottom: 1rem;
    max-width: 175px;
  }

  .scopri_vantaggi_wrapper img {
    max-width: 100px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .scopri_vantaggi {
    padding: 3rem 2rem;
  }

  nav.navbar.navbar-expand-lg.navbar-dark,
  .block_align_left {
    padding: 2rem;
  }

  .top_block_yellow {
    position: absolute;
    bottom: 0%;
    left: 10%;
    padding: 2rem;
    max-width: 300px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .top_block_yellow h2 {
    font-size: 1.5rem;
  }

  .top_block_yellow p {
    font-size: 1rem;
    line-height: 25px;
  }

  .clip_path {
    width: 160px;
    height: auto;
    position: absolute;
    left: 14%;
  }

  .block img {
    display: block;
  }

  .content_block_grey {
    margin-left: 25px;
    margin-top: 0;
  }

  .content_block_grey_2 {
    margin-right: 25px;
    margin-top: 0;
  }

  .clip_path_one {
    rotate: 0deg;
    left: -21%;
    right: 100%;
    top: 36px;
  }

  .clip_path_one img {
    width: auto;
    height: auto;
  }

  .clip_path_two img {
    width: auto;
    height: auto;
  }

  .clip_path_two {
    left: 100%;
    rotate: 180deg;
    right: -21%;
    top: 35px;
  }

  .content_grey_1 {
    margin-top: 0;
  }

  .navbar-brand img {
    max-width: 340px;
  }

  .menu a {
    margin-left: 30px;
    font-size: 1rem;
    display: block;
  }

  ul.menu li:last-child a {
    padding: 5px 10px;
  }

  .servizi {
    padding: 1rem;
    max-width: 340px;
    margin-right: 2rem;
  }

  .servizi img {
    margin-bottom: .3rem;
  }

  .row_servizi {
    margin-bottom: .8rem;
    align-items: center;
  }

  .subtitle {
    padding: 0;
  }

  nav.navbar.navbar-expand-lg.navbar-dark {
    padding: .8rem 1rem;
  }

  .block,
  .block_2 {
    margin: 4rem 0 0;
    padding: 0 2rem;
  }

  .bottom_check {
    display: flex;
    justify-content: end;
    padding: 0 1rem;
  }

  .servizi_wrapper {
    padding: 0 1rem;
    margin: 4rem 0 0;
  }

  .block_form {
    padding: 4rem 2rem;
  }

  .content_block_grey_inner {
    margin-bottom: 0;
  }

  .partnership_text {
    top: 29%;
    left: 3.5%;
    padding: 0;
    margin-right: 26%;
    color: #fff;
    position: absolute;
  }

  .partnership_text h2 {
    color: #fff;
    font-weight: 700;
  }

  .top_block_green {
    padding: 4rem 2rem;
  }

  .top_block_green p {
    max-width: 75%;
    text-align: center;
  }

  .clip_path_partner {
    bottom: -57px;
    left: 9%;
    width: 100%;
  }

  .partnership_cover {
    padding-top: 3rem;
  }
}

@media (min-width: 1024px) {
  nav.navbar.navbar-expand-lg.navbar-dark {
    padding: 0.8rem 2rem;
  }

  .check-up,
  .bottom_check {
    padding: 0 5rem;
  }

  .block_form {
    padding-right: 8rem;
    padding-left: 2rem;
  }

  .all_services_wrapper .block_align_left {
    padding-right: 8rem;
  }
}

@media (min-width: 1200px) {
  .green_triangle {
    top: -1px;
    left: 14%;
  }

  .conflavoro_ec_image_1 img {
    float: inline-end;
  }

  .safety_and_health h6 {
    font-size: 18px;
  }

  .safety_and_health img {
    max-width: 70px;
    margin-bottom: 1rem;
  }

  .top_block_yellow {
    left: 8%;
    max-width: 350px;
  }

  .scopri_vantaggi_wrapper img {
    max-width: 100px;
  }

  /* margini di pagina */
  nav.navbar.navbar-expand-lg.navbar-dark,
  .block_align_left,
  .block_full_width {
    padding: .8rem 8rem;
  }

  .block_full_width {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .servizi_wrapper_2 {
    padding: 4rem 0;
  }

  .text_home p:first-of-type,
  .text_home_2 p,
  .content_block_grey_inner p:first-of-type {
    font-size: 1.1rem;
    line-height: 30px;
  }

  .page_wrapper .text_home {
    margin: 3rem 0;
  }

  .top_block_yellow h2 {
    font-size: 2rem;
  }

  .top_block_yellow p {
    font-size: 1.1rem;
  }

  .clip_path {
    left: 15%;
    width: 180px;
  }

  .clip_path_partner {
    bottom: -58px;
    left: 5%;
  }

  .top_block_green {
    color: #fff;
  }

  .top_block_green p {
    max-width: 50%;
    font-size: 1.1rem;
    line-height: 25px;
  }

  .content_grey_1 {
    padding: 1rem;
    margin-top: 0;
  }

  .content_grey_2 {
    padding: 1rem;
  }

  .block {
    margin: 4rem 0;
    padding: 0 8rem;
  }

  .block_2 {
    padding: 0 8rem;
  }

  .block_3 {
    padding: 4rem 8rem;
  }

  .bottom_check {
    display: flex;
    justify-content: end;
    padding: 0 8rem;
  }

  .servizi_wrapper {
    padding: 0 8rem;
    margin: 4rem 0 0;
  }

  .scopri_vantaggi {
    padding: 3rem 8rem;
  }

  .partnership_text h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
  }

  .partnership_text {
    top: 33%;
    left: 10.5%;
    margin-right: 30%;
  }

  .block_form {
    padding: 4rem 8rem;
  }

  .text_form {
    margin-bottom: 0;
  }

  .text_form h2 {
    font-size: 48px;
  }

  .text_form p {
    font-size: 20px;
  }

  .text_form img {
    margin-right: 10px;
    width: 25px;
  }

  .footer {
    padding: 4rem 8rem;
    text-align: left;
  }

  .footer_servizi {
    justify-content: space-between;
  }

  .footer img {
    max-width: 400px;
    margin: 0;
    display: block;
  }

  .logo_content_conflavoro img {
    margin-bottom: 1.5rem;
    max-width: 200px;
  }

  .content_grey_1 p:first-of-type,
  .content_grey_2 p:first-of-type {
    font-size: 1rem;
    line-height: 25px;
  }

  .logo_content_euro img {
    margin-bottom: 1rem;
    max-width: 100px;
  }

  .clip_path_one {
    left: -21%;
  }

  .titolo {
    font-size: 1rem;
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .partnership_cover {
    padding-top: 4rem;
  }

  .safety_and_health h6 {
    font-size: 20px;
  }

  .top_block_green p {
    max-width: 40%;
  }

  .number,
  .number_plus {
    font-size: 3rem;
  }

  .titolo {
    font-size: 20px;
    width: 100%;
  }

  .content_grey_1 p:first-of-type,
  .content_grey_2 p:first-of-type {
    font-size: 1.3rem;
    line-height: 25px;
  }

  .content_grey_1 {
    padding: 2rem 3rem;
    margin-top: 0;
  }

  .content_grey_2 {
    padding: 2rem 3rem;
    margin-bottom: 0;
  }

  .clip_path {
    left: 12.5%;
  }

  .partnership_text {
    top: 40%;
    left: 9%;
    margin-right: 0;
  }

  .clip_path_one {
    left: -20.5%;
  }
}

@media (min-width: 1550px) {
  .clip_path {
    left: 11.7%;
  }

  .block,
  .block_2 {
    margin: 4rem 0;
    padding: 0 17rem;
  }

  .clip_path_partner {
    bottom: -58px;
    left: 12%;
  }

  .scopri_vantaggi {}
}

@media (min-width: 1800px) {
  .block_2 {
    padding: 0 19rem;
  }
}

@media (min-width: 1920px) {
  html {
    background-color: #f4f6f6;
  }

  body {
    max-width: 1920px;
    margin: auto;
  }
}

/* cookie Preferences */
#cookiePreferences {
  border: 2px solid #666666;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #fff;
  padding: 0.3rem 1rem;
  height: 2rem;
  cursor: pointer;
}
