<div class="page_wrapper">
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="white_box">

          <!-- <div class="title_box">
            <div class="title">
              <h1>{{ page.title }}</h1>
            </div>
          </div> -->

          <div class="description">
            {{ page.body|raw }}
          </div>

        </div>

      </div>
    </div>


  </div>

</div>
