<div class="page_home">
  <div class="node_top_block">
    <div class="video_wrapper">
      <video width="100%" height="auto" autoplay loop muted>
        <source src="{{sitedata.video|striptags}}" type="video/mp4">
        Your browser does not support the video tag.
      </video>

    </div>

    <div class="red_circle">
      <h3>DISCOVER<br>HOW<br>TO VISIT<br>POMPEII</h3>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12 offset-lg-3 col-lg-8 pt-4">
          <div class="content">{{sitedata.body|striptags }}</div>
        </div>
      </div>
    </div>
  </div>

  <div id="articlesbox">
    <div class="container">
      <div class="row">
        <h1>Book a tour</h1>
        {% for article in articles|slice(0, 9) %}
        {{ include( themefolder ~ '/teasers/home_article.html') }}
        {% endfor %}
        {# /#articlesbox #}
      </div>
    </div>
  </div>

  <!-- Bottom Block -->
  {% if sitedata.block_bottom %}
  <div class="global_blocks bottom_block container-fluid">
    <div class="row">
      <div class="col-left col-12 col-lg-6">
        <div class="inner">
          <img src="/themes/pompei/media/welcome-pompeii.jpg" alt="Visit Pompeii">
        </div>
      </div>
      <div class="col-right col-12 col-lg-6">
        <div class="inner">
          {{sitedata.block_bottom|raw}}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="faq_wrapper">
    <div class="container">
      <div class="row">
        <h3 class="text-center">FAQ</h3>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                What languages are the guided tours available in?
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Guided tours are available in various languages, including English, Italian, French, Spanish, German, and more. Check Check on <a href="https://en.instazione.it/" target="_blank">en.instazione.it</a> specific language options.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                How do I get to Pompeii from Naples?
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Pompeii is easily accessible from Naples by train. You can take the Circumvesuviana train from Naples to Pompei Scavi-Villa dei Misteri station, which is just a short walk from the archaeological site.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                What are the opening hours of Pompeii?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body"><p>The opening hours of Pompeii may vary depending on the time of year:</p>
              <p>From 1st April to 31st October, it opens at 9:00 AM and closes around 7:00 PM. Last entrance is at 5.30 PM.</p>
              <p>From 1st November to 31st March, it opens at 9:00 AM and closes around 5:00 PM. Last entrance is at 5.00 PM.</p>
              <p>It's best to check the official website for the most up-to-date information.</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
