<div class="article_wrapper">
  <div class="page_article mt-5">
    <div class="node_body">
      {% for link in path.content.links %}
      {% autoescape false %}
      <a class="red_circle" href="{{link.uri}}" target="_blank">
        {% endautoescape %}
        {% endfor %}
        <h3>BOOK</h3>
      </a>
      <div class="body_wrapper">
        {{ path.content.body|raw }}
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-12 col-md-8">
          <div id="book" class="links">
            <ul>
              {% for link in path.content.links %}
              <div class="btn btn-primary">
                {% autoescape false %}
                <a href="{{link.uri}}">{{link.title}}</a>
                {% endautoescape %}
              </div>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
