<div class="container">
  <div class="row">
      <div class="col">


        <div id="category-info" class="text-center">
          <h1 class="color_secondary">{{ path.content.title }}</h1>
          <p>{{ path.content.description|striptags }}</p>
        </div>


        <div id="articlesbox">
          <!-- <h2 class="color_primary display-4">Gli ultimi articoli</h2> -->
          <div class="">

            <div class="row">
              {% for article in articles|slice(0, 99) %}
              {{ include(themefolder ~ '/teasers/home_article.html') }}
              {% endfor %}
              {# /#articlesbox #}
            </div>
          </div>

        </div>

      </div>
  </div>

</div>
