<div class="page_home_wrapper">
  <div class="row">
    <div class="col text-center">

      <div class="title site_name" style="display:none;">
        <h1>{{sitedata.title}}</h1>
      </div>
    </div>
  </div>

  <section class="banner">
    <div class="row first_row">
      <div class="col">
        <a href="/"><img alt="Autoingros" class="logo2" width="150" height="16" src="https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/logo2.png" /></a>
      </div>
    </div>

    <div class="container">
      <div class="row align-items-center top_block_wrapper">
        <div class="col-12 col-md-6 col-xl-7">
          <!-- Top Block -->
          {% if sitedata.block_top %}
          <div class="global_blocks top_block container-fluid">
            {{sitedata.block_top|raw}}
          </div>
          {% endif %}
        </div>
        <div class="col-12 col-md-6 col-xl-5">
          <div id="form" class="webform_wrapper">
            <div class="logo_and_text_wrapper">
              <div class="logo_wrapper">
                <img class="logoimg" src="{{sitedata.logo}}" alt="{{sitedata.title}}">
              </div>
              <div class="txt_wrapper">
                <h4 class="my-2">PRENOTA IL TUO TEST DRIVE</h4>
              </div>
            </div>
            <div id="webformwrapper"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="about-us" class="text-center banner-box">
    {{sitedata.body|raw }}
  </div>


</div>
