<div class="page_class {{ page.title }}">
  <div class="page_wrapper">
    {% if path.level1 != 'grazie'%}
    <section class="banner colorbg_primary {{ page.title }}">
      <div class="row first_row">
        <div class="col">
          <a href="/"><img alt="Autoingros" class="logo2" src="https://emeraldlab-libu.s3.eu-central-1.amazonaws.com/libus/2023-11/logo2.png" /></a>
        </div>
      </div>

      <div class="container">
        <div class="row align-items-center page_main_row">
          <div class="col-12 col-md-6">
            <!-- Top Block -->
            <div class="global_blocks top_block container-fluid">
              {{ page.field_top_block|raw }}
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-5">
            <div id="form" class="webform_wrapper">
              <div class="logo_and_text_wrapper">
                <div class="logo_wrapper">
                  <img class="logoimg" src="{{sitedata.logo}}" alt="{{sitedata.title}}">
                </div>
                <div class="txt_wrapper">
                  <h4 class="my-2">PRENOTA IL TUO TEST DRIVE</h4>
                </div>
              </div>
              <div id="webformwrapper"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div id="about-us" class="banner-box">
      {{page.body|raw }}
    </div>
    {% else %}
    <div class="">
      <div class="row">
        <div class="col">


            <div class="page_title">
              <h1 style="display:none;">{{ page.title }}</h1>
            </div>

          <div class="description">
            {{ page.body|raw }}
          </div>


        </div>
      </div>



    </div>
    {% endif %}

  </div>

</div>
